footer{
  border-top: 5px solid $fn-black;
  .footer-main{
    background: $fn-ltgrey;
    padding-bottom: 60px;
    .logoRow{
      padding: 60px 0;
    }

    h2, .sitemap-hdr{
      color: $fn-black;
      font-size: 1.8rem;
      line-height: 1.12;
      text-transform: uppercase;
      font-weight: $fn-medium-weight;
      letter-spacing: 2.65px;
    }
    .sitemap-hdr{
      margin-bottom: 1.6rem;
      display:block;
    }
    ul{
      margin-top: 40px;
    }
    li{
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: $fn-normal-weight;
      color: $fn-dkgrey;
      margin-bottom: 24px;
      line-height: 1.4;
      a{
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }
      i{
        display: inline-block;
        margin-right: 10px;
        color: $fn-grey;
        &:before{
          font-size: 2.4rem;
          vertical-align: middle;
        }
      }
    }
  }
  .footer-sub{
    background: $fn-white;
    padding: 30px 0;
    border-top: 1px solid $fn-grey;
    li{
      display: inline-block;
      a{
        font-weight: $fn-normal-weight;
        font-size: 1.2rem;
        padding: 0 10px;
      }
      &:not(:last-child){
        border-right: 1px solid $fn-blue;
      }
    }
  }
}
/* mobile */
@media only screen and (min-width : 0px) {

}

/*Tablet*/
@media only screen and (min-width : 768px) {

}

/* Desktop */
@media only screen and (min-width : 992px) {
  .footer-main{
    .is-flex > div{
      padding:15px 45px;
      &:not(:last-child){
        border-right: 1px solid $fn-grey;
      }
    }
  }
  .footer-sub{
    text-align: right;
  }
}
