/* XS */
@media only screen and (max-width : 768px) {
    .footer-styling-mobile {
        padding-top: 44px;
        padding-bottom: 45px;
        margin-top: 45px;
        border-top: 1px solid $fn-mdgrey;
        border-bottom: 1px solid $fn-mdgrey;
        background: $fn-grey;
    }
    .footer-menu-social {
        display:inline;
    }

    .footer-help-menu-spacing {
        margin-left:0;
    }
    .footer-row > div:not(:last-child) {
        border-right: 0;
        height:auto;
    }
    .footer-logo {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 6px;
    }

    .footer-logo-size {
        max-width:260px;
    } 

    .footer-menu-ul {
        list-style-type: none;
        padding-left:35px;
    }
}
/* SM */
@media only screen and (min-width : 769px) and (max-width : 992px) {
    .footer-styling-mobile {
        padding-top: 44px;
        padding-bottom: 45px;
        margin-top: 45px;
    }
    .footer-logo {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 12px;
    }

    .footer-logo-size {
        max-width:400px;
    } 

}

/* SM */
@media only screen and (max-width : 992px) {
    .footer-menu-social {
        display:inline;
    }
    .footer-row > div:not(:last-child) {
        border-right: 0;
        height:auto;
    }
}

@media only screen and (min-width : 992px) {
    .footer-text-links {
        text-align: right;
    }
}