{
    "presets": [
      "react",
      ["env", {"modules": false}]
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "react-hot-loader/babel"
    ]
}
