#admin-dashboard-page {
  padding-bottom: 40px;

  h1 {
    margin-bottom: 3rem;
  }

  h2 {
    text-transform: none;
    margin-bottom: 0;
  }

  aside,
  section {
    margin-bottom: 30px;
  }

  .dashboard-card {
    display: block;
    position: relative;
    border: 1px solid $fn-grey;
    padding-top: 220px;
    margin: 15px 0;
    color: $fn-dkgrey;
    transition: all 0.3s ease-in-out;
    background-color: $fn-white;
    background-repeat: no-repeat;
    background-position: bottom 20px right 20px;
    width: 100%;
    text-align: left;

    &.manage-apps {
      background-image: url('/images/manage-apps.svg');
    }

    &.manage-users {
      background-image: url('/images/manage-users.svg');
    }

    &.manage-billing {
      background-image: url('/images/manage-billing.svg');
    }

    &.manage-services {
      background-image: url('/images/manage-services.svg');
    }

    &.manage-iot {
      background-image: url('/images/manage-iot.svg');
    }

    &.manage-voicemail-and-usage {
      background-image: url('/images/voicemail-and-usage.svg');
    }

    &.manage-wireless-reports {
      background-image: url('/images/wireless-reports.svg');
    }

    &.manage-push-talk {
      background-image: url('/images/push-to-talk.svg');
    }

    &.shop-devices-rates {
      background-image: url('/images/important-devices.svg');
    }

    &.shop-specialized-devices {
      background-image: url('/images/specialized-devices.svg');
    }

    &.shop-solutions {
      background-image: url('/images/solutions.svg');
    }

    .desc {
      position: absolute;
      top: 20px;
      left: 20px;
      width: calc(100% - 40px);

      h3 {
        font-size: $fn-h3-desktop;
        font-weight: $fn-normal-weight;
        margin-bottom: 1rem;
      }

      p {
        font-size: $fn-label-desktop;
        font-weight: $fn-normal-weight;
      }
    }

    > span {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: $fn-label-desktop;
      text-transform: uppercase;
      color: $fn-ltblue;

      i {
        font-size: 1.2rem;
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 5px;
        vertical-align: -1px;
      }
    }

    &:focus,
    &:hover {
      > span,
      h3 {
        text-decoration: underline;
      }
    }
  }

  .modal {
    .ptt-modal-actions {
      button {
        min-width: 250px;
      }
    }

    ul.ptt-providers {
      margin-top: 6rem;

      li {
        position: relative;
        padding: 0 3rem;
        height: 150px;

        button {
          height: 150px;
        }

        label,
        button {
          width: 200px;
        }

        &:not(:last-child) {
          margin-bottom: 60px;
        }

        label {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          margin: -3.6rem auto 1rem auto;
          text-align: center;
          font-weight: $fn-normal-weight;
        }

        button {
          margin: 0 auto;
          border: 1px solid $fn-mdgrey;
          background-color: white;
          padding: 1rem;
          display: block;

          img {
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
          }

          &.active,
          &:focus {
            @include focus();
          }
        }
      }
    }
  }
}

@media #{$tablet,$desktop} {
  #admin-dashboard-page {
    .modal {
      ul.ptt-providers {
        display: flex;
        justify-content: center;

        li {
          display: inline-block;

          &:not(:last-child) {
            border-right: 1px solid $fn-mdgrey;
            margin-bottom: 0;
          }

          button {
            margin: 0;
          }
        }
      }
    }

    .manage-actions {
      li {
        width: 50%;
      }

      li:first-child, //first child should always be full width
      li:first-child + li + li + li:last-child { //if 4 children, last should be full width
        width: 100%;
      }
    }

    .shop-actions {
      li:first-child { //first child should always be full width
        width: 100%;
      }
    }
  }
}

@media #{$desktop} {
  #admin-dashboard-page {
    .manage-actions {
      li:first-child:nth-last-child(2) ~ li, //if 2 children, all should be full width
      li:first-child:nth-last-child(3) ~ li { //if 3 children, all should be full width
        width: 100%;
      }

      &.hide-aside {
        //reset base size
        li,
        li:first-child:nth-last-child(2) ~ li {
          width: 33.3%;
        }

        li:first-child,
        li:first-child + li + li + li:last-child {
          width: 66.6%;
        }
        li:first-child:nth-last-child(3),
        li:first-child:nth-last-child(3) ~ li {
          width: 33.3%;
        }
        li:first-child:last-child {
          width: 100%;
        }
      }
    }

    //FPSE-1509 one special case breaks all the rules
    [data-numcards="3"] {
      .manage-actions:not(.hide-aside) {
        li {
          width: 50% !important;
        }
      }
    }
  }
}

@media #{$tablet} {
  #admin-dashboard-page {
    .manage-actions {
      li:first-child:nth-last-child(2) ~ li { //if 2 children, all should be full width
        width: 100%;
      }
    }

    .shop-actions {
      li {
        width: 50%;
      }

      li:first-child, //first child should always be full width
      li:first-child:nth-last-child(2) ~ li { //if 2 children, all should be full width
        width: 100%;
      }
    }
  }
}
