#admin-dashboard-page {
  h2{
    text-transform: none;
  }
  section,
  aside{
    margin-bottom: 30px;
  }
  .dashboard-card{
    display: block;
    background: $fn-white;
    position: relative;
    border: 1px solid $fn-dkgrey;
    padding-top: 57.6%;
    margin: 15px 0;
    color: $fn-dkgrey;
    .desc{
      position: absolute;
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      h3{margin-bottom: 1rem;}
      p{font-size: 1.6rem;font-weight: $fn-normal-weight;}
    }
    > span{
      position: absolute;
      bottom: 15px;
      left: 15px;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $fn-ltblue;
      &:after{
        display: inline-block;
        margin-left: 10px;
        content: '>'
      }
    }
  }
}
