#admin-dashboard-page {
  padding-bottom: 70px;
  h1{
    margin-bottom: 3rem
  }
  h2 {
    text-transform: none;
    margin-bottom: 0;
  }

  aside,
  section {
    margin-bottom: 30px;
  }

  .dashboard-card {
    display: block;
    background: $fn-white;
    position: relative;
    border: 1px solid $fn-dkgrey;
    padding-top: 220px;
    margin: 15px 0;
    color: $fn-dkgrey;
    transition: all .3s ease-in-out;
    .desc {
      position: absolute;
      top: 20px;
      left: 20px;
      width: calc(100% - 30px);

      h3 {
        font-size: 2.8rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.6rem;
        font-weight: $fn-normal-weight;
      }
    }

    > span {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $fn-ltblue;

      &:after {
        display: inline-block;
        margin-left: 10px;
        content: '⟩';
      }
    }
    &:hover,
    &:focus{
      transform: scale(1.05);
      h3,
      > span{
        text-decoration: underline;
      }
    }


  }
}
