#app-details-page {
  background: $fn-ltbluegrey;

  .breadcrumb-nav {
    background: white;
  }

  .appicon-wrapper {

    .app-icon {
      min-width: 48px;

      img {
        width: 100%;
      }
    }
  }

  .endorsed {
    color: $fn-ltblue;
    font-weight: $fn-medium-weight;
  }

  .app-summary {
    padding: 30px 0;

    > .container {
      background: $fn-white;
      border: 1px solid rgba(182, 182, 182, 0.50);
      box-shadow: 0 2px 2px 0 rgba(182, 182, 182, 0.50);
      padding: 4rem 2rem;
    }
    .ratings-container{
      display: inline-block;
    }
    .ratings-star{
      height: 1.6rem;
    }
    .ratings-number {
      display: none;
    }

    .app-meta {
      ul {
        > li {
          width: 50%;
          float: left;
          margin-bottom: 10px;
          line-height: 1.6;
        }
      }
    }
  }

  .app-gallery {
    background: $fn-white;
  }

  .app-description,
  .app-developer {
    padding: 70px 0 50px;
  }

  .app-ratings {
    padding: 70px 0 50px;
    background: $fn-white;
  }

  .app-management {
    float: right;
    background-color: transparent;
    border: none;
  }

  .developer-website {
    margin-top: 30px;
    text-align: center;
    i{
      margin-left: 10px;
    }
  }
}

@media #{$mobile, $tablet} {
  #app-details-page {
    .app-description,
    .app-developer {
      h2 {
        padding-bottom: 2rem;
      }
    }

    .app-ratings {
      h2 {
        padding-bottom: 2rem;
      }
    }
  }
}


@media #{$desktop} {
  #app-details-page {
    .app-description,
    .app-developer {
      h2 {
        padding-bottom: 3rem;
      }
    }

    .app-ratings {
      & h2 {
        padding-bottom: 5rem;
      }
    }
  }
}
