.app-details-page{
  background: $fn-grey;
  .app-summary{
    padding: 30px 0;
    >.container{
      background: $fn-white;
    }
  }
  .app-gallery{
    background:$fn-white;
    height: 600px;
  }
  .app-description,
  .app-developer{
    padding: 70px 0 50px;
  }
  .app-ratings{
    padding: 70px 0 50px;
    background: $fn-white;
  }
  .developer-website{
    margin-top: 30px;
  }
}

/* mobile */
@media only screen and (min-width : 0px) {
  .app-details-page{
    .app-summary{
      >.container{
        background: transparent;
      }
    }
    .developer-website{
      text-align: left;
    }
  }
}

/*Tablet*/
@media only screen and (min-width : 768px) {

}

/* Desktop */
@media only screen and (min-width : 992px) {
  .app-details-page{
  .app-summary{
    >.container{
      background: $fn-white;
    }
  }
    .developer-website{
      text-align: center;
    }
  }
}

/* LG */
@media only screen and (min-width : 1200px) {

}
