#app-details-page {
  padding-top: 0;
  padding-bottom: $footer-margin-top;
  margin-bottom: 0 - $footer-margin-top;
  background: $fn-ltbluegrey;

  .loading-container {
    text-align: center;
    padding: 10rem 0;
    margin-bottom: 0 - $footer-margin-top;
  }

  .breadcrumb-nav {
    background: white;
  }

  .alert-bars {
   margin-bottom: 0;

   .alert {
     margin: 30px 0 0;
   }
 }

  .app-gallery {
    background: $fn-white;
  }

  .app-description,
  .app-developer {
    p {
      padding-top: 3rem;
    }
  }

  .app-description {
    padding: 60px 0;

    .whats-new {
      padding-top: 6rem;

      &-date {
        color: $fn-dkgrey;
        font-size: $fn-content-page-text-desktop;
        line-height: 1.5;
        font-weight: $fn-normal-weight;
        padding-top: 10px;
      }
    }
  }

  .app-ratings {
    padding: 70px 0 50px;
    background: $fn-white;
  }

  .app-developer {
    padding: 60px 0 100px;
    margin-bottom: 0 - $footer-margin-top;

    .developer-website {
      margin-top: 40px;
      text-align: center;

      i {
        margin-right: 0;
        font-size: 1.2rem;
        vertical-align: middle;
      }
    }
  }
}
@media #{$mobile, $tablet} {
  #app-details-page {
    .app-description,
    .app-developer {
      p {
        padding-top: 2rem;
      }
    }

    .app-ratings {
      h2 {
        padding-bottom: 2rem;
      }
    }
  }
}

@media #{$desktop} {
  #app-details-page {
    .app-ratings {
      & h2 {
        padding-bottom: 5rem;
      }
    }
  }
}
