#app-details-page {
  padding-top: 0;
  background: $fn-ltbluegrey;

  .loading-container {
    text-align: center;
    padding: 4rem 0;
  }

  .breadcrumb-nav {
    background: white;
  }

  .app-details-alerts {
    background: white;
    padding-bottom: 10px;
  }

  .app-summary {
    padding: 30px 0;

    > .container {
      background: $fn-white;
      border: 1px solid rgba(182, 182, 182, 0.50);
      box-shadow: 0 2px 2px 0 rgba(182, 182, 182, 0.50);
      padding: 4rem 2rem;
    }
  }

  .app-gallery {
    background: $fn-white;
  }

  .app-description,
  .app-developer {
    padding: 70px 0 50px;
  }

  .app-ratings {
    padding: 70px 0 50px;
    background: $fn-white;
  }

  .app-management {
    float: right;
    background-color: transparent;
    border: none;
    width: auto;
    float: left;

    .checkbox label {
      padding-top: 0;
    }
  }

  .developer-website {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;

    i {
      margin-left: 10px;
      font-size: 1.6rem;
      vertical-align: middle;
    }
  }
}

@media #{$mobile, $tablet} {
  #app-details-page {
    .app-description,
    .app-developer {
      h2 {
        padding-bottom: 2rem;
      }
    }

    .app-ratings {
      h2 {
        padding-bottom: 2rem;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  #app-details-page {
    .app-management {
      padding-left: 0;
      margin-top: 1rem;

      .checkbox label {
        padding-left: 0;
      }
    }
    .app-details-alerts {
      background: transparent;
      padding: 20px 0 0;
      .alert {
        margin-bottom: 0;
      }
    }
  }
}

@media #{$desktop} {
  #app-details-page {
    .app-description,
    .app-developer {
      h2 {
        padding-bottom: 3rem;
      }
    }

    .app-ratings {
      & h2 {
        padding-bottom: 5rem;
      }
    }
  }
}
