#app-details-page {
  padding-top: 0;
  background: $fn-ltbluegrey;

  .loading-container {
    text-align: center;
    padding: 4rem 0;
  }

  .breadcrumb-nav {
    background: white;
  }

  .app-details-alerts {
    background: white;
    padding-bottom: 10px;
  }

  .app-gallery {
    background: $fn-white;
  }

  .app-description,
  .app-developer {
    padding: 70px 0 50px;
  }

  .app-description {
    .whats-new {
      &-title {
        padding-bottom: 0;
      }

      &-date {
        color: $fn-dkgrey;
        font-size: $fn-content-page-text-desktop;
        line-height: 1.5;
        font-weight: $fn-normal-weight;
      }
    }
  }

  .app-ratings {
    padding: 70px 0 50px;
    background: $fn-white;
  }

  .developer-website {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;

    i {
      margin-left: 10px;
      font-size: 1.6rem;
      vertical-align: middle;
    }
  }
}
@media #{$mobile, $tablet} {
  #app-details-page {
    .app-description,
    .app-developer {
      h2 {
        padding-bottom: 2rem;
      }
    }

    .app-description {
      .whats-new {
        &-title {
          padding-top: 6rem;
        }

        &-date {
          padding-bottom: 2rem;
        }
      }
    }

    .app-ratings {
      h2 {
        padding-bottom: 2rem;
      }
    }
  }
}
@media (max-width: $screen-sm) {
  #app-details-page {
    .app-details-alerts {
      background: transparent;
      padding: 20px 0 0;

      .alert {
        margin-bottom: 0;
      }
    }
  }
}
@media #{$desktop} {
  #app-details-page {
    .app-description,
    .app-developer {
      h2 {
        padding-bottom: 3rem;
      }
    }

    .app-description {
      .whats-new {
        &-title {
          padding-top: 6rem;
        }

        &-date {
          padding-bottom: 3rem;
        }
      }
    }

    .app-ratings {
      & h2 {
        padding-bottom: 5rem;
      }
    }
  }
}
