#configure-mdm-page {
  padding-top:0;
  h1 {
    margin: 30px 0;
  }
  .mdm-form-wrapper {
    padding-top: 30px;
  }
}

.break-mdm-btn {
  float: right;
}

.mdm-form {
  margin-bottom: 90px;

  .mdm-description {
    font-size: $fn-label-default-size;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 30px;

    .help-text {
      padding-left: 10px;
    }
  }

  .msgBlock {
    font-weight: $fn-medium-weight;
    font-size: $fn-label-default-size;
    line-height: 16px;
  }

  #mdm_submit_btn {
    min-width: 200px;
  }
}
