.sample-breadcrumbs {
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #1071BC;
  text-transform: uppercase;
  margin-bottom: 55px;

  button {
    border: 0;
    background: none;
    text-transform: uppercase;
  }

  span {
    color: $fn-dkgrey;
  }
}

.break-mdm-btn {
  float: right;
}

#configure-mdm-page {
  h1 {
    margin: 30px 0;
  }
}

.mdm-form {
  margin-bottom: 90px;

  .mdm-description {
    font-size: $fn-label-default-size;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 30px;

    .help-text {
      padding-left: 10px;
    }
  }

  .msgBlock {
    font-weight: $fn-medium-weight;
    font-size: $fn-label-default-size;
    line-height: 16px;
  }

  #mdm_submit_btn {
    min-width: 200px;
  }
}
