.mdm-form {
    margin-top: 45px;
    margin-bottom: 90px;
    .msgBlock {
        font-weight: $fn-medium-weight;
        font-size: $fn-label-default-size;
        line-height: 16px;
    }
    .btn {
        min-width: 200px;
        height: 40px;
        line-height: 40px;
    }
}

.form-group {
    padding-top: 1em;
    padding-bottom: 15px;
    margin: 0;
    .control-label {
        font-weight: $fn-medium-weight;
        font-size: $fn-label-default-size;
        text-transform: capitalize;
        margin-bottom: 10px;
        line-height: 16px;
        .required-asterisks {
            color: $fn-red;
        }
        .help-text {
            padding-left: 10px;
        }
    }
}

 .form-control {
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    &:focus {
        @include focus();
        border-radius: 4px;
    }
}

.form-control,
input[type='text'],
textarea {
    font-size: $fn-label-default-size;
    font-weight: $fn-medium-weight;
    color: $fn-dkgrey;
    background: $input-bgcolor;
    border-color: $input-outline;
    box-shadow: none;
    &::-webkit-input-placeholder {
        color: $input-outline-disabled;
    }
    &:-moz-placeholder,
    &::-moz-placeholder {
        color: $input-outline-disabled;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $input-outline-disabled;
    }
}

.form-control[disabled],
input[disabled],
textarea[disabled] {
    background: white;
    border-color: $input-outline-disabled;
    color: $input-outline-disabled;
    label {
        color: $input-outline-disabled;
    }
}

.help-text,
.help-block {
    color: $fn-mdgrey;
    font-size: $fn-small-text-default-size;
    text-transform: none;
    font-style: italic;
}

select {
    &.form-control {
        position: relative;
        display: block;
        line-height: 40px;
        height: 40px;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid #ccc;
        padding: 0 0.75em;
        color: $fn-dkgrey;
        font-size: $fn-label-default-size;
        font-weight: $fn-medium-weight;
        background: $input-bgcolor url('/images/DownArrow.svg') no-repeat;
        background-size: 10px 10px;
        background-position: 98% 48%;
    }
    &.placeholder {}
}

legend {
    font-size: $fn-label-default-size;
}

/****** ERROR STATE ******/

.form-group.has-error {
    .control-label {
        color: $fn-red!important;
    }
    .form-control {
        border-color: $fn-red!important;
    }
}

.form-group {
    .msgBlock.error-list {
        margin: 0 0 10px 0;
        padding-left: 10px;
    }
}

.error {
    color: $fn-red!important;
}
