.error-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: $fn-grey;
	padding: 12% 0;
}

.error-container {
	width: 90%;
	max-width: 980px;
	margin: auto;
	padding: 15px 25px;
	background: $fn-white;
	line-height: 30px;

	h1{
		margin-bottom: 26px;
	}

	a {
		display: table;
		font-size: $fn-content-page-text-desktop;
	}
}

section.session-timeout{
	background: $fn-grey;
	padding: 30px 20px 100px;
	> .container{

		> div{
			background: $fn-white;
			padding: 60px 30px;
			text-align: center;
			h1, p {
				margin-bottom: 30px;
			}
		}
	}
}

@media #{$tablet,$desktop} {
	.error-container {
		padding: 60px 100px;
	}
	section.session-timeout{
		padding-top: 100px;
	}
}
