.error-page {
	background: $fn-grey;
	min-height: 100vh;
	padding: 60px 20px;

	.logo-container {
		margin: 0 auto 30px;

		img {
			width: 100%;
			max-width: 220px;
		}
	}

	.container {
		> div {
			background: $fn-white;
			text-align: center;
			padding: 60px 30px;
		}

		h1,
		p {
			margin-bottom: 30px;
		}

		a {
			font-size: $fn-button-desktop;
		}
	}

	.sites-list {
		li:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	.logout-block{
		margin-top: 30px;
	}

	hr.or {
		position: relative;
		border-top: 1px solid $fn-black;
		margin: 39px auto;
		width: 60%;

		&:after {
			content: 'OR';
			position: absolute;
			display: inline-block;
			background: $fn-white;
			padding: 0 10px;
			margin: 0 auto;
			font-size: $fn-button-desktop;
			font-weight: $fn-bold-weight;
			top: -9px;
			right: 0;
			left: 0;
			width: 60px;
			text-align: center;
		}
	}
}

section.session-timeout {
	background: $fn-grey;
	padding: 30px 20px 100px;

	.container {
		> div {
			background: $fn-white;
			padding: 60px 30px;
			text-align: center;

			h1 {
				margin-bottom: 20px;
			}

			p {
				margin-bottom: 30px;
			}

			a {
				white-space: nowrap;
			}
		}
	}
}

@media #{$tablet} {
	.error-page {
		padding: 100px 0;
		.logo-container img{
			max-width: 320px;
		}
		.container{
			> div{
				padding: 60px 65px;
			}

		}
	}

	section.session-timeout {
		padding-top: 100px;

		.container {
			> div {
				padding: 80px 100px;

				h1 {
					margin-bottom: 30px;
				}

				p {
					margin-bottom: 60px;
				}
			}
		}
	}
}

@media #{$desktop} {
	.error-page {
		padding: 120px 0;

		.logo-container img{
			max-width: 320px;
		}

		.container {
			> div{
				padding: 80px 90px;
			}
		}

	}
}
