.error-page {
	min-height: 100vh;
}

.success-page,
.session-timeout {
	margin-bottom: 0 - $footer-margin-top;
}

.error-page,
.success-page {
	background: $fn-grey;
	padding: 60px 20px;

	.logo-container {
		margin: 0 auto 30px;

		img {
			width: 100%;
			max-width: 250px;
		}
	}

	.container {
		> div {
			background: $fn-white;
			text-align: center;
			padding: 40px 30px;
		}

		h1{
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 40px;

			&:empty{
				min-height: 1px;
				margin-bottom: 10px;
			}
		}

		a,
		.as-link {
			margin-top: 40px;
			font-size: $fn-button-desktop;
		}

		.customer-support-phone {
			font-size: $fn-content-page-text-desktop;
		}
	}

	.sites-list {
		li a{
			font-size: $fn-content-page-text-desktop;
		}
		li:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	.logout-block{
		margin-top: 30px;
	}

	hr.or {
		position: relative;
		border-top: 1px solid $fn-black;
		margin: 39px auto;
		width: 60%;

		&:after {
			content: 'OR';
			position: absolute;
			display: inline-block;
			background: $fn-white;
			padding: 0 10px;
			margin: 0 auto;
			font-size: $fn-button-desktop;
			font-weight: $fn-bold-weight;
			top: -9px;
			right: 0;
			left: 0;
			width: 60px;
			text-align: center;
		}
	}
}

section.session-timeout {
	background: $fn-grey;
	padding: 30px 20px 100px;

	.container {
		> div {
			background: $fn-white;
			text-align: center;

			h1 {
				margin-bottom: 40px;
			}

			a {
				white-space: nowrap;
			}
		}
	}
}

@media #{$mobile} {
	section.session-timeout {
		padding: 30px 15px 150px 15px;

		.container {
			> div {
				padding: 60px 30px;
			}
		}
	}
}

@media #{$tablet} {
	.error-page,
	.success-page {
		padding: 100px 0;

		.container{
			> div{
				padding: 60px 65px;
			}
			a,
			.as-link {
				margin-top: 60px;
			}
		}
	}

	section.session-timeout {
		padding: 100px 0 150px 0;

		.container {
			> div {
				padding: 80px 100px;
			}
		}
	}
}

@media #{$desktop} {
	.error-page,
	.success-page {
		padding: 120px 0;

		.container {
			> div {
				padding: 60px 90px;
			}
			a,
			.as-link {
				margin-top: 60px;
			}
		}
	}

	section.session-timeout {
		padding: 100px 0;

		.container {
			> div {
				padding: 80px 30px;
			}
		}
	}
}
