#customer-feedback-page {
  padding: 0;

  .content-wrapper h1 {
    margin: 6rem 0;
  }

  form button:not(.close_btn) {
    margin: 3rem 0 8.5rem 0;

    &.disabled {
      cursor: auto;
      pointer-events: auto;
    }
  }

  #feedback_details {
    height: 125px;
    line-height: 1.5;
  }
}

@media #{$mobile} {
  #customer-feedback-page {
    .content-wrapper h1 {
      margin: 3rem 0;
    }
  }
}
