#customer-feedback-page {
  padding: 0;

  .content-wrapper h1 {
    margin: 6rem 0;
  }

  textarea {
    height: 125px;
    line-height: 1.5;
  }
}

@media #{$mobile} {
  #customer-feedback-page {
    .content-wrapper h1 {
      margin: 3rem 0;
    }
  }
}
