#customer-feedback-page {
  padding: 0;

  h1 {
    margin: 6rem 0;
  }

  p {
    color: $fn-dark;
    font-size: $fn-label-default-size;
  }

  .form-group {
    margin-bottom: 3rem;

    label {
      font-weight: $fn-medium-weight;

      ~ label {
        font-weight: $fn-normal-weight;
      }
    }

    select {
      height: 4.6rem;
    }

    .form-control {
      font-weight: $fn-medium-weight;
    }
  }

  .feedback-btn {
    margin: 3rem 0 6rem 0;

    &.disabled {
      background: $fn-grey;
      color: $fn-mdgrey;
      border: none;
      cursor: auto;
    }
  }

  .alert {
    p {
      color: $fn-white;
    }
  }

  #customer-feedback-exit-modal {
    text-align: center;

    p {
      font-size: $fn-body-default-size;
      padding-bottom: 6rem;
    }

    button {
      margin: 0 1rem;
    }
  }

  #customer-feedback-success {
    position: relative;
    text-align: center;
  	width: 100%;
  	height: 65rem;
  	padding: 0;
  	margin: 0;
  	background: $fn-grey;

    .success-content {
      position: absolute;
      top: 15%;
      left: 15%;
      width: 70%;
      background: $fn-white;
      padding-bottom: 0;
      background: $fn-white;
      line-height: 3rem;

      h1 {
        font-weight: $fn-normal-weight;
        padding: 6rem 0;
        margin: 0;
      }

      p {
        font-size: $fn-body-default-size;
        padding: 0 10rem;
      }

      button {
        margin: 6rem 0;
      }
    }
  }
}

@media #{$tablet} {
  #customer-feedback-page {

    h1 {
      margin: 3rem 0;
    }
  }
}

@media #{$mobile} {
  #customer-feedback-page {

    h1 {
      margin: 3rem 0;
    }

    #customer-feedback-success {
      .success-content {
        top: 5%;
        left: 0;
        width: 100%;
      }
    }
  }
}
