#customer-feedback-page {
  padding: 0;

  h1 {
    margin: 3rem 0;
  }

  button {
    margin: 3rem 0 6rem 0;

    &.disabled {
      background: $fn-grey;
      color: $fn-mdgrey;
      border: none;
      cursor: auto;
    }
  }

  p {
    color: $fn-dark;
    font-size: $fn-label-default-size;
  }

  .form-group {
    margin: 3rem 0;
  }
//form-control-lg not working on select

  #feedback-details {
    height: 14rem;
  }

  #customer-feedback-success {
    position: relative;
    text-align: center;
  	width: 100%;
  	height: 60rem;
  	padding: 0;
  	margin: 0;
  	background: $fn-grey;

    .success-content {
      background: $fn-white;
      margin: 10rem 20rem;
      background: $fn-white;
      line-height: 3rem;

      h1 {
        font-weight: $fn-normal-weight;
        padding: 6rem 0;
        margin: 0;
      }

      p {
        font-size: $fn-body-default-size;
        padding: 0 10rem;
      }

      button {
        margin: 6rem 0;
      }
    }
  }

}
