#customer-feedback-page {
  padding: 0;

  .content-wrapper h1 {
    margin: 6rem 0;
  }

  .feedback-btn {
    margin: 3rem 0 6rem 0;

    &.disabled {
      cursor: auto;
      pointer-events: auto;
    }
  }

  .alert {
    p {
      color: $fn-white;
    }
  }

  #feedback_details {
    height: 125px;
    line-height: 1.5;
  }

  #customer-feedback-success {
    position: relative;
    text-align: center;
  	width: 100%;
  	height: 65rem;
  	padding: 0;
  	margin: 0;
  	background: $fn-grey;

    .success-content {
      position: absolute;
      top: 15%;
      left: 15%;
      width: 70%;
      background: $fn-white;
      padding-bottom: 0;
      background: $fn-white;
      line-height: 3rem;

      h1 {
        font-weight: $fn-normal-weight;
        padding: 6rem 0;
        margin: 0;
      }

      p {
        font-size: $fn-content-page-text-desktop;
        padding: 0 10rem;
      }

      button {
        margin: 6rem 0;
      }
    }
  }
}

@media #{$mobile} {
  #customer-feedback-page {

    .content-wrapper h1 {
      margin: 3rem 0;
    }

    #customer-feedback-success {
      .success-content {
        top: 5%;
        left: 0;
        width: 100%;
      }
    }
  }
}
