#customer-feedback-page {

  h1 {
    margin: 3rem 0;
  }

  button {
    margin: 3rem 0 6rem 0;

    &.disabled {
      background: $fn-grey;
      color: $fn-mdgrey;
      border: none;
    }
  }

  p {
    color: $fn-dark;
    font-size: $fn-label-default-size;
  }

  .form-group {
    margin: 3rem 0;
  }
//form-control-lg not working on select

  #feedback-details {
    height: 14rem;
  }

}
