.standalone-form-page {
  .content-wrapper h1 {
    margin: 6rem 0;
  }

  .checkbox {
    padding-top: 15px;

    .error,
    label {
      padding-left: 0;
    }
  }
}

.form-actions {
  display: block;
  text-align: center;

  .form-group {
    display: inline-block;
  }
}

@media #{$mobile} {
  .standalone-form-page {
    .content-wrapper h1 {
      margin: 3rem 0;
    }
  }
}
