#subscribe-to-gtoc-page {
  padding: 0;

  .form-group {
    margin-top: 30px;
  }

  .content-wrapper {
    position: relative;

    h1 {
      margin: 6rem 0;
    }

    figure {
      figcaption {
        text-align: left;
        font-size: $fn-small-text-desktop;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .control-label {
      font-size: $fn-h5-desktop;
      font-weight: $fn-normal-weight;

      &[for="email"] {
        font-size: $fn-label-desktop;
      }
    }

    .selection-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 15px;
      border: none;

      button {
        width: 110px;
        background: none;
        font-size: $fn-button-desktop;
        font-weight: $fn-medium-weight;
        color: $fn-ltblue;
        text-transform: uppercase;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        text-decoration: none;

        &:focus {
          border-radius: 8px;
          @include focus();
        }
      }
      .checkbox {
        font-size: $fn-label-desktop;
        font-weight: $fn-bold-weight;
        //override default alert text color
        color: $fn-black;
        .select-all-description {
          margin-left: 5px;
        }
      }
    }

    fieldset .checkbox {
      margin-top: 20px;
      vertical-align: middle;
      border-bottom: 1px solid $fn-grey;

      label {
        padding-bottom: 20px;
        color: $fn-black;

        .label-text-normal {
          display: block;
          width: 100%;
        }

        strong {
          vertical-align: top;
          margin-left: 5px;
          width: 20%;
        }

        span.label-text-normal {
          display: inline-block;
          font-weight: $fn-normal-weight;
          width: 75%;
          float: right;
        }
      }

      &:first-of-type {
        padding-top: 20px;
        margin-top: 0px;
        border-top: 1px solid $fn-mdgrey;
      }

      &:last-of-type {
        border-bottom: 1px solid $fn-mdgrey;
      }
    }
  }
}
@media #{$mobile} {
  #subscribe-to-gtoc-page {
    .content-wrapper {
      h1 {
        margin: 3rem 0;
      }

      label {
        padding: 0;
      }

      fieldset .checkbox label span.label-text-normal {
        width: 100%;
        padding-left: 30px;
      }
    }
  }
}
@media #{$tablet, $desktop} {
  #subscribe-to-gtoc-page {
    .gtoc_email-class {
      margin-top: 60px;
    }

    .content-wrapper {
      .control-label {
        font-size: $fn-h4-desktop;
      }

      .select-all-button {
        top: 8px;
      }
    }
  }
}
