#subscribe-to-gtoc-page {
  padding: 0;

  .content-wrapper h1 {
    margin: 6rem 0;
  }

  form button:not(.close_btn) {
    margin: 3rem 0 6rem 0;

    &.disabled {
      cursor: auto;
      pointer-events: auto;
    }
  }
}

@media #{$mobile} {
  #subscribe-to-gtoc-page {
    .content-wrapper h1 {
      margin: 3rem 0;
    }
  }
}
