#subscribe-to-gtoc-page {
  padding: 0;

  .content-wrapper {
    position: relative;

    .manage-alerts-h1 {
      margin: 30px 0;
      text-align: left;
    }

    .fema-map-wrapper {
      .fema-figcaption {
        text-align: left;
        font-size: $fn-small-text-desktop;
        margin-bottom: 20px;
      }

      .fema-map {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .control-label {
      &[for="email"] {
        margin-top: 60px;
      }
    }

    .selection-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .select-all-checkbox {
        border: 0;
      }

      .clear-all-button {
        font-size: $fn-h5-desktop;
      }
    }

    .gtoc-checklist-hr {
      border-color: $fn-mdgrey;
      margin: 0;
    }

    .radio-group-hr {
      border-color: $fn-mdgrey;
      margin-top: 60px;
    }


    .radiogroup-fieldset {
      .radio-label {
        padding: 0;
        margin-top: 60px;
        font-size: $fn-h5-desktop;
        color: $fn-black !important; //override default label color, even for an error
        text-transform: uppercase;
      }
      //TODO: remember to fix this if we change the asterisk and stuff. Change the wrapper name or remove;
      .subtitle-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .help-text {
          padding-top: 5px;
        }

        .required-asterisks {
          margin-left: 5px;
          align-self: flex-start;
        }
      }
    }

    .femalist-fieldset {
      padding-left: 50px;

      .control-label {
        padding-left: 20px;
      }

      .select-all-checkbox-label {
        min-height: 0;
        padding-bottom: 20px;
        padding-left: 0;
      }

      .select-all-description,
      .strong-label {
        font-weight: $fn-medium-weight;
        font-size: $fn-h5-desktop;
      }

      .checkbox-label,
      .select-all-checkbox-label {
        font-size: $fn-label-desktop;
        color: $fn-black !important; //override default label color, even for an error
        font-weight: $fn-normal-weight;
      }

      .cr {
        margin-bottom: 0;
      }

      .checkbox:not(.select-all-checkbox) {
        vertical-align: middle;
        padding: 20px 0;
        border-bottom: 1px solid $fn-grey;

        .checkbox-label {
          min-height: 0;
          padding: 0;

          span.label-text-normal {
            display: inline-block;
            font-size: $fn-h5-desktop;
            width: 100%;
            float: right;
          }
        }
        &:last-of-type {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}

//TODO: Tablet styles are bunked up
@media #{$tablet} {
  #subscribe-to-gtoc-page {
    .content-wrapper {
      .femalist-fieldset {
        .checkbox {
          padding: 30px 0 30px 20px;
        }
      }
    }
  }
}

@media #{$desktop} {
  #subscribe-to-gtoc-page {
    .manage-alerts-h1 {
      margin: 60px 0;
    }

    .content-wrapper {
      .femalist-fieldset {
        width: 75%;

        .checkbox:not(.select-all-checkbox) {
          padding: 30px 0;
          .checkbox-label {
            span.label-text-normal {
              width: 85%;
            }
          }
        }
      }
    }
  }
}
