#subscribe-to-gtoc-page {
  padding: 0;

  .content-wrapper {
    position: relative;

    h1 {
      margin: 30px 0;
      text-align: left;
    }

    figure {
      figcaption {
        text-align: left;
        font-size: $fn-small-text-desktop;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .control-label {
      &[for="email"] {
        margin-top: 60px;
      }
    }

    .selection-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      .select-all-checkbox {
        border: 0;
      }

      .clear-all-button {
        font-weight: $fn-bold-weight;
        font-size: $fn-h5-desktop;
      }
    }

    .gtoc-checklist-hr {
      border-color: $fn-mdgrey;
      margin: 0 0 0 20px;
    }

    .radio-group-hr {
      border-color: $fn-mdgrey;
      margin-top: 60px;
    }


    .radiogroup-fieldset {
      .radio-label {
        padding: 0;
        margin-top: 60px;
        font-size: $fn-h5-desktop;
        text-transform: uppercase;
      }
      .subtitle-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .radio-subtitle {
          text-transform: none;
          font-size: $fn-small-text-desktop;
          font-weight: $fn-light-weight;
          font-style: italic;
          padding-top: 5px;
        }

        .required-asterisks {
          margin-left: 5px;
          align-self: flex-start;
        }
      }
    }

    .femalist-fieldset {
      padding-left: 30px;

      .control-label {
        padding-left: 20px;
      }

      .select-all-checkbox {
        label {
          min-height: 0;
          padding-bottom: 20px;
        }
      }

      .select-all-description,
      strong {
        vertical-align: top;
        font-weight: $fn-medium-weight;
        font-size: $fn-h5-desktop;
      }

      label {
        font-size: $fn-label-desktop;
        color: $fn-black !important; //override default label color, even for an error
        font-weight: $fn-normal-weight;
      }

      .cr {
        margin-bottom: 0;
      }

      .checkbox-wrapper {
        .checkbox {
          vertical-align: middle;
          padding: 20px;
          padding-right: 0px;

          label {
            min-height: 0;
            padding: 0;

            span.label-text-normal {
              display: inline-block;
              font-size: $fn-h5-desktop;
              width: 100%;
              float: right;
            }
          }
        }
        &:last-of-type {

          .checkbox {
            padding-bottom: 0;
          }

          hr {
            display: none;
          }
        }
      }

      .checkbox-hr {
        border-color: $fn-grey;
        margin: 0 0 0 20px;
      }
    }
  }
}

@media #{$tablet} {
  #subscribe-to-gtoc-page {
    .content-wrapper {
      .femalist-fieldset {
        .checkbox-wrapper {
          .checkbox {
            padding: 30px 0 30px 20px;
          }
        }
      }
    }
  }
}

@media #{$desktop} {
  #subscribe-to-gtoc-page {
    h1 {
      margin: 60px 0;
    }

    .content-wrapper {
      .femalist-fieldset {
        width: 75%;

        .checkbox-wrapper {
          .checkbox {
            padding: 30px 0 30px 20px;
            label {
              span.label-text-normal {
                width: 85%;
              }
            }
          }
        }
      }
    }
  }
}
