#subscribe-to-gtoc-page {
  padding: 0;

  .content-wrapper {
    position: relative;

    h1 {
      margin: 6rem 0;
    }

    figure {
      figcaption {
        text-align: left;
        font-size: $fn-small-text-desktop;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .control-label[for="femaList"] {
      font-size: $fn-h4-desktop;
      font-weight: $fn-normal-weight;
    }

    .control-label[for="email"] {
      margin-top: 3rem;
    }

    .selection-buttons {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    .selection-buttons,
    fieldset {
      .checkbox {
        label {
          font-size: $fn-label-desktop;
          color: $fn-black !important; //override default label color, even for an error
          font-weight: $fn-normal-weight;

          .select-all-description,
          strong {
            vertical-align: top;
            margin-left: 5px;
            font-weight: $fn-bold-weight;
          }
        }
      }
    }

    fieldset .checkbox {
      vertical-align: middle;
      border-bottom: 1px solid $fn-grey;
      padding: 30px 0;

      label {
        min-height: 1rem;
        padding-bottom: 0;

        .cr {
          margin-bottom: 0;
        }

        strong {
          width: 20%;
        }

        span.label-text-normal {
          display: inline-block;
          width: 75%;
          float: right;
        }
      }

      &:first-of-type {
        border-top: 1px solid $fn-mdgrey;
      }

      &:last-of-type {
        border-bottom: 1px solid $fn-mdgrey;
      }
    }
  }
}

@media #{$mobile} {
  #subscribe-to-gtoc-page {
    .content-wrapper {
      h1 {
        margin: 3rem 0;
      }

      label,
      .error {
        padding: 0;
      }

      .control-label[for="femaList"] {
        font-size: $fn-h5-desktop;
      }

      fieldset .checkbox {
        padding: 20px 0;

        label {
          span.label-text-normal {
            width: 100%;
            padding-left: 35px;
          }
        }
      }
    }
  }
}
