#manage-location-favorites-page {
  padding: 0;

  h1 {
    padding-top: 30px;
  }

  .search-form {
    padding: 0 20px 0 0;
  }

  .alert-bars {
    margin-right: 20px;
  }

  hr {
    margin: 30px 20px 30px 0;
  }

  .loading-container {
    text-align: center;

    p {
      font-size: $fn-h2-desktop;
      margin: 25px 0 60px 0;

      i {
        transform: rotate(-90deg);
        margin-right: 5px;
        font-size: $fn-h2-desktop;
        vertical-align: -5px;
      }
    }
  }

  .no-results-container {
    text-align: center;

    .as-h2 {
      padding: 60px 0 30px 0;
    }

    p {
      font-size: $fn-h4-desktop;
    }

    button {
      margin: 45px 0 100px 0;
    }
  }

  table {
    @include column-widths();
    position: relative;
    margin: 10px 0;
    table-layout: fixed;
    vertical-align: middle;

    th {
      padding: 0;
      .checkbox {
        height: 55px;
        width: 100%;

        label {
          padding: 0;

          .cr {
            margin: 15px;
          }
        }
      }
    }
    p {
      margin: 0;
    }

    .favorite-name-column {
      padding-right: 30px;
    }

    .sortable-table-row {
      background-color: $fn-white;
      border-bottom: 1px solid $fn-dark;

      th {
        background-color: $fn-white;
        &:focus,
        &.active {
          background-color: rgba(16, 113, 188, 0.05);
        }
      }

      td {
        position: relative;
        border: none;
        padding: 20px 0;
        vertical-align: middle;

        .checkbox {
          height: 55px;
          width: 100%;

          label {
            padding: 0;

            .cr {
              margin: 20px 15px 15px 15px;
            }
          }
        }

        button {
          width: 100%;
          white-space: nowrap;
          padding: 0px;
        }

        .row-contents-wrapper {
          padding-top: 5px;
          text-transform: uppercase;
          font-weight: $fn-bold-weight;
          font-size: 16px;
          color: $fn-dkgrey;
          width: 80%;
          word-wrap: break-word;
        }

        .inline-button-wrapper {
          position: absolute;
          right: 25px;
          top: 45%;

          i {
            padding-right: 5px;
          }

          button {
            visibility: hidden;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: $fn-bold-weight;
            &:hover,
            &:focus {
              text-decoration: none;
            }
            a {
              &:hover,
              &:focus {
                text-decoration: none;
              }

              span {
                &:hover,
                &:focus {
                  text-decoration: underline;
                }
              }
            }
          }
          &:hover,
          &:focus {
            button {
              visibility: visible;
            }
          }
          &:focus {
            @include focus();
          }
        }
        &:hover,
        &:focus {
          .inline-button-wrapper {
            button {
              visibility: visible;
            }
          }
        }
        &:focus {
          @include focus();
        }
      }
      &:focus,
      &.active {
	      background-color: rgba(16, 113, 188, 0.05);
        th {
          background-color: rgba(16, 113, 188, 0.05);
        }
      }
      &:focus {
        @include focus();
      }
    }

    .sort-button {
      position: relative;
      border: none;
      background-color: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 15px 35px 15px 5px;
      border-bottom: 5px solid transparent;

      &:hover,
      &:focus,
      &.active {
        border-bottom: 5px solid $table-sort-row-highlight;
        .sort-name i {
          display: block;
        }
      }

      &:focus {
        @include focus();
      }

      .sort-name {
        text-transform: uppercase;
        font-weight: $fn-bold-weight;
        font-size: $fn-h4-desktop;
        color: $fn-white;
        letter-spacing: 1px;
        i {
          color: $table-sort-row-highlight;
          display: none;
          position: absolute;
          right: 20px;
          top: 20px;

        }
      }
    }
  }

  .pagination-count-delete-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0 60px 0;

    .counts-wrapper {
      font-weight: $fn-bold-weight;
      font-size: 16px;
      display: flex;
      align-items: baseline;
      flex-direction: row;

      .pagination-count {
        padding-right: 10px;
      }
      .selection-count {
        padding-left: 10px;
        border-left: 1px solid $fn-mdgrey;
      }
    }
    .search-count {
      font-size: 20px;
      font-weight: $fn-bold-weight;
    }
    .manage-favorites-delete-button {
      padding-right: 20px;
    }
  }

  .search-form {
    .control-label {
      text-transform: uppercase;
      font-weight: $fn-bold-weight;
      font-size: $fn-h4-desktop;
      letter-spacing: 2px;
    }
  }

  .load-more-button {
    padding-bottom: 100px;
    text-align: center;
  }

  .manage-favorites-delete-button {
    font-size: 16px;
    button {
      text-transform: uppercase;
      text-decoration: none;
      &:hover,
      &:focus {
        span {
          text-decoration: underline;
        }
      }
      i {
        font-size: 16px;
        padding-right: 10px;
      }
      &.disabled {
        pointer-events: none;
        color: $fn-mdgrey;
      }
    }
  }
}

@media #{$mobile} {
  #manage-location-favorites-page {
    .sortable-table {
      thead {
        //test
        display: none;
      }
    }
  }
}

@media #{$tablet} {
  #manage-location-favorites-page {
    .sortable-table {
      thead {
        tr {
          .col7 {
            width: 8%;
          }
        }
      }
      .sortable-table-row {
        td {
          .inline-button-wrapper {
            button {
              visibility: visible;
              i {
                padding: 0;
                &:hover,
                &:focus {
                  padding: 8px;
                  color: $fn-white;
                  background-color: $fn-ltblue;
                  border-radius: 100%;
                }
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
