#manage-location-favorites-page {

  .search-form {
    padding: 0 20px 0 0;
  }

  .alert-bars {
    padding: 0 35px 0 15px;
  }

  .sortable-table {
    @include column-widths();
    position: relative;
    margin: 10px 0;

    th {
      padding: 0;
      .checkbox {
        height: 55px;
        width: 100%;
        label {
          padding: 0;
          .cr {
            margin: 20px;
          }
        }
      }
    }

    p {
      margin: 0;
    }

    .sortable-table-row {
      vertical-align: bottom;
    }

    .sortable-table-row {
      background-color: $fn-white;
      border-bottom: 1px solid $fn-dark;
      th {
        background-color: $fn-white;
      }
      td {
        position: relative;
        border: none;
        padding: 20px 0;
        vertical-align: middle;

        button {
          width: 100%;
          white-space: nowrap;
          padding: 0px;
        }

        .row-contents-wrapper,
        .inline-button-wrapper {
          height: 100%;
          padding-top: 5px;
        }

        .row-contents-wrapper {
          text-transform: uppercase;
          font-weight: $fn-bold-weight;
          font-size: 16px;
          color: $fn-dkgrey;
          width: 80%;
          float: left;
          word-wrap: break-word;
        }

        .inline-button-wrapper {
          width: 20%;
          float: right;
          button {
            visibility: hidden;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: $fn-bold-weight;
            &:hover,
            &:active,
            &:focus {
              text-decoration: none;
            }
            a {
              &:hover,
              &:active {
                text-decoration: none;
              }
              i {
                padding-right: 5px;
              }
              span {
                &:hover,
                &:active {
                  text-decoration: underline;
                }
              }
            }
          }
          &:hover,
          &:focus,
          &:active {
            @include focus();
            button {
              visibility: visible;
            }
          }
        }
        &:hover,
        &:focus,
        &:active {
          .inline-button-wrapper {
            button {
              visibility: visible;
            }
          }
        }
      }
    }

    .sort-button {
      position: relative;
      border: none;
      background-color: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 15px 35px 15px 5px;
      border-bottom: 5px solid transparent;

      &:hover,
      &.active {
          border-bottom: 5px solid $table-sort-row-highlight;
          .sort-name i {
            display: block;
          }
      }

      .sort-name {
        text-transform: uppercase;
        font-weight: $fn-bold-weight;
        font-size: $fn-h4-desktop;
        color: $fn-white;
        letter-spacing: 1px;
        i {
          color: $table-sort-row-highlight;
          display: none;
          position: absolute;
          right: 40px;
          top: 20px;

        }
      }
    }
  }

  .pagination-count-delete-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0;

    .counts-wrapper {
      font-weight: $fn-bold-weight;
      font-size: 16px;
      display: flex;
      align-items: baseline;
      flex-direction: row;

      .pagination-count {
        padding-right: 10px;
      }
      .selection-count {
        padding-left: 10px;
        border-left: 1px solid $fn-mdgrey;
      }
    }
    .search-count {
      font-size: 20px;
      font-weight: $fn-bold-weight;
    }
    .manage-favorites-delete-button {
      padding-right: 20px;
    }
  }

  .search-form {
    .control-label {
      text-transform: uppercase;
      font-weight: $fn-bold-weight;
      font-size: $fn-h4-desktop;
      letter-spacing: 2px;
    }
  }

  .load-more-button {
    padding: 40px 0 20px;
    text-align: center;
  }

  .manage-favorites-delete-button {
    font-size: 16px;
    button {
      text-transform: uppercase;
      &.disabled {
        color: $fn-mdgrey;
        pointer-events: none;
      }
    }
  }
}
