#manage-location-favorites-page {
  padding: 0 0 100px;

  h1 {
    padding-top: 30px;
  }

  .search-form {
    padding: 0 20px 0 0;
  }

  .alert-bars {
    margin-right: 20px;
  }

  hr {
    margin: 30px 20px 30px 0;
  }

  .loading-container {
    text-align: center;

    p {
      font-size: $fn-h2-desktop;
      margin: 25px 0 60px;

      i {
        transform: rotate(-90deg);
        margin-right: 5px;
        font-size: $fn-h2-desktop;
        vertical-align: -5px;
      }
    }
  }

  .no-results-container {
    text-align: center;

    .as-h2 {
      padding: 60px 0 30px;
    }

    p {
      font-size: $fn-h4-desktop;
    }

    button {
      margin: 45px 0 100px;
    }

    .no-search-results-text {
      font-size: $fn-content-page-text-desktop;
    }
  }

  table {
    @include column-widths();
    position: relative;
    margin: 10px 0;
    table-layout: fixed;
    vertical-align: middle;

    .select-all-checkbox > .checkbox {
      text-align: center;
    }

    td.favorite-name-column,
    th.favorite-name-column {
      padding-right: 30px;
    }

    .checkbox {
      .cr {
        margin: 0;
        min-height: 16px;
      }

      label {
        min-height: 16px;
        width: auto;
        padding: 0;
      }
    }

    th {
      padding: 0;
      vertical-align: middle;
    }

    p {
      margin: 0;
    }

    .sortable-table-row {
      background-color: $fn-white;
      border-bottom: 1px solid $fn-dark;

      th {
        background-color: $fn-white;

        &.active {
          background-color: $table-row-background-highlight;
        }
      }

      td {
        position: relative;
        border: none;
        padding: 5px 0;
        vertical-align: middle;

        &.table-row-checkbox {
          text-align: center;
        }

        .flex-wrapper {
          display: flex;
          width: 100%;
          align-items: center;
          min-height: 60px;
        }

        &.favorite-name-column {
          .flex-wrapper {
            margin-right: 30px;
          }
        }

        .row-contents-wrapper {
          flex: 1 1 auto;
          padding: 0 5px;
          text-transform: uppercase;
          font-weight: $fn-bold-weight;
          font-size: $fn-button-desktop;
          color: $fn-dkgrey;
          word-wrap: break-word;

          span {
            line-height: 1.35;
          }
        }
      }

      &.active,
      &:focus {
        background-color: $table-row-background-highlight;

        th {
          background-color: $table-row-background-highlight;
        }
      }

      &:focus {
        @include focus();
      }
    }

    .button-wrapper {
      flex: 0 0 auto;
      flex-basis: 95px;
      text-align: center;
      display: block;

      button {
        display: inline-block;
        text-transform: uppercase;
        font-size: $fn-button-desktop;
        font-weight: $fn-bold-weight;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &:focus,
        &:hover,
        &:visited {
          background-color: $fn-ltblue;

          i {
            padding-right: 0;
            color: $fn-white;
          }
        }

        i {
          padding: 0;
        }

        span {
          display: none;
        }
      }
    }

    .sort-button {
      position: relative;
      border: none;
      background-color: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 15px 35px 15px 5px;
      border-bottom: 5px solid transparent;

      &.active,
      &:focus,
      &:hover {
        border-bottom: 5px solid $table-active-column-highlight;

        .sort-name i {
          display: block;
        }
      }

      &:focus {
        @include focus();
      }

      .sort-name {
        text-transform: uppercase;
        font-weight: $fn-bold-weight;
        font-size: $fn-h4-desktop;
        color: $fn-white;
        letter-spacing: 1px;

        i {
          color: $table-active-column-highlight;
          display: none;
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
    }
  }

  .pagination-count-delete-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0;

    .counts-wrapper {
      font-weight: $fn-bold-weight;
      font-size: $fn-button-desktop;
      display: flex;
      align-items: baseline;
      flex-direction: row;

      .pagination-count {
        padding-right: 10px;
      }

      .selection-count {
        padding-left: 10px;
        border-left: 1px solid $fn-mdgrey;
      }
    }

    .search-count {
      font-size: $fn-h4-desktop;
      font-weight: $fn-bold-weight;
    }

    .manage-favorites-delete-button {
      padding-right: 20px;
    }
  }

  .search-form {
    .control-label {
      text-transform: uppercase;
      font-weight: $fn-bold-weight;
      font-size: $fn-h4-desktop;
      letter-spacing: 2px;
    }
  }

  .load-more-button {
    padding-top: 10px;
    text-align: center;
  }

  .manage-favorites-delete-button {
    font-size: $fn-button-desktop;

    button {
      text-transform: uppercase;
      text-decoration: none;

      &:focus,
      &:hover {
        span {
          text-decoration: underline;
        }
      }

      i {
        font-size: $fn-button-desktop;
        padding-right: 10px;
      }

      &.disabled {
        pointer-events: none;
        color: $fn-mdgrey;
      }
    }
  }
}
@media #{$tablet} {
  #manage-location-favorites-page {
    table {
      thead {
        tr {
          .col7 {
            width: 8%;
          }
        }
      }
    }
  }
}
@media #{$desktop} {
  #manage-location-favorites-page {
    table {
      .favorite-name-column {
        .flex-wrapper {
          padding-right: 15px;
        }
      }

      .sortable-table-row {
        .button-wrapper button {
          display: none;
        }

        &:active,
        &:focus,
        &:hover,
        &:focus-within {
          .button-wrapper button {
            display: inline-block;
          }
        }
      }

      .button-wrapper {
        color: $fn-white;

        button {
          border-radius: 0;
          width: auto;
          height: auto;

          &:focus,
          &:hover,
          &:visited {
            display: inline-block;
            text-decoration: none;
            background: none;
            color: $fn-ltblue;


            i {
              color: $fn-ltblue;
              padding-right: 5px;
            }
          }

          i {
            padding-right: 5px;
            color: $fn-ltblue;
          }

          span {
            display: inline-block;
          }
        }
      }
    }
  }
}
