#manage-apps-page {
  padding-top: 0;

  .header {
    padding-top: 30px;

    h1 {
      display: inline-block;
    }

    .configure-mdm-wrapper {
      float: right;
    }

  }

  .manage-apps-form {
    background-color: $fn-ltbluegrey;
    border-top: 1px solid $fn-grey;
    border-bottom: 1px solid $fn-grey;
    margin-top: 2rem;
    padding: 1rem 0 0;

    .search-form .control-label {
      text-transform: uppercase;
    }

    hr {
      border-color: $fn-grey;
      border-width: 2px;
      margin: 20px 0 15px;
    }

    section.filters {
      padding-top: 0;
    }

  }

  .results-count {
    padding-top: 2rem;
  }

  .card-list-substitute {
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    padding: 0;

    .loading-container {
      text-align: center;

      p {
        font-size: $fn-h2-desktop;
        margin: 25px 0 60px 0;

        i {
          transform: rotate(-90deg);
          margin-right: 5px;
          font-size: $fn-h2-desktop;
          vertical-align: -5px;
        }
      }

      .ghost-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        height: 490px;
        overflow:hidden;
        text-align: center;

        .app-ghost {
          display: inline-block;
          position: relative;
          min-width: 225px;
          height: 490px;
          background: $fn-ltbluegrey;
          border: 1px solid $fn-grey;

          &:before {
            content: '';
            position: absolute;
            top: 50px;
            right: 0;
            left: 0;
            width: 130px;
            padding-top: 130px;
            margin: 0 auto;
            border: 1px solid $fn-grey;
            background: $fn-white;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 0;
            width: 82%;
            height: 48px;
            margin: 0 auto;
            border: 1px solid $fn-grey;
            border-radius: 24px;
            background: $fn-white;
          }

          > div {
            position: absolute;
            top: 236px;
            left: 20px;
            width: 58%;
            height: 14px;
            border-radius: 5px;
            border: 1px solid $fn-grey;
            background: $fn-white;

            &:before {
              content: '';
              position: absolute;
              display: block;
              top: 94px;
              left: 0;
              width: 100%;
              height: 14px;
              border-radius: 5px;
              border: 1px solid $fn-grey;
              background: $fn-white;
            }

            &:after {
              content: '';
              position: absolute;
              display: block;
              top: 45px;
              width: 61.5%;
              height: 14px;
              border-radius: 5px;
              border: 1px solid $fn-grey;
              background: $fn-white;
            }
          }
        }
      }
    }
  }
}

@media #{$mobile} {
  #manage-apps-page {
    .header {
      padding-top: 0;

      .configure-mdm-container {
        padding-top: 65px;

        .configure-mdm-wrapper {
          width: 100%;
          border-bottom: 1px solid $fn-grey;
          text-align: right;
          position: absolute;
          left: 0;
          top: 0;

          .configure-mdm-btn {
            background: transparent;
            color: $fn-ltblue;
            border-color: transparent;
            padding: 0 15px;
            margin: 0 15px;

            &.hover,
            &:hover {
              color: $fn-dkgrey;
              font-weight: 700;
              text-decoration: underline;
              box-shadow: none;
            }

            &:focus,
            &.focus {
               box-shadow: 1px 1px 0 0 #1071BC, 1px -1px 0 0 #1071BC, -1px 1px 0 0 #1071BC, -1px -1px 0 0 #1071BC;
               border-radius: 8px;
               outline: none;
            }

            &.active,
            &:active,
            &:active:focus {
              box-shadow: none !important;
            }
          }
        }
      }
    }

    .card-list-substitute {
      .ghost-container {
        display: block;
        width: 100%;
        padding: 0 20px;

        .app-ghost {
          width: 100%;
        }
      }
    }
  }
}


@media #{$tablet} {
  #manage-apps-page {
    .card-list-substitute {
      .loading-container h2 {
        font-size: 3.6rem;

        i {
          font-size: 3.6rem;
        }
      }

      .ghost-container {
        display:flex;
        width: 750px;
        padding: 0px 25px;

        .app-ghost {
          width:225px;
        }
      }
    }
  }
}

@media #{$desktop} {
  #manage-apps-page {
    .card-list-substitute {
      .loading-container h2 {
        font-size: 3.6rem;

        i {
          font-size: 3.6rem;
        }
      }

      .ghost-container {
        width: 970px;
        margin: 0 auto;
      }
    }
  }
}
