#manage-apps-page {
  .header {
    h1 {
      display: inline-block;
    }

    a {
      float: right;
    }
  }

  .manage-apps-form {
    background-color: $fn-grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0;

    .reset-filters-button {
      float: right;
      margin-top: 1rem;
    }
  }
}
