#manage-location-favorites-page {
  padding: 0 0 100px;

  h1 {
    padding-top: 30px;
  }

  .search-form {
    padding: 0 20px 0 0;
  }

  .alert-bars {
    margin-right: 20px;
  }

  hr {
    margin: 30px 20px 30px 0;
  }

  .mobile-hr {
    margin: 30px 20px 15px 0;
  }

  .loading-container {
    text-align: center;

    p {
      font-size: $fn-h2-desktop;
      margin: 25px 0 60px;

      i {
        transform: rotate(-90deg);
        margin-right: 5px;
        font-size: $fn-h2-desktop;
        vertical-align: -5px;
      }
    }
  }

  .no-results-container {
    text-align: center;

    .as-h2 {
      padding: 60px 0 30px;
    }

    p {
      font-size: $fn-h4-desktop;
    }

    button {
      margin: 45px 0 100px;
    }

    .no-search-results-text {
      font-size: $fn-content-page-text-desktop;
    }
  }

  .mobile-favorites-delete-button {
    padding-top: 10px;
    text-align: center;
  }

  .sortable-table {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 15px 10px 0;
  }

  .table-head {
    width: 100%;
    .table-container {
      background-color: $table-header-bg;
      display: none;
    }
  }

  .mobile-header {
    .flex-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .mobile-header-button {
        text-transform: uppercase;
        text-decoration: none;
        border-left: 1px solid $fn-grey;
        i {
          color: inherit;
          font-size: inherit;
          padding-left: 5px;
        }
      }
    }
    hr {
      margin: 15px 0;
    }
  }

  .sort-button-container {
    width: 100%;
    .sort-button {
      position: relative;
      border: none;
      background-color: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 15px 35px 15px 5px;
      border-bottom: 5px solid transparent;

      &.active,
      &:focus,
      &:hover {
        border-bottom: 5px solid $table-active-column-highlight;

        .sort-name i {
          display: block;
        }
      }

      &:focus {
        @include focus();
      }

      .sort-name {
        text-transform: uppercase;
        font-weight: $fn-bold-weight;
        font-size: $fn-h4-desktop;
        color: $fn-white;
        letter-spacing: 1px;

        i {
          color: $table-active-column-highlight;
          display: none;
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
    }
  }

  .table-row {
    box-shadow: 0 2px 2px 0 rgba(182, 182, 182, 0.50);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $fn-white;
    min-height: 90px;
    border: 1px solid $fn-grey;
    margin-bottom: 10px;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
      .buttons-container {
        .buttons-column {
           button {
             span {
               visibility: visible;
             }
           }
        }
      }
    }
    .center-container {
      padding: 15px;
    }
    &.active {
      background-color: $table-row-background-highlight;
      border-color: $fn-ltblue;

      .center-container {
        border-color: $fn-ltblue;
      }

      .buttons-container {
        .buttons-column {
          &:first-of-type {
            border-color: $fn-ltblue;
          }
        }
      }
    }
    &:not(.active) {
      .center-container {
        background-color: $fn-ltgrey;
      }
    }
  }

  .favorite-name-column {
    text-transform: uppercase;
    font-weight: $fn-bold-weight;
    font-size: $fn-button-desktop;
    color: $fn-black;
    word-wrap: break-word;
    padding-bottom: 5px;
    flex-grow: 1;
  }

  .location-address-column {
    font-weight: $fn-medium-weight;
    font-size: $fn-button-desktop;
    color: $fn-dkgrey;
    word-wrap: break-word;
    flex-grow: 2;
  }

  .checkbox-container {
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;
  }

  .checkbox {
    padding: 0 10px;

    .cr {
      margin: 0;
      min-height: 16px;
    }

    label {
      min-height: 16px;
      width: auto;
      padding: 0;
    }
  }

  .center-container {
    width: 78%;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 5;
    align-self: stretch;
    line-height: 1.5;
    border-left: 1px solid $fn-grey;
    border-right: 1px solid $fn-grey;
  }

  .buttons-container {
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;

    .buttons-column {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      flex-grow: 1;

      button {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $fn-button-desktop;
        font-weight: $fn-bold-weight;

        span {
          display: none;
        }

        i {
          padding: 0;
        }
      }

      &:first-of-type {
        border-bottom: 1px solid $fn-grey;
      }

      &:focus,
      &:hover,
      &:visited {
        background-color: $fn-ltblue;

        i {
          color: $fn-white;
        }
      }
    }
  }

  .pagination-count-delete-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0;

    .counts-wrapper {
      font-weight: $fn-bold-weight;
      font-size: $fn-button-desktop;
      display: flex;
      align-items: baseline;
      flex-direction: row;

      .pagination-count {
        padding-right: 10px;
      }

      .selection-count {
        padding-left: 10px;
        border-left: 1px solid $fn-mdgrey;
      }
    }

    .search-count {
      font-size: $fn-h4-desktop;
      font-weight: $fn-bold-weight;
    }

    .desktop-favorites-delete-button {
      padding-right: 20px;
    }
  }

  .search-form {
    .control-label {
      text-transform: uppercase;
      font-weight: $fn-bold-weight;
      font-size: $fn-h4-desktop;
      letter-spacing: 2px;
    }
  }

  .load-more-button {
    padding-top: 10px;
    text-align: center;
  }

  .desktop-favorites-delete-button {
    display: none;
    font-size: $fn-button-desktop;

    button {
      text-transform: uppercase;
      text-decoration: none;

      &:focus,
      &:hover {
        span {
          text-decoration: underline;
        }
      }

      i {
        font-size: $fn-button-desktop;
        padding-right: 10px;
      }

      &.disabled {
        pointer-events: none;
        color: $fn-mdgrey;
      }
    }
  }
}

@media #{$tablet, $desktop} {
  #manage-location-favorites-page {
    .desktop-favorites-delete-button {
      display: inline-block;
    }

    .mobile-favorites-delete-button {
      display: none;
    }

    .mobile-header,
    .mobile-hr {
      display: none;
    }

    .table-head {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .table-container {
        display: flex;
        flex-direction: row;
      }
    }

    .table-row {
      box-shadow: none;
      align-items: center;
      border-top: 0;
      justify-content: flex-start;
      margin-bottom: 0;
      min-height: 60px;

      .center-container {
        padding: 15px 5px;
      }

      &:active,
      &:focus,
      &:hover,
      &:focus-within {
        .buttons-container {
          .buttons-column {
             button {
               span {
                 visibility: hidden;
               }
             }
          }
        }
      }

      &.active {
        border-color: $fn-ltblue;
      }

      &:not(.active) {
        .center-container {
          background-color: $fn-white;
        }
      }
    }

    .checkbox-container {
      width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .center-container {
      width: 78%;
      flex-direction: row;
      flex-grow: 0;
      align-self: auto;
      border: 0;
    }

    .favorite-name-column,
    .location-address-column {
      width: 50%;
      padding: 0 15px 0 0;
      text-transform: uppercase;
      font-weight: $fn-bold-weight;
      font-size: $fn-button-desktop;
      color: $fn-dkgrey;
      word-wrap: break-word;
    }

    .favorite-name-column {
      flex-grow: 0;
    }

    .location-address-column {
      flex-grow: 0;
    }

    .buttons-container {
      width: 15%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .buttons-column {
        button {
          border-radius: 0;
          width: auto;
          height: auto;
          width: 30px;
          height: 30px;
          border-radius: 50%;

          i {
            color: $fn-ltblue;
          }
        }

        &:first-of-type {
          border-bottom: 0;
        }

        &:focus,
        &:hover,
        &:visited {
          background-color: inherit;

          button {
            background-color: $fn-ltblue;
          }

          i {
            color: $fn-white;
          }
        }
      }
    }
  }
}

@media #{$desktop} {
  #manage-location-favorites-page {
    .table-row {
      &:active,
      &:focus,
      &:hover,
      &:focus-within {
        .buttons-container {
          .buttons-column {
             button {
               span {
                 visibility: visible;
               }
             }
          }
        }
      }
    }

    .checkbox-container {
      width: 2%;
    }

    .center-container {
      padding-left: 5px;
    }

    .sort-button-container {
      .sort-button {
        padding-left: 0;
      }
    }

    .buttons-container {
      .buttons-column {
        button {
          border-radius: 0;
          width: auto;
          height: auto;

          span {
            display: inline-block;
            visibility: hidden;
          }

          i {
            padding-right: 5px;
          }
        }

        &:first-of-type {
          border-bottom: 0;
        }

        &:focus,
        &:hover,
        &:visited {
          background-color: inherit;

          button {
            background-color: inherit;

            span {
              &:hover,
              &:focus {
                text-decoration: underline;
              }
            }
          }

          i {
            color: $fn-ltblue;
          }
        }
      }
    }

    .favorite-name-column,
    .location-address-column {
      padding: 0;
      flex-grow: 0;
    }

    .favorite-name-column {
      padding-right: 15px;
    }

    .location-address-column {
      padding-right: 50px;
    }
  }
}
