.btn-dashboard,
.btn-dashboard:visited{
  display: inline-block;
  height: 42px;
  line-height: 38px;
  border-radius:24px;
  border: 2px solid $fn-admin-red;
  background: $fn-admin-red;
  color: white;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 2.12px;
}
section.placeholder{
  border: 2px dashed #ccc;
  text-align: center;
  min-height: 250px;
  width: 100%;
  &-long{
    min-height: 850px;
    border: 1px solid #ccc;
  }
  h2{
    margin-top: 60px;
  }
  &.alert-dropdown{
    height: 48px;
    min-height: auto;
    background: $fn-grey;
    line-height: 48px;
  }
  &.geolink{}
  &.news-feed{}
  &.mp-links{}
}
