#shop-solutions-page {

  padding-bottom: 70px;

  .solutions-cell {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 15px 0;

    .cell-contents {
      color: $fn-dkgrey;
      background-color: $fn-white;
      text-align: left;

      > a {
        text-decoration: none;
      }

      &:hover {
        & .cell-title {
          text-decoration: underline !important;
        }

        & .cell-more {
          text-decoration: underline !important;
        }
      }
    }



    .cell-img {
      width: 100%;
      // border: 2px dashed red;

      > img {
        width: 100%;
        object-fit: cover;
      }
    }

    .cell-description {
      padding: 0;
      color: $fn-dkgrey;
      font-weight: $fn-normal-weight;

      .cell-title {
        padding: 30px 10px 10px 20px;
        letter-spacing: 0.38px;
        line-height: 30px;
      }
      .cell-desc {
        height: 100px;
        padding: 0 20px;
        font-size: $fn-landing-body-default-size;
        line-height: 20px;


      }
      .cell-more {
        width: 100%;
        position: absolute;
        bottom: 1px;
        height: 40px;
        padding-left: 20px;
        font-size: $fn-landing-body-default-size;
        font-weight: $fn-medium-weight;
        text-transform: uppercase;
        color: $fn-ltblue;

        &:after {
          display: inline-block;
          font-size: 1.2rem;
          margin-left: 10px;
          vertical-align: -1px;
          content: "\67";
          text-transform: none;
          font-family: $icon-font;
        }
      }
    }
  }

  .pssheader-main {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-color: $fn-black;
    min-height: 370px;
    color: $fn-white;

    .pssheader-main-contents {
      position: relative;
      margin: 0 15%;
      padding: 60px 0 30px 0;
      box-sizing: border-box;

      > h1 {
        line-height: 58px;

      }
      > p {
        font-weight: $fn-medium-weight;
        font-size: $fn-body-default-size;
        line-height: 30px;
        margin-bottom: 10px;
        width: 65%;
      }
    }
  }

  .intro-block {
    display: block;
    box-sizing: border-box;
    padding: 20px 40px;

    > h2 {
      text-align: center;
      padding: 20px 0;
    }
  }
}
