#specialized-devices-page {
  padding-top: 30px;
  padding-bottom: 40px;
  h1,
  h2 {
    text-align: center;
    margin-bottom: 1.6rem;
  }
  section{
    padding: 60px 0;
    text-align: center;
    &:nth-of-type(odd){
      background: $fn-ltbluegrey;
    }
    .showAll{
      margin-top: 30px;
    }
  }
  .mp-content{
    display: flex;
    flex-wrap: wrap;
    > li{
      display: flex;
      flex-direction: row;
      width:99%;
      margin: 0 .5% 30px;

      a{
        width: 100%;
        height: 250px;
        display:block;
        border: 1px solid $fn-dkgrey;
        padding: 15px;
        text-align: center;
        background: white;
        position: relative;
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }

      .card-img-wrapper{
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        bottom: 15px;
        left:0;
        right:0;
        margin: 0 auto;
        height: 180px;
        max-width: 110px;
        text-align: center;
        line-height:180px;
        img{
          height: auto;
          max-width:100%;
          max-height: 180px;
          vertical-align:middle;
        }
      }
    }
  }
}

@media #{$tablet} {
  #shop-specialized-devices-page{
    .mp-content{
      > li{
        width: 48%;
        margin: 0 1% 2%;
      }
    }
  }
}
@media #{$desktop} {
  #shop-specialized-devices-page{
    .mp-content{
      > li{
        width: 24%;
      }
    }
  }
}
