#shop-devices-page {
  padding-top: 30px;
  h1,
  h2 {
    text-align: center;
  }
  section{
    padding: 60px 0;
    text-align: center;
    &:nth-of-type(odd){
      background: $fn-ltbluegrey;
    }
    .showAll{
      margin-top: 30px;
    }
  }
  .mp-content{
    display: flex;
    flex-wrap: wrap;
    > li{
      display: flex;
      flex-direction: row;
      width:24%;
      margin: 0 .5%;

      a{
        width: 100%;
        height: 250px;
        pointer-events: none;
        display:block;
        border: 1px solid $fn-dkgrey;
        padding: 15px;
        text-align: center;
        background: white;
        position: relative;
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }

      .card-img-wrapper{
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        bottom: 15px;
        left:0;
        right:0;
        margin: 0 auto;
        height: 180px;
        max-width: 110px;
        text-align: center;
        line-height:180px;
        img{
          height: auto;
          max-width:100%;
          max-height: 180px;
          vertical-align:middle;
        }
      }
    }
  }
}
