#solutions-hub-page {
  padding-top: 0;

  .all-cards-wrapper {
    .solutions-card {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: 15px 0;

      .card-wrapper {
        text-align: left;
        width: 100%;
        min-height: 440px;
        }

        .learn-more {
          width: 100%;
          position: absolute;
          bottom: 1px;
          height: 40px;
          padding-left: 20px;
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-medium-weight;
          text-transform: uppercase;
          color: $fn-ltblue;

          i {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 5px;
            vertical-align: -1px;
          }
        }
      }

      .card-img-wrapper {
        div.img {
          width: 100%;
          min-height: 200px;
          z-index: 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .is-linked {
          position: absolute;
          right: 30px;
          top: 15px;
          color: white;
          font-weight: $fn-medium-weight;
          z-index: 1;
          letter-spacing: 1px;
        }
      }

      .card-contents-wrapper {
        color: $fn-dkgrey;
        padding: 30px 20px 20px;

        .card-title {
          letter-spacing: 0.38px;
          padding-bottom: 10px;
        }

        .card-desc {
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-normal-weight;
        }
      }
    }
  }

  #solutions-category-page {
    h1 {
      text-align: center;
      width: 100%;
      text-transform: capitalize;
    }
  }

  .intro-block {
    padding: 40px;

    h1 {
      padding-bottom: 2rem;
    }
  }

  .solutions-details-page {
    .details-wrapper {
      display: block;
      text-align: left;

      .content-wrapper {
        padding: 0;
      }

      h1,
      h2 {
        @extend .as-h1;
        padding: 30px 0;
      }

      h3 {
        padding-bottom: 20px;
        line-height: 1.4;
      }

      p {
        margin-bottom: 10px;
      }

      ol,
      ul {
        list-style: disc;
        padding-left: 30px;

        li {
          margin-bottom: 15px;
          line-height: 1.6;
          font-size: $fn-content-page-text-desktop;
        }

        figcaption {
          font-weight: $fn-normal-weight;
          font-size: $fn-content-page-text-desktop;
          margin: 10px 0 50px;
        }
      }

      .card__title,
      img {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        object-fit: cover;
        padding-top: 20px;
      }

      .card__title {
        font-size: $fn-small-text-desktop;
        padding-top: 20px;
      }
    }

    .app-details-section,
    .learn-more-section {
      h2 {
        padding-top: 6rem;
      }
    }

    .learn-more-section {
      hr {
        margin-bottom: 20px;
      }

      .solution-name {
        line-height: 2;
        font-size: 2.4rem;
        display: inline-block;
      }

      .learn-more-button {
        display: inline-block;
        float: right;
      }
    }

    .app-details-section {
      .app-summary {
        padding: 1.5rem 0;

        img {
          max-width: 80px;
        }

        h3 {
          padding-bottom: 30px;
        }
      }
    }
  }
}
@media #{$mobile} {
  #solutions-hub-page {
    .solutions-card {
      max-width: 480px;
    }

    .solutions-details-page {
      .app-details-section {
        .app-summary {
          .action-block {
            a {
              width: 100%;
            }
          }
        }
      }

      .learn-more-section {
        .learn-more-button {
          margin-top: 15px;
          float: none;
          max-width: 250px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }
  }
}
@media #{$tablet} {
  #solutions-hub-page {
    .all-cards-wrapper {
      .solutions-card {
        max-width: 480px;

        .card-wrapper {
          min-height: 380px;
        }
      }
    }

    .all-cards-wrapper .solutions-card .card-img-wrapper div.img {
      min-height: 140px;
    }

    .solutions-details-page {
      .app-details-section {
        .app-summary {
          img {
            max-width: 125px;
          }
        }
      }
    }
  }
}
@media #{$desktop} {
  #solutions-hub-page {
    .all-cards-wrapper {
      .solutions-card {
        .card-wrapper {
          min-height: 380px;
        }
      }
    }

    .solutions-details-page {
      .details-wrapper {
        p,
        ul {
          margin-bottom: 40px;
        }

        .card__title,
        img {
          width: 80%;
          padding-right: 50px; //due to word breaks, the picture looks offcenter w/r to the text if padding is absent
        }
      }
      .app-details-section {
        h2 {
          padding-top: 60px;
        }
        .app-summary {

          img {
            max-width: 150px;
          }

          .action-block {
            text-align: right;
          }
        }
      }
    }


    .all-cards-wrapper .solutions-card .card-img-wrapper div.img {
      min-height: 150px;
    }
  }
}
