#solutions-hub-page {
  padding: 0 0 70px 0;

  .all-cards-wrapper {

    .solutions-card {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: 15px 0;
      min-height: 380px;

      .card-wrapper {
        text-align: left;
        width: 100%;

        > a {
          text-decoration: none;
        }

        &:hover {
          & .card-title {
            text-decoration: underline;
          }

          & .learn-more {
            text-decoration: underline;
          }
        }

        .learn-more {
          width: 100%;
          position: absolute;
          bottom: 1px;
          height: 40px;
          padding-left: 20px;
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-medium-weight;
          text-transform: uppercase;
          color: $fn-ltblue;

          i {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 5px;
            vertical-align: -1px;
          }
        }
      }

      .card-img-wrapper {

        > img {
          width: 100%;
          object-fit: cover;
        }
      }

      .card-contents-wrapper {
        color: $fn-dkgrey;

        .card-title {
          width: 100%;
          height: 100%;
          padding: 30px 10px 10px 20px;
          letter-spacing: 0.38px;
          line-height: 30px;

        }
        .card-desc {
          height: 100%;
          width: 100%;
          padding: 0 20px;
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-normal-weight;
          line-height: 20px;

        }
      }
    }
  }

  .intro-block {
    display: block;
    padding: 20px 40px;
    text-align: left;

    > h1 {
      padding: 20px 0;
      line-height: 58px;
      text-transform: capitalize;

      &.centered {
        text-align: center;
      }
    }
  }

  .details-wrapper {
    display: block;
    text-align: left;

    h1, h2, p {
      padding: 20px 0;
    }

    .details-img-wrapper {
      width: 100%;
      padding-left: 15px;

      > img {
        width: 100%;
        object-fit: cover;
      }

      > figcaption {
        font-weight: $fn-normal-weight;
        font-size: $fn-content-page-text-desktop;
        margin: 10px 0 50px 0;
      }
    }
  }
}

@media #{$tablet} {
  #solutions-hub-page {
    .solutions-card {
      max-width: 480px;
    }
  }
}

@media #{$mobile} {
  #solutions-hub-page {

    .solutions-card {
      max-width: 480px;
    }
  }
}
