#solutions-hub-page {
  padding: 0 0 70px;

  .all-cards-wrapper {
    .solutions-card {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: 15px 0;

      .card-wrapper {
        text-align: left;
        width: 100%;
        min-height: 380px;

        > a {
          text-decoration: none;

          &:focus,
          &:hover {
            .card-title,
            .learn-more {
              text-decoration: underline;
            }
          }
        }

        .learn-more {
          width: 100%;
          position: absolute;
          bottom: 1px;
          height: 40px;
          padding-left: 20px;
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-medium-weight;
          text-transform: uppercase;
          color: $fn-ltblue;

          i {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 5px;
            vertical-align: -1px;
          }
        }
      }

      .card-img-wrapper {
        div.img {
          width: 100%;
          min-height: 200px;
          z-index: 0;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .is-linked {
          position: absolute;
          right: 30px;
          top: 15px;
          color: white;
          font-weight: $fn-medium-weight;
          z-index: 1;
          letter-spacing: 1px;
        }
      }

      .card-contents-wrapper {
        color: $fn-dkgrey;

        .card-title {
          width: 100%;
          height: 100%;
          padding: 30px 10px 10px 20px;
          letter-spacing: 0.38px;
          line-height: 30px;
        }

        .card-desc {
          height: 100%;
          width: 100%;
          padding: 0 20px;
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-normal-weight;
          line-height: 20px;
        }
      }
    }
  }

  .intro-block {
    display: block;
    padding: 20px 40px;
    text-align: left;

    > h1 {
      padding: 20px 0;
      line-height: 58px;
      text-transform: capitalize;

      &.centered {
        text-align: center;
      }
    }
  }

  .solutions-details-page {
    .details-wrapper {
      display: block;
      text-align: left;

      .content-wrapper {
        padding: 0;
      }

      h1,
      h2 {
        @extend .as-h1;
        padding: 30px 0;
      }

      h3 {
        padding-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      ol,
      ul {
        list-style: disc;
        padding-left: 30px;

        li {
          margin-bottom: 15px;
          line-height: 1.6;
          font-size: $fn-content-page-text-desktop;
        }

        figcaption {
          font-weight: $fn-normal-weight;
          font-size: $fn-content-page-text-desktop;
          margin: 10px 0 50px;
        }
      }

      .card__title,
      img {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        object-fit: cover;
        padding-top: 20px;
      }

      .card__title {
        font-size: $fn-small-text-desktop;
        padding-top: 20px;
      }
    }

    .app-details-section {
      hr {
        margin: 0;
      }

      h2 {
        padding: 30px 0 20px 0;
      }
      .app-summary {
        padding: 40px 0 25px 0;

        img {
          max-width: 150px;
        }

        h3 {
          padding-bottom: 30px;
        }
      }
    }
  }
}
@media #{$mobile} {
  #solutions-hub-page {
    .solutions-card {
      max-width: 480px;
    }
  }
}
@media #{$tablet} {
  #solutions-hub-page {
    .solutions-card {
      max-width: 480px;
    }

    .all-cards-wrapper .solutions-card .card-img-wrapper div.img {
      min-height: 140px;
    }
  }
}
@media #{$desktop} {
  #solutions-hub-page {
    .solutions-details-page {
      .details-wrapper {
        p {
          margin-bottom: 40px;
        }

        .card__title,
        img {
          width: 80%;
          padding-right: 50px; //due to word breaks, the picture looks offcenter w/r to the text if padding is absent
        }
      }
    }

    .app-details-section {
      h2 {
        padding-top: 60px;
      }
      .app-summary {
        .action-block {
          text-align: right;
        }
      }
    }

    .all-cards-wrapper .solutions-card .card-img-wrapper div.img {
      min-height: 150px;
    }
  }
}
