#specialized-devices {
  h1,
  h2 {
    margin-bottom: 1.6rem;
  }

  .devices-landing{
    padding-top: 30px;
    padding-bottom: 40px;

    section{
      padding: 60px 0;

      &:nth-of-type(odd){
        background: $fn-ltbluegrey;
      }

      .showAll{
        margin-top: 30px;
      }
    }
  }

  .device-detail{
    .detail-block{
      .feature-list{
        list-style: disc;
        li{
          margin-bottom: 1.6rem;
          font-size: $fn-body-default-size;
        }
      }
    }
    .terms-block{
      padding: 50px 0 100px;
      background: $fn-ltbluegrey;
      font-size: $fn-small-text-default-size;
      ol{
        list-style:decimal;
        margin-bottom: 30px;
        li{
          line-height: 1.6;
          margin-bottom: 1rem;
        }
      }
      p{
        font-size: inherit;
      }
    }
  }

  .mp-content{
    display: flex;
    flex-wrap: wrap;
    > li{
      display: flex;
      flex-direction: row;
      width:99%;
      margin: 0 .5% 30px;

      a{
        width: 100%;
        height: 250px;
        display:block;
        border: 1px solid $fn-dkgrey;
        padding: 15px;
        text-align: center;
        background: white;
        position: relative;
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }

      .card-img-wrapper{
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        bottom: 15px;
        left:0;
        right:0;
        margin: 0 auto;
        height: 180px;
        max-width: 110px;
        text-align: center;
        line-height:180px;
        img{
          height: auto;
          max-width:100%;
          max-height: 180px;
          vertical-align:middle;
        }
      }
    }
  }
}

@media #{$tablet} {
  #specialized-device{
    .mp-content{
      > li{
        width: 48%;
        margin: 0 1% 2%;
      }
    }
  }
}
@media #{$desktop} {
  #specialized-devices{
    .mp-content{
      > li{
        width: 24%;
      }
    }
  }
}
