#specialized-devices {
  padding-top: 0;

  h1,
  h2 {
    margin-bottom: 2rem;
  }

  .breadcrumb-nav {
    margin-bottom: 30px;
    display: none;
  }

  .catalog-header {
    text-align: left;
    margin-bottom: 30px;
  }

  .devices-landing {
    padding-bottom: 40px;

    section {
      text-align: center;
      padding: 60px 0;

      &:nth-of-type(odd) {
        background: $fn-ltbluegrey;
      }

      .showAll {
        margin-top: 30px;
      }
    }
  }

  .device-category {
    padding-bottom: 70px;
  }

  .device-detail {
    .purchase-options-list {
      @extend .clearfix;

      li {
        font-size: $fn-body-default-size;
        float: left;
        width: 100%;
        margin-bottom: 30px;

        strong {
          display: inline-block;
          width: 35%;
        }
      }
    }

    .detail-block {
      padding-top: 50px;
      padding-bottom: 100px;

      .img-responsive {
        width: 100%;
        margin-bottom: 30px;
        max-width: 480px;
      }

      .feature-list {
        list-style: disc;
        margin-left: 15px;

        li {
          margin-bottom: 1.6rem;
          line-height: 1.6;
          font-size: $fn-body-default-size;
        }
      }

      h2 {
        margin-top: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $fn-grey;
      }
    }

    .terms-block {
      padding: 50px 0 100px;
      background: $fn-ltbluegrey;
      font-size: $fn-small-text-default-size;

      ol {
        list-style: decimal;
        margin-bottom: 30px;
        margin-left: 15px;

        li {
          line-height: 1.6;
          margin-bottom: 1rem;
        }
      }

      p {
        font-size: inherit;
      }
    }
  }

  .mp-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    > li {
      flex-direction: row;
      width: 51%;
      min-width: 180px;
      margin: 0 auto 10%;

      a {
        width: 100%;
        height: 250px;
        display: block;
        border: 1px solid $fn-dkgrey;
        padding: 15px;
        text-align: center;
        background: white;
        position: relative;
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }

      .card-img-wrapper {
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 180px;
        max-width: 110px;
        text-align: center;
        line-height: 180px;

        img {
          height: auto;
          max-width: 100%;
          max-height: 180px;
          vertical-align: middle;
        }
      }
    }
  }
}
@media #{$tablet} {
  #specialized-devices {
    .breadcrumb-nav {
      display: block;
    }

    .catalog-header {
      text-align: center;
    }

    .mp-content {
      > li {
        width: 23%;
        min-width: auto;
        margin: 0 1% 3%;
      }
    }
  }
}
@media #{$desktop} {
  #specialized-devices {
    .breadcrumb-nav {
      display: block;
    }

    .catalog-header {
      text-align: center;
    }

    .mp-content {
      > li {
        width: 23%;
        min-width: auto;
        margin: 0 1% 3%;
      }
    }
  }
}

@media #{$tablet, $wide} {
  #specialized-devices {
    .device-detail {
      .purchase-options-list {
        li {
          width: 50%;
        }
      }
    }
  }
}

@media #{$normal} {
  #specialized-devices {
    .device-detail {
      .purchase-options-list {
        li {
          width: 100%;
        }
      }
    }
  }
}
