#specialized-devices {
  padding-top: 0;

  h1,
  h2 {
    margin-bottom: 3rem;
  }

  .breadcrumb-nav {
    margin-bottom: 30px;
    display: none;
  }

  .catalog-header {
    margin-bottom: 30px;

    h1 {
      text-align: center;
    }
  }

  .devices-landing {
    padding-bottom: 40px;

    section {
      text-align: center;
      padding: 60px 0;

      &:nth-of-type(odd) {
        background: $fn-ltbluegrey;
      }

      .showAll {
        margin-top: 30px;
      }

      h3 {
        font-size: $fn-label-desktop;
      }
    }
  }

  .device-category {
    padding-bottom: 70px;
    text-align: center;

    h1 {
      text-transform: capitalize;
    }

    h3 {
      font-size: $fn-label-desktop;
    }
  }

  .device-detail {

    .detail-block {
      padding-bottom: 100px;

      .img-responsive {
        width: 100%;
        margin-bottom: 30px;
        max-width: 300px;
      }

      .feature-list {
        margin-left: 15px;

        ul {
          list-style: none;
          margin-left: 2rem;

          li {
            position: relative;
            margin-bottom: 1.6rem;
            padding-left: 1.5rem;
            line-height: 1.6;
            font-size: $fn-content-page-text-desktop;

            &::before {
              position: absolute;
              left: -20px;
              top: -9px;
              content: '\00b7';
              font-size: 30px;
            }
          }
        }
      }
    }

    .terms-block {
      padding: 50px 0 100px;
      background: $fn-ltbluegrey;
      font-size: $fn-small-text-desktop;

      ol {
        list-style: decimal;
        margin-bottom: 30px;
        margin-left: 15px;

        li {
          line-height: 1.6;
          margin-bottom: 1rem;
        }
      }

      p {
        font-size: inherit;
      }
    }
  }

  .mp-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    &.left {
      justify-content: flex-start;
    }

    > li {
      flex-direction: row;
      width: 51%;
      min-width: 180px;
      margin: 0 auto 15px;

      a {
        width: 100%;
        height: 250px;
        display: block;
        border: 1px solid $fn-dkgrey;
        padding: 15px;
        text-align: center;
        background: white;
        position: relative;
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }

      .card-img-wrapper {
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 180px;
        width: 100%;
        max-width: 110px;
        text-align: center;
        line-height: 180px;

        img {
          height: auto;
          max-width: 100%;
          max-height: 180px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media #{$mobile} {
  #specialized-devices {
    .catalog-header {
      margin-top: 30px;
    }

    .device-detail {
      .detail-block {
        padding-top: 30px;
      }
    }
  }
}
@media #{$tablet} {
  #specialized-devices {
    .breadcrumb-nav {
      display: block;
    }
    .mp-content {
      > li {
        width: 23%;
        min-width: 165px;
        margin: 0 1% 15px;
      }
    }
  }
}
@media #{$desktop} {
  #specialized-devices {
    .breadcrumb-nav {
      display: block;
    }
    .mp-content {
      > li {
        width: 23%;
        min-width: auto;
        margin: 0 1% 20px;
      }
    }
  }
}
