.standalone-form-page {
  padding: 0;

  .content-wrapper h1 {
    margin: 6rem 0;
  }

  .checkbox {
    padding-top: 15px;

    .error,
    label {
      padding-left: 0;
    }
  }
}

.form-actions {
  display: block;
  text-align: center;

  .form-group {
    display: inline-block;
  }
}

#customer-feedback-page {
  .contact-agreement {
    .checkbox {
      margin-bottom: 20px;
    }
  }

  a {
    white-space: nowrap;
  }
}

@media #{$mobile} {
  .standalone-form-page {
    .content-wrapper h1 {
      margin: 3rem 0;
    }
  }

  #customer-feedback-page {
    .content-wrapper h1 {
      margin: 2rem 0;
    }
  }
}
