.standalone-form-page {
  padding: 0;

  .content-wrapper h1 {
    margin: 6rem 0;
  }

  textarea {
    height: 125px;
    line-height: 1.5;
  }

  .checkbox label {
    padding-left: 0;
    padding-top: 15px;
  }
}

@media #{$mobile} {
  .standalone-form-page {
    .content-wrapper h1 {
      margin: 3rem 0;
    }
  }
}
