
  .btn-dashboard,
  .btn-dashboard:visited{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius:24px;
    background: $fn-red;
    color: white;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 2.12px;
  }
