$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$device:  "screen and (max-width: #{$screen-sm-max})";
$desktop: "screen and (min-width: #{$screen-sm-max})";
$mobile:  "screen and (max-width: #{$screen-xs-max})";
$tablet:  "screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$normal:  "screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$wide:    "screen and (min-width: #{$screen-lg-min})";
$mobile-progressive:  "only screen and (min-width : 0)";
$tablet-progressive:  "only screen and (min-width : #{$screen-sm-min})";
$desktop-progressive: "only screen and (min-width : #{$screen-md})";
$wide-progressive: "only screen and (min-width : #{$screen-lg})";

/*
  Media query example:

  @media #{$mobile} {
  }

  @media #{$tablet} {
  }

  @media #{$normal} {
  }

  @media #{$wide} {
  }

*/
