$mobile-border-yellow: #986e18;
$mobile-border-grey: #b9b9b9;
$mobile-border-dkgrey: #9b9b9b;
$detail-banner-font-size: 1.6rem;
$fn-certified-blue: #4892C9;
$fn-certified-grey: #696969;
$fn-header-hr-grey: #b5b5b5;
