//global colors
$fn-disabledgrey: #707070;
$fn-admin-red: #b60016;
$fn-alert-red: #D0011B;

//font size
$fn-h1-desktop: 4.8rem; //48px
$fn-h2-desktop: 3.6rem; //36px
$fn-h3-desktop: 2.8rem; //28px
$fn-h4-desktop: 2rem; //20px
$fn-h5-desktop: 1.6rem; //20px
$fn-intro-desktop: 2rem; //20px
$fn-content-page-text-desktop: 1.8rem; //18px
$fn-landing-page-text-desktop: 1.6rem; //16px
$fn-label-desktop: 1.4rem; //14px
$fn-button-desktop: 1.6rem; //16px
$fn-small-text-desktop: 1.2rem; //12px

$mobile-border-yellow: #986e18;
$mobile-border-grey: #b9b9b9;
$mobile-border-dkgrey: #9b9b9b;

$input-font-color: #000;
