$mobile-border-yellow: #986e18;
$mobile-border-grey: #b9b9b9;
$mobile-border-dkgrey: #9b9b9b;
$detail-banner-font-size: 1.6rem;

$joyride-color: #1559a8;
$joyride-zindex: 110;
$joyride-overlay-color: rgba(#093E67, 0.85);
$joyride-tooltip-color: #000;
$joyride-tooltip-font-size: 16px;
$joyride-header-color: #000;
$joyride-header-font-size: 20px;
