$detail-banner-font-size: 1.6rem;
$footer-margin-top: 100px;

//header theming
$fn-mobile-item-height: 60px;
$fn-desktop-logo-width: 275px;
$fn-header-bar-color: #EB9F02;
$header-nav-height-mobile: 60px;
$header-nav-height-tablet: 98px;
$header-nav-height-desktop: 94px;
$header-logo-maxwidth-mobile: 220px;
$header-logo-maxwidth-tablet: 350px;
$header-mobile-bgcolor: #1071BC;
$header-mobile-menu-text: #fff;
