//global colors
$fn-ltblue: #1071BC;
$fn-blue: #18477E;
$fn-red: #CB4027;
$fn-ltorange: #F1A694;
$fn-orange: #E34B25;
$fn-yellow: #EB9F02;
$fn-green: #008740;
$fn-black: #000000;
$fn-dark: #212121;
$fn-dkgrey: #4A4A4A;
$fn-mdgrey: #909090;
$fn-grey: #E1E1E1;
$fn-ltbluegrey: #F2F2F2;
$fn-ltgrey: #FAFAFA;
$fn-white: #FFFFFF;
$fn-bordergrey: #d8d8d8;
$fn-admin-red: #b60016;

//form colors
$input-placeholder-color: #d5d5d5;
$input-bgcolor: $fn-ltgrey;
$input-outline: #b7b7b7;
$input-outline-disabled: #d8d8d8;

//tables
$table-header-bg: black;

//button colors
$primary-button-color: $fn-ltblue;

//link colors
$active-link-color: $fn-ltblue;
$inactive-link-color: $fn-blue;

//focus halo colors
$focus-lightbg: #4A4A4A;
$focus-darkbg: #e1e1e1;

//social colors
$fn-social-grey: #9b9b9b;
$fn-facebook: #3b5998;
$fn-twitter: #00aced;
$fn-tumblr: #32506d;
$fn-youtube: #bb0000;
$fn-linkedin: #007bb6;

//font size
$fn-h1-default-size: 4.8rem; //48px
$fn-h2-default-size: 4rem; //40px
$fn-h3-default-size: 2.8rem; //28px
$fn-h4-default-size: 2rem; //20px
$fn-intro-default-size: 2rem; //20px
$fn-body-default-size: 1.8rem; //18px
$fn-landing-body-default-size: 1.6rem; //16px
$fn-label-default-size: 1.4rem; //14px
$fn-button-default-size: 1.6rem; //16px
$fn-small-text-default-size: 1.2rem; //12px

//font weight
$fn-bold-weight: 700;
$fn-medium-weight: 500;
$fn-normal-weight: 400;
$fn-light-weight: 300;

//cards
$fn-card-height-tall: 600px;
$fn-card-height-medium: 450px;
$fn-card-height-short: 320px;
$fn-card-height-extra-short: 180px;

$fn-animation-duration: 0.3s;
