$focus-shadow-depth: 1px;

@mixin focus() {
  outline: none;
  border: 2px solid $focus-lightbg;
  box-shadow: 0 0 $focus-shadow-depth $focus-lightbg;
  box-sizing: border-box;

  &.dropdown-toggle {
    border-color: $focus-darkbg;
    box-shadow: 0 0 $focus-shadow-depth $focus-darkbg;
  }

  &.tray-btn {
    border-color: white;
    box-shadow: 0 0 $focus-shadow-depth white;
  }
}

// reusing Bootstrap's .sr-only
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
// reusing Bootstrap's .sr-only-focusable
// use with :focus, :active
@mixin sr-only-focusable {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
