.alert {
	color: white;
	border-radius: 4px;
	padding: 15px;
	background-color: $fn-ltblue;

	p {
		font-size: 14px;
		line-height: 16px;
	}

	.close_btn {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
		float: right;
		&:focus {
			outline-color: $fn-white;
		}
	}

	&.alert-error {
		background-color: $fn-alert-red;
	}

	&.alert-success {
		background-color: $fn-green;
	}

	&:focus {
		@include focus();
	}
}

#manage-apps-page {
	.alert {
		margin-top: 30px;
	}
}

#app-details-page {
	@media #{$tablet} {
		.app-details-alerts {
			background: transparent!important;

			.alert {
				margin: 10px auto 0;
			}
		}
	}
}
