.alert {
	color: white;
	border-radius: 4px;
	min-height: 48px;
	background-color: $fn-ltblue;
	padding: 0;

	p {
		font-size: 14px;
		line-height: 16px;
		padding: 15px;
	}

	.close_btn {
		height: 46px;
		width: 48px;
		background: transparent;
		border: 0;
		border-radius: 24px;
		-webkit-appearance: none;
		float: right;
	}

	&.alert-error {
		background-color: $fn-alert-red;
	}

	&.alert-success {
		background-color: $fn-green;
	}
}

#manage-apps-page {
	.alert {
		margin-top: 30px;
	}
}

#app-details-page {
	@media #{$tablet} {
		.app-details-alerts {
			background: transparent!important;

			.alert {
				margin: 10px auto 0;
			}
		}
	}
}
