.app-management {
  width: 100%;
  height: auto;
  background-color: $fn-ltgrey;
  padding: 0 15px 15px;
  border: 1px solid $fn-grey;

  .checkbox label {
    padding: 8px 1rem;
    width: auto;
    height: 48px;
  }

  button {
    font-size: 1.4rem;
    display: block;
    margin: .75rem auto;
  }
}

@media (max-width: $screen-sm) {
  .app-management {
    padding-left: 0;
    margin-top: 1rem;

    .checkbox label {
      padding-left: 0;
    }
  }
}
