.appDetailSummary {
    padding: 30px;
    background: white;
    h1 {
        border-bottom: 0 none;
        font-size: 21px;
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 14px;
        font-weight: 300;
    }
    .app-info {
        margin-bottom: 15px;
        a {
            color: $fn-dark;
        }
        .app-tags {
            color: $fn-blue;
            font-size: 14px;
            font-weight: 500;

            &.firstnet {
              color: $fn-orange;
            }
        }
    }
    .app-feedback {
        margin-bottom: 15px;
        > * {
            font-weight: 300;
        }
    }
}
.appDescription {
    font-size: 14px;
    font-weight: 300;
    ul {
        list-style: disc;
        padding: 0 15px;
        li {
            margin-bottom: 0.75em;
            color: $fn-blue;
            line-height: 140%;
            div,
            p,
            span {
                color: $fn-dark;
            }
        }
    }
}
#relatedApps {
    .AppGallery {
        margin-bottom: 0;
    }
    .panel-body {
        background: #f3f3f3;
    }
}
