.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;

  .btn {
    align-self: center;
  }
}

.individual-review-container {
  position: relative;
  margin: 30px 0;

  .review-metadata {
    line-height: 1.5;
  }
}

.subject-and-rating-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .ratings-container {
    display: inline-block;
    margin: 0 0 0 15px;

    .ratings-number {
      display: none;
    }

    .ratings-stars {
      vertical-align: middle;
      margin: 1px 0 0 0;
    }

    .ratings-star {
      font-size: 2rem;
      line-height: 20px;
      max-height: 15px;
    }
  }
}

.review-subject {
  text-transform: uppercase;
  font-weight: $fn-bold-weight;
  font-size: $fn-content-page-text-desktop;
  color: $fn-dark;
}

.review-author {
  margin-right: 10px;
  font-size: $fn-content-page-text-desktop;
  color: $fn-dark;
}

.review-date {
  color: $fn-mdgrey;
  font-size: $fn-content-page-text-desktop;
}
