.app-summary {
  padding: 30px 0;

  .container {
    padding: 30px;
    background: $fn-white;
    border: 1px solid rgba(182, 182, 182, 0.50);
    box-shadow: 0 2px 2px 0 rgba(182, 182, 182, 0.50);
  }

  h1 {
    padding-bottom: 20px;
  }

  .appicon-wrapper {
    text-align: center;

    .app-icon {
      width: 100px;
      padding-bottom: 100px;
      position: relative;
      margin: auto;

      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .app-title {
    padding: 0 30px 0 0;
  }

  .app-meta {
    padding: 0 30px 0 0;

    strong {
      font-weight: $fn-bold-weight;
    }
  }

  .app-details {
    line-height: 3rem;
  }

  .app-store-button {
    img {
      margin-top: 15px;
    }
  }

  .app-management {
    float: right;
    background-color: transparent;
    border: none;
    width: auto;
    float: left;

    .checkbox label {
      padding-top: 0;
    }
  }
}
/* mobile */
@media #{$mobile} {
  .app-summary {
    margin: auto 15px;

    .container {
      padding: 30px;
    }

    .ratings-container {
      margin: 0;
    }

    .app-management {
      border-top: 1px solid $fn-grey;
      width: 100%;
      padding-top: 2rem;
    }
  }
}
/*Tablet*/
@media #{$tablet} {
  .app-summary {
    .container {
      padding: 50px;
    }

    .appicon-wrapper {
      .app-icon {
        width: 100%;
      }

      img {
        max-width: 150px;
      }
    }
  }
}
/* Desktop */
@media #{$desktop} {
  .app-summary {
    .container {
      padding: 80px;
    }

    .appicon-wrapper {
      .app-icon {
        width: 100%;
      }

      img {
        max-width: 200px;
      }
    }

    .app-management {
      padding-bottom: 0;
    }
  }
}
