.app-management{
    width: 100%;
    height: auto;
    background-color: $fn-grey;
    margin: 0 auto;
    padding: 0 15px 15px 15px;

    button {
        font-size: 1.4rem;
        margin: auto;
    }
}

@import 'app-management-block-lg'
