.app-management {
    width: 100%;
    height: auto;
    background-color: $fn-ltgrey;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
    border: 1px solid $fn-grey;

    .checkbox label {
      padding: 1rem 0;
    }

    button {
        font-size: 1.4rem;
        margin: auto;
    }
}

@import 'app-management-block-lg'
