.AppGallery {
  margin-bottom: 30px;
    .row-table {
        margin-bottom: 5px;
        > div {
            padding: 0;
        }
    }
    h2 {
        font-size: 20px;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
    .AppGallery-wrapper {
        white-space: nowrap;
        overflow-x: scroll;
    }
    .AppGallery-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }
    .AppGallery-list-item {
        display: block;
        flex: 0 1 110px;
        flex-shrink: 1;
        height: 230px;
        min-height: 180px;
        width: 100%;
        max-width: 110px;
        background: white;
        margin: 0 4px;
        position: relative;
        padding: 24px 7px 7px 7px;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        img {
            margin: 0 auto;
            max-width: 96px;
        }
        .app-description {
            font-size: 13px;
            line-height: 17px;
        }
        .app-name {
            font-weight: 500;
            display: block;
            max-width: 96px;
            max-height: 36px;
            overflow:hidden;
            white-space: normal;
        }
        .app-category,
        .app-price {
            font-weight: 300;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .app-preview-rating {
            position: absolute;
            bottom: 10px;
        }
        aside {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          .ribbon{
          text-align: right;
          padding: 0 5px;
          font-size: 10px;
          text-transform: uppercase;
          color: white;
          font-weight: 300;
          user-select: none;
          line-height: 16px;
          &:before {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            left: -8px;
          }
          &.firstnet{
            background: $fn-yellow;
            &:before{border-color: $fn-yellow transparent}
          }
          &.endorsed{
            background: $fn-ltblue;
            &:before{border-color: $fn-ltblue transparent}
          }
        }
        }
    }
}
