.app-summary {
  padding: 30px 0;

  .container {
    @media #{$mobile} {
      padding: 0;
    }
  }

  .white-card {
    padding: 30px;
    background: $fn-white;
    border: 1px solid rgba(182, 182, 182, 0.50);
    box-shadow: 0 2px 2px 0 rgba(182, 182, 182, 0.50);
  }

  h1 {
    padding-bottom: 20px;
  }

  .appicon-wrapper {
    text-align: center;

    .app-icon {
      width: 100%;
      padding-bottom: 100px;
      position: relative;
      margin: auto;

      img {
        width: 100%;
        max-width: 100px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .app-title {
    padding: 0 30px 0 0;
  }

  .app-meta {
    strong {
      font-weight: $fn-bold-weight;
    }
  }

  .app-details {
    line-height: 3rem;
  }

  .app-store-button {
    img {
      margin-top: 15px;
    }
  }

  .app-management {
    background-color: transparent;
    border: none;
    width: 100%;
    float: left;
    padding: 0;

    .checkbox label {
      padding: 0;
    }

    button {
      width: 100%;
      min-width: 100%;
      margin: 0;
    }
  }
}
/* mobile */
@media #{$mobile} {
  .app-summary {
    margin: auto 15px;

    .white-card {
      padding: 20px;
    }

    .ratings-container {
      margin: 0;
    }

    .appicon-wrapper .app-icon {
      max-width: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .app-management {
      border-top: 1px solid $fn-grey;
      width: 100%;
      padding-top: 2rem;
    }
  }
}
/*Tablet*/
@media #{$tablet} {
  .app-summary {
    .white-card {
      padding: 50px;
    }

    .appicon-wrapper .app-icon img {
      max-width: 150px;
    }

    .appmeta-wrapper {
      [class*="col-"] {
        padding-left: 7px;
        padding-right: 7px;

        &:first-child {
          padding-left: 15px;
        }

        &:last-child {
          padding-right: 15px;
        }
      }
    }
  }
}
/* Desktop */
@media #{$desktop} {
  .app-summary {
    .white-card {
      padding: 60px;
    }

    .appicon-wrapper .app-icon img {
      max-width: 200px;
    }

    .app-management {
      padding-bottom: 0;
    }
  }
}
