.admin-component {
	.ac-panel-heading{
		background: $table-header-bg;
		border-color: $table-header-bg;
		color: $fn-white;
		h4{
			margin:0;
			padding: 0px 15px;
			height:50px;
			line-height: 50px;
			font-size: $fn-label-default-size;
		    font-weight: $fn-medium-weight;
		    text-transform: uppercase;
		    letter-spacing: 0;
		}
	}

	.ac-panel-body{
		border: 1px solid $fn-bordergrey;
		border-top: none;
		border-bottom: none;
		float:left;
		.list-group-item{
			position: relative;
			height: 135px;
			margin:0;
			border:none;
			border-bottom: 1px solid $fn-bordergrey;
			border-radius: 0px;
			padding: 30px 20px;
		}
		.list-group-item-heading{
			position:relative;
			font-size: $fn-label-default-size;
			letter-spacing: 0;
			padding-left: 40px;
			i {
				position:absolute;
				left:0;
				color: $fn-mdgrey;
				&.mdi-new-box{
					color: $fn-ltblue;
				}
				&.mdi-check-circle-outline,&.mdi-wifi{
					color: $fn-green;
				}
				&.mdi-block-helper{
					color: $fn-red;
				}
				&.mdi-star{
					color: $fn-yellow;
				}
			}
		}
		.list-group-item-text{
			font-size: $fn-body-default-size;
			margin-left: 40px;
		}
	}
}