.app-management {
  width: 100%;
  height: auto;
  background-color: $fn-ltgrey;
  padding: 20px 15px;
  border: 1px solid $fn-grey;

  .checkbox {
    label {
      font-size: 1.6rem;
      width: auto;
      padding-left: 10px;
    }
  }

  .push-button {
    font-size: 1.4rem;
    display: block;
    padding: 0;
    width: 100%;
    margin-top: -5px;

    i:before {
      padding-right: 5px;
    }
  }
}
