.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;

  .btn {
    align-self: center;
  }
}

.individual-review-container {
  position: relative;
  margin: 15px 0;
}

.author-and-rating-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;

  // thanks Miles!
  .ratings-container {
    display: inline-block;
    margin: 0 5px 0 0;

    .ratings-number {
      display: none;
    }

    .ratings-stars {
      vertical-align: middle;
      margin: 1px 0 0 0;
    }

    .ratings-star {
      font-size: 2rem;
      line-height: 20px;
      max-height: 15px;
    }
  }
}

.review-subject {
  text-transform: uppercase;
  font-weight: $fn-bold-weight;
  font-size: $fn-body-default-size;
  color: $fn-dark;
}

.review-author {
  margin-right: 10px;
  font-size: $fn-body-default-size;
  color: $fn-dark;
}

.review-date {
  color: $fn-mdgrey;
  font-size: $fn-body-default-size;
}
