.app-summary {
  padding: 30px 0;

  h1 {
    padding-bottom: 20px;
  }

  .app-rating {
    .ratings-container {
      display: inline-block;
    }

    &.spacer {
      margin-top: 7px;
    }

    .icon-star,
    .icon-star-o {
      margin-right: 2px;

      &:before {
        vertical-align: top;
      }
    }
  }

  .app-reviews-count {
    display: inline-block;
    vertical-align: top;
  }

  .appicon-wrapper {
    text-align: center;

    .app-icon {
      width: 100px;
      padding-bottom: 100px;
      position: relative;
      margin: auto;

      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .app-title {
    padding: 0 30px 0 0;
  }

  .app-meta {
    padding: 0 30px 0 0;

    .spacer {
      margin-top: 5px;
    }

    strong {
      font-weight: $fn-bold-weight;
    }
  }

  .app-details {
    line-height: 3rem;
  }

  .app-store-button {
    img {
      margin-top: 15px;
    }
  }
}
/* mobile */
@media #{$mobile} {
  .app-summary {
    .app-details {
      margin-top: 1em;
    }

    .app-rating {
      .ratings-number {
        display: none;
      }
    }

    .card-rating {
      margin-top: 3px;
    }


  }
}
/*Tablet*/
@media #{$tablet} {
  .app-summary {
    .appicon-wrapper {
      .app-icon {
        width: 100%;
      }

      img {
        max-width: 150px;
      }
    }
  }
}
/* Desktop */
@media #{$desktop} {
  .app-summary {
    .container {
      padding-bottom: 30px;
    }

    .appicon-wrapper {
      .app-icon {
        width: 100%;
      }

      img {
        max-width: 200px;
      }
    }
  }
}
