.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;

  .btn {
    align-self: center;
  }
}

.individual-review-container {
  position: relative;
  margin: 30px 0;

  .review-metadata {
    line-height: 1.5;

    .subject-and-rating-container {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      .ratings-container {
        .ratings-number {
          display: none;
        }

        .ratings-stars {
          vertical-align: middle;

          .ratings-star:before {
            vertical-align: top;
          }
        }
      }

      .review-subject {
        text-transform: uppercase;
        font-weight: $fn-bold-weight;
        font-size: $fn-content-page-text-desktop;
        color: $fn-dark;
        margin-right: 15px;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
}



.review-author {
  margin-right: 10px;
  font-size: $fn-content-page-text-desktop;
  color: $fn-dark;
}

.review-date {
  color: $fn-mdgrey;
  font-size: $fn-content-page-text-desktop;
}

@media #{$mobile, $tablet} {
  .subject-and-rating-container {
    .review-subject {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
