nav.breadcrumb-nav {

  ol {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;

    > li {
      display: inline-block;
      flex-direction: row;
      line-height: 4.35;

      a {
        position: relative;
        text-transform: uppercase;
        white-space: nowrap;
        color: $fn-ltblue;
      }

      span {
        padding-left: 10px;
        padding-right: 10px;
        color: $fn-ltblue;

        &:before {
          font-size: 1rem;
        }
      }

      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          pointer-events: none;
          padding-right: 0;
          width: 440px;
          color: $fn-dkgrey;
        }

        span {
          display: none;
        }
      }
    }
  }
}
@media #{$tablet} {
  nav.breadcrumb-nav {
    border-bottom: 1px solid $fn-grey;
    .container {
      width: 100%;
    }
  }
}
@media #{$desktop} {
  nav.breadcrumb-nav {
    .container {
      width: 970px;
    }
  }
}
@media #{$wide} {
  nav.breadcrumb-nav {
    .container {
      width: 1170px;
    }
  }
}
