nav.breadcrumb-nav {
  border-bottom: 1px solid $fn-grey;

  ol {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    > li {
      flex-direction: row;
      line-height: 4.35;

      a {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        color: $fn-ltblue;
      }

      span {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        color: $fn-ltblue;

        &:before {
          font-size: 1rem;
        }
      }

      &:last-child {
        a {
          pointer-events: none;
          color: $fn-dkgrey;
          padding-right: 0;
        }

        span {
          display: none;
        }
      }
    }
  }
}
@media #{$tablet} {
  nav.breadcrumb-nav {
    .container {
      width: 100%;
    }
  }
}
@media #{$desktop} {
  nav.breadcrumb-nav {
    .container {
      width: 970px;
    }
  }
}
@media #{$wide} {
  nav.breadcrumb-nav {
    .container {
      width: 1170px;
    }
  }
}
