.card-list-container {
  background-color: white;

    .center-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    // &:nth-of-type(odd) {
    //     background-color: #F2F2F2;
    // }

    .card-list-cards {
        margin: auto;
        padding: 0;
    }

    // .card-container {
    //     width: 100px;
    //     margin: 0;
    // }

    .card-wrapper {
        display: inline-block;
        width: 100%;
    }

    .card-list-load-more {
        padding: 4rem 0 2rem 0;
        text-align: center;
    }
}

@import 'card-list-lg';

@media #{$tablet, $mobile} {
  .card-list-container {
    padding-bottom: 8rem;
  }
}

@media #{$desktop} {
  .card-list-container {
    padding-bottom: 8rem;
  }
}
