.card-list-container{
    padding-bottom: 20px;
    &:nth-of-type(odd){
        background-color: #F2F2F2;
    }
    .card-list-title{
        font-size: 28px;
        margin: 0px;
        margin-top: 20px;
    }

    .card-list-cards{
        margin: auto;
        padding: 0px;
    }

    .card-wrapper{
        margin: 0 auto;
        margin-top: 20px;
    }
}

.has-shadow {
    border: 1px solid rgba(182, 182, 182, 0.50);
    box-shadow: 0px 2px 2px 0px rgba(182, 182, 182, 0.50);
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        box-shadow: 0px 0px 20px 0px rgba(182, 182, 182, 0.50);
    }
}

@import 'card-list-lg';