.card-list-container {
    padding-bottom: 20px;

    .center-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &:nth-of-type(odd) {
        background-color: #F2F2F2;
    }

    .card-list-title {
        font-size: 28px;
        margin: 20px 0 0;
    }

    .card-list-cards {
        margin: auto;
        padding: 0;
    }

    .card-container {
        width: 100%;
        margin: 0;
    }

    .card-wrapper {
        display: inline-block;
        width: 100%;
    }
}

.has-shadow {
    border: 1px solid rgba(182, 182, 182, 0.50);
    box-shadow: 0 2px 2px 0 rgba(182, 182, 182, 0.50);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0 20px 0 rgba(182, 182, 182, 0.50);
    }
}
@import 'card-list-lg';
