.card-list-container {
  background-color: white;
  padding-bottom: 8rem;

  .center-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card-wrapper {
    display: inline-block;
    width: 100%;
  }

  .card-list-load-more {
    padding: 4rem 0 2rem;
    text-align: center;
  }
}
