article.faq-article {
    padding-top: 0;
}

.faq-page {

    .faq-header {
        margin-bottom: 60px;
        
        .horizontal-line-header {
            width: 100%; 
            height: 20px; 
            border-bottom: 2px solid $fn-dkgrey; 
            text-align: left; 
            padding-top: 30px;
            padding-bottom: 8px;
            margin-bottom:30px;
        }
        .header-title {
            background-color: $fn-white; 
            padding-right: 45px;
            font-size: 2rem;
            color: $fn-dkgrey;            
            letter-spacing: 2px;
            line-height: 2.4rem;
            font-weight: $fn-bold-weight;
            position: absolute;
        }
    }

    article.faq-entry {
        margin-top: 0;
        h3 {
            padding-bottom: 14px;
            color: $fn-dark;
        }
        div.faq-entry-content {
            font-size: $fn-body-default-size;
            background-color: $fn-ltgrey;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $fn-dark;
            margin-left: 0;
            margin-right: 0;
        }
        div.faq-entry-content-button {
            background-color: $fn-ltgrey;
            padding-bottom: 20px;
            padding-left: 20px;
            margin-left: 0;
            margin-right: 0;
        }
        p {
            padding-top:1.6rem;
            color: $fn-dark;
            font-size: 1.6rem;
        }
        p:first-child {
            padding-top:0;
            color: $fn-dark;
        }
        padding-top: 14px;
        padding-bottom: 14px;
        width: 100%;
        border-bottom: 2px solid $fn-grey;

        .show-more-link {
            color: $fn-ltblue;
            font-size: $fn-button-default-size;
            font-weight: $fn-medium-weight;
            text-align: left;
            text-transform: uppercase;
            a {
                text-decoration: none;
            }
            a::after{
                font-size: 1rem;
                vertical-align: baseline;
                display: inline-block;
                margin-left: 5px;
                font-family: 'firstnet-icons';
                font-style: normal;
                font-weight: $fn-normal-weight;
                font-variant: normal;
                text-transform: none;
            }
        }
        .show-more-link.open {
            a::after{
                content: '\66';
            }
        }
        .show-more-link.closed {
            a::after{
                content: '\68';
            }
        }
    }
    
    .faq-category-tabs {
        margin-top: 50px;

        ul {
            list-style: none;
        }
        li {
            display: inline;
            padding: 0 10px;
            border-left: solid 1px $fn-dkgrey;
            font-size: $fn-body-default-size;
            font-weight: $fn-medium-weight;
            color: $fn-ltblue;
            line-height: 4rem;
        }
        li > a.active {
            color: $fn-dkgrey;
            font-weight: $fn-bold-weight;
            position:relative;
            width:50px;
            text-align:center;
            text-decoration: none;
        }
        li > a.active:before{
            content:"";
            display:block;
            width:0;
            border:8px solid $fn-dkgrey;
            border-color:transparent transparent $fn-dkgrey transparent;
            position:absolute;
            top:70%;
            left:50%;
            margin-left:-8px;
        }

        li:first-child{
            border-left: none;
            padding-left: 0;
        }
    }

    .faq-category-select {
        div {
            font-size:1.4rem;
            font-weight: $fn-medium-weight;
            padding-top:12px;
        }
        label {
            font-size:1.4rem;
            margin-bottom: 5px;
            margin-top: 12px;
            padding-left:4px;
            font-weight: $fn-medium-weight;
        }        
    }
}
