.faq-top-header {
    h1 { 
        color: $fn-black;
        padding-left:60px;
    }
    p { 
        padding-bottom: 20px; 
        color: $fn-black;
        z-index: 3;
    }
    p:last-of-type {
        padding-bottom: 0;         
    }
    div.faq-header-box {
        padding-top:40px;
        padding-bottom:50px;
    }

}
.faq-top-header {
    border-bottom: 1px solid $fn-grey;
}