article.faq-article {
    padding-top: 0;
}

.faq-page {

    .faq-header {
        margin-bottom: 60px;
        
        .horizontal-line-header {
            width: 100%; 
            height: 20px; 
            border-bottom: 2px solid $fn-dkgrey; 
            text-align: left; 
            padding-top: 60px;
            margin-bottom: 52px;
            padding-bottom: 8px;
        }
        .header-title {
            background-color: $fn-white; 
            padding-right: 45px;
            font-size: 2rem;
            color: $fn-dkgrey;            
            letter-spacing: 2px;
            line-height: 1.2;
            font-weight: $fn-bold-weight;
            position: absolute;
            text-transform: uppercase;
        }
    }

    article.faq-entry {
        margin-top: 0;
        h3 {
            padding-bottom: 20px;
            color: $fn-dark;
        }
        div.faq-entry-content {
            font-size: $fn-body-default-size;
            background-color: $fn-ltbluegrey;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $fn-dark;
            margin-left: 0;
            margin-right: 0;
        }
        div.faq-entry-content-button {
            background-color: $fn-ltbluegrey;
            padding-top: 10px;
            margin-left: 0;
            margin-right: 0;
        }
        p {
            padding-top: 1.6rem;
            color: $fn-dark;
            font-size: 1.6rem;
            margin-bottom: 0;
        }
        p:first-child {
            padding-top: 0;
            color: $fn-dark;
        }
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 2px solid $fn-grey;

        .show-more-link {
            color: $fn-ltblue;
            font-size: $fn-button-default-size;
            font-weight: $fn-medium-weight;
            text-align: left;
            text-transform: uppercase;
            a {
                text-decoration: none;
            }
            a::after{
                font-size: 1rem;
                vertical-align: baseline;
                display: inline-block;
                margin-left: 5px;
                font-family: 'firstnet-icons';
                font-style: normal;
                font-weight: $fn-normal-weight;
                font-variant: normal;
                text-transform: none;
            }
        }
        .show-more-link.open {
            a::after{
                content: '\66';
            }
        }
        .show-more-link.closed {
            a::after{
                content: '\68';
            }
        }
    }
    article.faq-entry:last-of-type {
        border-bottom: 0;
    }
    
    .faq-category-tabs {
        margin-top: 30px;

        ul {
            list-style: none;
        }
        li {
            display: inline;
            padding: 0 10px;
            border-left: solid 1px $fn-dkgrey;
            font-size: $fn-body-default-size;
            font-weight: $fn-medium-weight;
            color: $fn-ltblue;
            line-height: 4rem;
        }
        li > a.active {
            color: $fn-dkgrey;
            font-weight: $fn-bold-weight;
            position: relative;
            width: 50px;
            text-align: center;
            text-decoration: none;
        }
        li > a.active:before{
            content: "";
            display: block;
            width: 0;
            border: 8px solid $fn-dkgrey;
            border-color:transparent transparent $fn-dkgrey transparent;
            position: absolute;
            top: 70%;
            left: 50%;
            margin-left: -8px;
        }

        li:first-child{
            border-left: none;
            padding-left: 0;
        }
    }

    .faq-category-select {
        label {
            padding-top:20px;
            font-size: 1.4rem;
            margin-bottom: 5px;
            margin-top: 10px;
            padding-left:4px;
            font-weight: $fn-medium-weight;
        }        
    }
}
.faq-top-header {
    h1 { 
        color: $fn-black;
        padding-left: 60px;
    }
    p { 
        padding-bottom: 20px; 
        color: $fn-black;
        z-index: 3;
    }
    p:last-of-type {
        padding-bottom: 0;         
    }
    div.faq-header-box {
        padding-top: 40px;
        padding-bottom: 50px;
    }

}
.faq-top-header {
    border-bottom: 1px solid $fn-grey;
}