@media (max-width: $screen-sm) {
    .faq-page {
        article.faq-entry {
            h3 {
                padding-bottom: 14px;
                color: $fn-dark;
                padding-left: 2px;
                font-size: 2.4rem;
                line-height:1.2;
            }
        }

        article.faq-entry {
            div.faq-entry-content {
                font-size: $fn-body-default-size;
                background-color: $fn-ltgrey;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                color: $fn-dark;
                margin-left: -15px;
                margin-right: -15px;
            }
            div.faq-entry-content-button {
                background-color: $fn-ltgrey;
                padding-bottom: 20px;
                padding-left: 20px;
                margin-left: -15px;
                margin-right: -15px;
            }
        }

        .faq-header {
            .horizontal-line-header {
                padding-top: 30px;
            }
        }
    }
}