@media (max-width: $screen-sm) {
    .faq-top-image {
        h1 { 
            color: $fn-white;
            padding-left:26px;
            font-size: 30px;
            line-height: 33px;
            max-width:50%;
        }
        div.faq-header-box {
            padding-top:32px;
            padding-bottom:22px;
            min-height: 128px;
        }

    }
}