@media (min-width: $screen-sm) and (max-width: $screen-md) {
    .faq-top-image {
        h1 { 
            color: $fn-white;
            padding-left:40px;
        }
        div.faq-header-box {
            padding-top:40px;
            padding-bottom:50px;
        }

    }
}