.faq-article {
  padding-top: 0;
  padding-bottom: 70px;
}

.faq-top-header {
  border-bottom: 1px solid $fn-grey;
}

.faq-header {
  .faq-header-box {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .horizontal-line-header {
    width: 100%;
    border-bottom: 2px solid $fn-dkgrey;
    text-align: left;
    padding-top: 25px;
    margin-bottom: 30px;
    padding-bottom: 10px;

    h2 {
      background-color: $fn-white;
      padding-right: 45px;
      font-size: 2rem;
      color: $fn-dkgrey;
      letter-spacing: 2px;
      line-height: 1.2;
      font-weight: $fn-bold-weight;
      position: absolute;
      text-transform: uppercase;
    }
  }
}

.faq-page {
  .faq-entry {
    h3 {
      padding-bottom: 20px;
    }

    br {
      line-height: 4rem;
    }

    .faq-entry-content {
      background-color: $fn-ltbluegrey;
      padding: 20px;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    padding: 30px 0;
    border-bottom: 2px solid $fn-grey;
  }


  .faq-category-tabs {
    margin-top: 60px;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin-bottom: 25px;
      white-space: nowrap;
      border-left: solid 1px $fn-dkgrey;

      button {
        padding: 0 15px;
        font-size: $fn-content-page-text-desktop;
        font-weight: $fn-medium-weight;
        text-transform: uppercase;
        color: $fn-ltblue;

        &.active {
          color: $fn-dkgrey;
          font-weight: $fn-bold-weight;
          position: relative;
          text-align: center;
          text-decoration: none;

          &:before {
            content: "";
            display: block;
            width: 0;
            border: 8px solid $fn-dkgrey;
            border-color: transparent transparent $fn-dkgrey transparent;
            position: absolute;
            top: 70%;
            left: 50%;
            margin-left: -8px;
          }
        }
      }
      &:first-child {
        border-left: none;

        button {
          padding-left: 0;
        }
      }
    }
  }

  .faq-category-select {
    label {
      padding-top: 20px;
      font-size: $fn-label-desktop;
      margin-bottom: 5px;
      margin-top: 10px;
      padding-left: 4px;
      font-weight: $fn-medium-weight;
    }
  }
}

@media #{$mobile} {
  .faq-header {
    .horizontal-line-header {
        padding-top: 30px;
    }
  }

  .faq-entry {
    h3 {
      padding-bottom: 14px;
      line-height: 1.2;
    }

    .faq-entry-content {
      font-size: $fn-content-page-text-desktop;
      background-color: $fn-ltbluegrey;
      padding: 20px;
      color: $fn-dark;
      margin: 0 -15px;
    }
  }

  .faq-top-header {
    h1 {
      max-width: 50%;
    }
    .faq-header-box {
      padding: 30px 15px;
    }
  }
}

@media #{$tablet, $desktop} {
  .faq-top-header {
    .faq-header-box {
      padding-top: 40px;
      padding-bottom: 50px;
    }
  }
}
