@media (max-width: $screen-sm) {
    .faq-top-header {
        h1 { 
            color: $fn-dark;
            padding-left:26px;
            font-size: 3.6rem;
            line-height: 4rem;
            max-width:50%;
        }
        div.faq-header-box {
            padding-top:30px;
            padding-bottom:30px;
            min-height: 128px;
        }

    }
}