.filters {
  position: relative;
  padding: 10px 0;

  .form-group {
    display: inline-block;
    margin: 0px;
    width: 100%;

    select {
      margin: 0px;
      display: block;
      height: 48px;
      font-weight: $fn-normal-weight;
      font-size: $fn-body-default-size;
    }
  }
}

@import 'filters-lg';
