.filters {
  text-align: right;
  position: relative;
  padding: 10px;

  .form-inline, h4 {
    display: inline-block;
  }

  .form-group {
    display: inline-block;
    margin: 0px;
    text-align: left;
    label, select {
      margin: 0px;
      display: block;
      height: 48px;
    }
  }
}
