.filters {
  position: relative;
  padding: 10px 0;

  .form-group {
    display: inline-block;
    margin: 0px;
    width: 100%;
    margin-top: 20px;

    select {
      display: block;
      color: $fn-dkgrey;
      font-weight: $fn-medium-weight;
    }
  }
}

@import 'filters-lg';
