footer{
  padding: 30px 0;
  background: $fn-grey !important;
  line-height: 42px;
  .fn-logo{
    height: 36px;
    margin: 0 0 10px 0;
    &--mobile{
      height: 24px;
      line-height: 42px;
    }
  }
  .social{
    text-align: center;
    img{margin: 6px 2.5px 0}
    &--mobile{
      text-align: right;
      line-height: 42px;
      height: 42px;
    }
  }
  .copyright{
    font-size: 12px;
    line-height: 16px;
  }
}
