footer {
  border-top: 5px solid $fn-black;

  .footer-main {
    background: $fn-ltgrey;
    padding-bottom: 60px;

    .sitemap-hdr,
    h2 {
      color: $fn-black;
      font-size: 1.8rem;
      line-height: 1.12;
      text-transform: uppercase;
      font-weight: $fn-medium-weight;
      letter-spacing: 2.65px;
    }

    ul {
      margin-top: 30px;
    }

    li {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: $fn-normal-weight;
      color: $fn-dkgrey;
      margin-bottom: 15px;
      line-height: 1.4;
      a {
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;

        &.fb {
          &:hover {
            i {
              color: $fn-facebook;
            }
          }
        }

        &.youtube {
          &:hover {
            i {
              color: $fn-youtube;
            }
          }
        }

        &.twitter {
          &:hover {
            i {
              color: $fn-twitter;
            }
          }
        }

        &.linkedin {
          &:hover {
            i {
              color: $fn-linkedin;
            }
          }
        }

        &.tumblr {
          &:hover {
            i {
              color: $fn-tumblr;
            }
          }
        }
      }

      i {
        display: inline-block;
        margin-right: 10px;
        color: $fn-social-grey;

        &:before {
          font-size: 2.4rem;
          vertical-align: bottom;
        }

        &.footer-support-phone{
          color: $fn-dark;
          margin-right: 5px;
          &:before{
            font-size: 1.6rem;
            vertical-align: baseline;
          }

        }
      }
    }
  }

  .footer-sub {
    background: $fn-white;
    padding: 30px 0;
    border-top: 1px solid $fn-grey;

    li {
      display: inline-block;

      a {
        font-weight: $fn-normal-weight;
        font-size: 1.2rem;
        padding: 0 10px;
      }
    }
  }
}

.sitemap-links {
  overflow: hidden;
  transition: all $fn-animation-duration ease;
}

.sitemap-hdr {
  position: relative;
  margin-bottom: 1.6rem;
  display: block;
  padding-left: 30px;

  &:before {
    content: '\68';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    font-family: $icon-font;
    text-transform: none;
    transition: all $fn-animation-duration ease;
  }

  &[aria-expanded='false'] {
    &:before {
      transform: rotate(-180deg);
    }

    + .sitemap-links {
      max-height: 0;
    }
  }
  //sitemap expanded
  &[aria-expanded='true'] {
    &:before {
      transform: rotate(0);
    }

    + .sitemap-links {
      max-height: 700px;
    }
  }
}

.help-hdr {
  display: block;
  position: relative;

  &:before {
    content: '\61';
    text-transform: none;
    font-family: $icon-font;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.help-link-block {
  margin-left: 25px;
}


@media #{$mobile} {
  footer {
    .logoRow {
      padding: 30px;

      img {
        width: 100%;
        max-width: 295px;
      }
    }
  }

  .footer-main {
    .is-flex > div {
      padding: 15px 30px;

      &:not(:last-child) {
        border-right: 0;

        nav {
          border-bottom: 1px solid $fn-grey;
          padding-bottom: 15px;
        }
      }
    }
  }

  .social-links-list {
    li {
      display: inline-block;
    }

    a {
      margin-right: 45px;

      > span {
        display: none;
      }
    }
  }

  .footer-sub {
    .sub-links {
      text-align: center;
    }

    li {
      margin-bottom: 30px;

      &:nth-child(1),
      &:nth-child(4) {
        border-right: 1px solid $fn-blue;
      }
    }
  }
}

@media #{$tablet} {
  footer {
    .logoRow {
      padding: 30px 15px;

      img {
        max-width: 430px;
      }
    }
  }

  .footer-main {
    .is-flex > div {
      padding: 15px 30px;

      nav {
        border-bottom: 0;
      }

      &:not(:last-child) {
        border-right: 0;

        nav {
          border-bottom: 1px solid $fn-grey;
          padding-bottom: 15px;
        }
      }
    }

    nav {
      border-bottom: 1px solid $fn-grey;
    }
  }

  .footer-sub {
    .sub-links {
      text-align: right;
    }

    li {
      margin-bottom: 30px;

      &:not(:last-child) {
        border-right: 1px solid $fn-blue;
      }
    }
  }
}

@media #{$desktop} {
  footer {
    .logoRow {
      padding: 60px 15px;

      img {
        max-width: 340px;
      }
    }
  }

  .sitemap-hdr {
    padding: 0;
    pointer-events: none;

    &:before {
      content: '';
      display: none;
    }
    &[aria-expanded]{
      + .sitemap-links {
        max-height: 700px;
      }
    }

  }

  .social-links-list {
    li {
      display: block;
    }

    a {
      > span {
        display: inline;
      }
    }
  }

  .footer-main {
    .is-flex{
      flex-wrap: nowrap;
      > div {
        padding: 15px 30px;

        nav {
          border-bottom: none;
        }
        &:first-child{
          padding-left: 15px;
        }
        &:not(:last-child) {
          border-right: 1px solid $fn-grey;

          nav {
            border-bottom: none;
          }
        }
      }
    }
  }
  .footer-sub {
    .sub-links {
      text-align: right;
    }

    li {
      margin-bottom: 0;

      &:not(:last-child) {
        border-right: 1px solid $fn-blue;
      }
    }
  }
}
