footer{
  border-top: 5px solid $fn-black;
  .logoRow{
    padding: 30px 15px;
  }
  .footer-main{
    background: $fn-ltgrey;
    padding-bottom: 60px;


    h2, .sitemap-hdr{
      color: $fn-black;
      font-size: 1.8rem;
      line-height: 1.12;
      text-transform: uppercase;
      font-weight: $fn-medium-weight;
      letter-spacing: 2.65px;
    }
    .sitemap-hdr{
      margin-bottom: 1.6rem;
      display:block;
    }
    ul{
      margin-top: 40px;
    }
    li{
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: $fn-normal-weight;
      color: $fn-dkgrey;
      margin-bottom: 24px;
      line-height: 1.4;
      a{
        font-weight: $fn-normal-weight;
        color: $fn-dkgrey;
      }
      i{
        display: inline-block;
        margin-right: 10px;
        color: $fn-social-grey;
        &:before{
          font-size: 2.4rem;
          vertical-align: middle;
        }
      }
    }
  }
  .footer-sub{
    background: $fn-white;
    padding: 30px 0;
    border-top: 1px solid $fn-grey;
    li{
      display: inline-block;
      a{
        font-weight: $fn-normal-weight;
        font-size: 1.2rem;
        padding: 0 10px;
      }
    }
  }
}
/* mobile */
@media only screen and (min-width : 0px) {
  .footer-main{
    .is-flex > div{
      padding:15px 45px;
      &:not(:last-child){
        border-right: 0;
        nav{border-bottom: 1px solid $fn-grey;}
      }
    }
  }
  .social-links-list{
    li{
      display:inline-block;
    }
    a{
      margin-right: 45px;
      > span{display:none;}
    }
  }
  .footer-sub{
    .sub-links{text-align: center}
    li{
      margin-bottom: 30px;
      &:nth-child(1),
      &:nth-child(4){
        border-right: 1px solid $fn-blue;
      }
    }
  }
}

/*Tablet*/
@media only screen and (min-width : 768px) {
  .footer-main{
    .is-flex > div{
      padding:15px 45px;
      &:not(:last-child){
        border-right: 0;
      }
    }
    nav{
      border-bottom: 1px solid $fn-grey;
    }
  }
  .social-links-list{
    li{
      display:block;
    }
    a{
      margin-right: 10px;
      > span{display:inline;}
    }
  }
  .footer-sub{
    .sub-links{text-align: right}
    li{
      margin-bottom: 0;

      &:not(:last-child){
        border-right: none;
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width : 992px) {
  footer{
    .logoRow{
      padding: 60px 30px;
    }
  }
  .footer-main{
    .is-flex > div{
      padding:15px 45px;
      nav{border-bottom: none;}
      &:not(:last-child){
        border-right: 1px solid $fn-grey;
        nav{border-bottom: none;}
      }
    }
  }
}
