@media #{$desktop} {
  footer {
    .logoRow {
      padding: 60px 15px;

      img {
        max-width: 340px;
      }
    }
  }

  .sitemap-hdr {
    padding: 0;
    pointer-events: none;

    &:before {
      content: '';
      display: none;
    }

    &[aria-expanded] {
      + .sitemap-links {
        max-height: 700px;
        visibility: visible;
      }
    }
  }

  .social-links-list {
    li {
      display: block;
    }

    a {
      > span {
        display: inline;
      }
    }
  }

  .footer-main {
    .is-flex {
      flex-wrap: nowrap;

      > div {
        padding: 15px 30px;

        nav {
          border-bottom: none;
        }

        &:first-child {
          padding-left: 15px;
        }

        &:not(:last-child) {
          border-right: 1px solid $fn-grey;

          nav {
            border-bottom: none;
          }
        }
      }
    }
  }

  .footer-sub {
    .sub-links {
      text-align: right;
    }

    li {
      margin-bottom: 0;

      &:not(:last-child) {
        border-right: 1px solid $fn-blue;
      }
    }
  }
}
