$footer-font-color: $fn-dark;

.footer-container {
  background-color: $fn-white;
  padding-top: $footer-margin-top;
}

footer {
  border-top: 5px solid $fn-black;

  .logoRow {
    > a {
      display: inline-block;
      height: 100%;

      &:focus {
        @include focus();
        border-radius: 4px;
      }
    }
  }

  .footer-main {
    background: $fn-ltgrey;
    padding-bottom: 60px;

    .sitemap-hdr,
    h2 {
      color: $footer-font-color;
      font-size: 1.8rem;
      line-height: 1.12;
      text-transform: uppercase;
      font-weight: $fn-bold-weight;
      letter-spacing: 1.35px;
    }

    h2 {
      padding-left: 2px;
    }

    ul {
      margin-top: 30px;
      padding-top: 1px;
    }

    li {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: $fn-normal-weight;
      color: $footer-font-color;
      margin-bottom: 23px;
      line-height: 1.4;

      a {
        font-weight: $fn-normal-weight;
        color: $footer-font-color;
        padding: 2px;
        line-height: 1;

        i.icon-external-site {
          display: inline-block;
          margin-left: 5px;
          text-decoration: none;
          vertical-align: top;
          line-height: 0.9;
          color: $footer-font-color;

          &:before {
            font-size: $fn-small-text-desktop;
          }
        }

        span {
          margin-left: 10px;
        }

        &:focus {
          @include focus();
          border-radius: 4px;
        }

        &.fb {
          &:active,
          &:focus,
          &:hover {
            padding-bottom: 5px;

            i {
              color: $fn-facebook;
            }
          }
        }

        &.youtube {
          &:active,
          &:focus,
          &:hover {
            padding-bottom: 5px;

            i {
              color: $fn-youtube;
            }
          }
        }

        &.twitter {
          &:active,
          &:focus,
          &:hover {
            padding-bottom: 5px;

            i {
              color: $fn-twitter;
            }
          }
        }

        &.linkedin {
          &:active,
          &:focus,
          &:hover {
            padding-bottom: 5px;

            i {
              color: $fn-linkedin;
            }
          }
        }

        &.tumblr {
          &:active,
          &:focus,
          &:hover {
            padding-bottom: 5px;

            i {
              color: $fn-tumblr;
            }
          }
        }
      }

      i {
        display: inline-block;
        color: $fn-social-grey;

        &:before {
          font-size: 2.4rem;
          vertical-align: bottom;
        }

        &.footer-support-phone {
          color: $footer-font-color;
          margin-left: 0;

          &:before {
            font-size: 1.6rem;
            vertical-align: baseline;
          }
        }
      }
    }
  }

  .footer-sub {
    background: $fn-white;
    padding: 25px 0;
    border-top: 1px solid $fn-bordergrey;

    li {
      display: inline-block;

      a {
        font-weight: $fn-normal-weight;
        font-size: 1.2rem;
        padding: 0 12px;
      }
    }
  }
}

.sitemap-links {
  overflow: hidden;
  transition: all $fn-animation-duration ease;

  > div {
    padding: 1px;
  }
}

.sitemap-hdr {
  position: relative;
  margin-bottom: 1.6rem;
  display: block;
  padding-left: 30px;

  &:before {
    content: '\68';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    font-family: $icon-font;
    text-transform: none;
    transition: all $fn-animation-duration ease;
  }

  &[aria-expanded='false'] {
    &:before {
      transform: rotate(-180deg);
    }

    + .sitemap-links {
      max-height: 0;
      visibility: hidden;
    }
  }
  //sitemap expanded
  &[aria-expanded='true'] {
    &:before {
      transform: rotate(0);
    }

    + .sitemap-links {
      visibility: visible;
      max-height: 700px;
    }
  }
}

.help-hdr {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: top;

  i.icon-help {
    margin-right: 5px;
    vertical-align: sub;

    &:before {
      vertical-align: top;
    }
  }
}

.help-link-block {
  margin-left: 25px;
}

/*****************************************************/

@media #{$mobile} {
  footer {
    .logoRow {
      padding: 30px;

      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }

  .footer-main {
    .is-flex > div {
      padding: 15px 30px;

      &:not(:last-child) {
        border-right: 0;

        nav {
          border-bottom: 1px solid $fn-grey;
          padding-bottom: 15px;
        }
      }
    }
  }

  .social-links-list {
    li {
      display: inline-block;
    }

    a {
      margin-right: 45px;

      > span {
        @include sr-friendly-hidden();
      }
    }
  }

  .footer-sub {
    padding: 30px 0;

    .sub-links {
      text-align: center;
    }

    li {
      &:nth-child(1),
      &:nth-child(4) {
        border-right: 1px solid $fn-ltblue;
      }
    }

    .xs-line-break {
      width: 100%;
    }
  }
}
@media #{$tablet} {
  footer {
    .logoRow {
      padding: 40px 15px 30px;

      img {
        max-width: 300px;
      }
    }
  }

  .footer-main {
    .is-flex > div {
      padding: 15px 30px;

      nav {
        border-bottom: 0;
      }

      &:not(:last-child) {
        border-right: 0;

        nav {
          border-bottom: 1px solid $fn-bordergrey;
          padding-bottom: 15px;
        }
      }
    }

    nav {
      border-bottom: 1px solid $fn-bordergrey;
    }
  }

  .social-links-list {
    li {
      display: inline-block;
    }

    a {
      margin-right: 45px;

      > span {
        @include sr-friendly-hidden();
      }
    }
  }

  .footer-sub {
    padding: 25px 0 20px 0;

    .sub-links {
      text-align: right;
    }

    li {
      margin-bottom: 30px;

      &:not(:last-child) {
        border-right: 1px solid $fn-ltblue;
      }
    }
  }
}
@media #{$desktop} {
  footer {
    .logoRow {
      padding: 45px 15px 40px;

      img {
        max-width: 300px;
      }
    }

    .sitemap-hdr {
      padding: 0;
      pointer-events: none;

      &:before {
        content: '';
        display: none;
      }

      &[aria-expanded] {
        + .sitemap-links {
          max-height: 700px;
          visibility: visible;
        }
      }
    }

    .social-links-list {
      li {
        display: block;
      }

      a {
        > span {
          display: inline;
        }
      }
    }

    .footer-main {
      li {
        .new-tab-link {
          .icon-external-site {
            display:none;
          }
          &:hover, &:focus{
            .icon-external-site{
              display: inline-block;
            }
          }
        }
      }
      .is-flex {
        flex-wrap: nowrap;

        > div {
          padding: 15px 30px;

          nav {
            border-bottom: none;
          }

          &:first-child {
            padding-left: 15px;
          }

          &:not(:last-child) {
            border-right: 1px solid $fn-bordergrey;

            nav {
              border-bottom: none;
            }
          }
        }
      }

      li a span {
        margin-left:15px;
      }
    }

    .footer-sub {
      .sub-links {
        text-align: right;
      }

      li {
        margin-bottom: 0;

        &:not(:last-child) {
          border-right: 1px solid $fn-ltblue;
        }
      }
    }
  }
}
