$map-height: 50vh;
$map-height-min-sm: 500px;
$map-height-min-xs: 200px;
$search-border-radius: 4px;

.geolink-map {
  width: 100%;

  .map-wrapper {
    padding: 0;
    background: $fn-grey url("/images/placeholder-image.jpg") no-repeat center;

    iframe {
      width: 100%;
      height: $map-height;
      min-height: $map-height-min-sm;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  min-height: 160px;

  .search-input {
    input[type='text'] {
      background: white;
      color: $fn-dkgrey;
      border-top-left-radius: $search-border-radius;
      border-bottom-left-radius: $search-border-radius;
      border-right: none;
      height: 40px;

      &:focus {
        @include focus();
      }
    }

    button {
      padding: 0 8px !important;
      border: 0;
      height: 38px;
      border-top-right-radius: $search-border-radius;
      border-bottom-right-radius: $search-border-radius;

      .icon-search {
        color: #fff;
        display: block;
        vertical-align: middle;

        &:before {
          font-size: 20px;
          color: $fn-dark;
        }
      }

      &:focus {
        @include focus();
      }

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
}

/**********************************************/
@media #{$mobile} {
  .geolink-map {
    height: $map-height;
    min-height: $map-height-min-xs;

    .map-wrapper {
      height: $map-height;
      min-height: $map-height-min-xs;
    }
  }
}
@media #{$tablet} {
  .geolink-map {
    height: $map-height;
    min-height: $map-height-min-sm;

    .map-wrapper {
      height: $map-height;
      min-height: $map-height-min-sm;
    }
  }
}

/* Desktop */
@media only screen and (min-width : 992px) {
  .geolink-widget {

  }
}
