$map-height-wide: 800px;
$map-height-normal: 600px;
$map-height-tablet: 700px;
$map-height-mobile: 400px;

@media #{screen and (min-width: #{1500px})} {
  .map-placeholder,
  .geolink-map .map-wrapper,
  .geolink-map iframe {
    height: $map-height-wide;
  }

  .map-placeholder p {
    margin-top: $map-height-wide/2 - 18px;
  }
}
@media #{screen and (min-width: #{$screen-sm-max}) and (max-width: #{1500px})} {
  .map-placeholder,
  .geolink-map .map-wrapper,
  .geolink-map iframe {
    height: $map-height-normal;
  }

  .map-placeholder p {
    margin-top: $map-height-normal/2 - 18px;
  }
}
@media #{$tablet} {
  .map-placeholder,
  .geolink-map .map-wrapper,
  .geolink-map iframe {
    height: $map-height-tablet;
  }

  .map-placeholder p {
    margin-top: $map-height-tablet/2 - 18px;
  }
}
@media #{$mobile} {
  .map-placeholder,
  .geolink-map .map-wrapper,
  .geolink-map iframe {
    height: $map-height-mobile;
  }

  .map-placeholder p {
    margin-top: $map-height-mobile/2 - 18px;
  }
}

#network-page {
  padding-top: 0;

  .hidden-iframe {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0 none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .map-placeholder {
    width: 100%;
    padding: 0;
    background-color: white;
    background-image: url('/images/map-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    p {
      position: absolute;
      width: 100%;
      text-align: center;
      background: none;
    }
  }
}

.geolink-map {
  .map-wrapper {
    iframe {
      width: 100%;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  border-top: 1px solid $fn-grey;
  background-color: $fn-ltgrey;
  padding-bottom: 100px;

  .dropdown {
    .form-control {
      border-bottom-left-radius: 0px;
    }
    .search-btn {
      border-bottom-right-radius: 0px;
    }
  }

  .predictive-dropdown {
    z-index: 1;
    position: relative;

    ul {
      position: absolute;
      background-color: $fn-white;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 100%;
      border: 1px solid $input-border;
      border-top: none;
      li {
        cursor: pointer;
        font-size: 1.6rem;
        color: $fn-ltblue;
        &:not(:first-child) {
          border-top: 1px solid $input-border;
        }
        padding: 16px 10px;
        vertical-align: middle;
        &:hover {
          background-color: $fn-ltgrey;
        }
        i {
          padding-right: 10px;
          width: 10%;
          font-size: 1.6rem;
        }
        span, small {
          display: inline-block;
          width: 45%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        small {
          padding-left: 10px;
          color: $fn-dkgrey;
          font-size: 1.2rem;
        }
        &:last-child {
          text-transform: capitalize;
          text-align: center;
          padding: 20px 0px;
          font-weight: $fn-bold-weight;
        }
      }
    }
  }

  [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;

    &.no-gutters {
      padding: 0;
    }
  }

  .as-h5 {
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .alert {
    margin: 30px 0 0;
  }

  form,
  .form-group,
  .input-group {
    padding: 0;
    margin: 0;

    input {
      background-color: white !important;
    }

    .checkbox {
      display: block;
      margin: 2px 0 0;

      label {
        min-height: 16px + 25px;
        padding-left: 0;
        width: auto;
      }
    }
  }

  .form-group .clear-btn {
    right: 87px;
  }

  .map-search {
    button.as-link {
      text-transform: uppercase;
      width: 50%;
      text-align: left;
      margin: 20px 0;
      padding: 0;

      &.disabled {
        pointer-events: none;
        color: $fn-mdgrey;

        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  hr {
    border-width: 1px;
    margin-bottom: 0;
  }

  .key-labels {
    display: block;
    width: 100%;

    span.as-label {
      display: inline-block;
      float: left;
      width: 25%;
      padding-bottom: 10px;
      font-weight: $fn-normal-weight;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }

  .legend-gradient {
    img {
      width: 100%;
      height: 21px;
      border-radius: 11px;
    }
  }

  .network-subscription-link {
    a {
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  .network-contact-info {
    p {
      font-size: 16px;
      line-height: 1;
      span {
        margin-right: 5px;
      }
    }

    a {
      span {
        display: inline-block;
        white-space: nowrap;
        .icon-phone-number:before {
          margin-right: 5px;
          font-size: 16px;
        }
      }
    }
  }

  .traffic-legend-wrapper {

    .key-labels span.as-label,
    .traffic-legend div {
      width: 32%;
      margin-right: 2%;
      float: left;
      text-align: left;

      &:last-child {
        margin-right: 0;
      }
    }

    .traffic-legend div {
      height: 10px;

      &:first-child {
        background: $fn-green;
      }

      &:nth-child(2) {
        background: $fn-yellow;
      }

      &:last-child {
        background: $fn-alert-red;
      }
    }

    .hazards-legend {
      span.as-label {
        font-weight: $fn-normal-weight;
        width: 50%;
        float: left;
      }

      i {
        display: inline-block;
        font-size: 2rem;

        &.construction {
          color: $fn-yellow;
        }

        &.incident {
          color: $fn-alert-red;
        }
      }
    }
  }
}

.container.location-favorites {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: block;

  .submit-button-wrapper {
    float: left;
    padding-right: 30px;
  }
}
/**********************************************/
@media #{$mobile} {
  .geolink-controls {

    .map-search,
    .map-layers,
    .map-network-legend{
      flex-basis: auto;
    }

    .network-contact-info,
    .network-subscription-link {
      margin: 30px 0;
    }

    .traffic-legend-wrapper {
      .hazards-legend {
        span {
          padding-top: 15px;
        }
      }
    }
  }

  .container.location-favorites {
    .submit-button-wrapper {
      button {
        margin: 0;
      }
    }
  }
}
@media #{$tablet} {
  .geolink-controls {
    padding: auto 0;

    .map-network-legend{
      flex-basis: auto;
    }
    .map-search{
      flex-basis: 60%;
    }
    .map-layers {
      flex-basis: 33%;
      padding-left: 0;

      h2 {
        padding-left: 40px;
      }

      fieldset {
        padding-left: 40px;
        border-left: 1px solid $fn-grey;
      }
    }

    .traffic-legend-wrapper {
      .traffic-bars {
        width: 60%;
        float: left;
        padding-right: 15px;
      }

      .hazards-legend {
        width: 40%;
        float: left;
        padding-left: 15px;
      }
    }

    .network-subscription-link,
    .network-contact-info {
      float: left;
      margin-top: 0;
      line-height: 1.11;
      width: 50%;
    }

    .network-contact-info {
      text-align: right;
      + hr {
        margin-top: 10px;
        padding: 0 0 30px 0;
      }
    }
  }
}
@media #{$desktop} {
  .geolink-controls {
    .map-search,
    .map-layers,
    .map-network-legend{
      flex-basis: 33%;
    }
    .map-layers {
      fieldset {
        border-left: 1px solid $fn-grey;
        border-right: 1px solid $fn-grey;
        margin: 0 -40px;
        padding-left: 40px;
      }

      h2 {
        padding-left: 0;
      }
    }

    .traffic-legend-wrapper {
      .traffic-bars {
        width: 100%;
      }

      .hazards-legend {
        span {
          width: 50%;
          float: left;
          padding-top: 15px;
        }
      }
    }

    .network-contact-info,
    .network-subscription-link {
      margin-top: 25px;
    }
  }
}
