$map-height: 50vh;
$map-height-min-sm: 500px;
$map-height-min-xs: 200px;
$search-border-radius: 4px;

.geolink-map {
  width: 100%;

  .map-wrapper {
    padding: 0;
    background: $fn-grey url("/images/placeholder-image.jpg") no-repeat center;

    iframe {
      width: 100%;
      height: $map-height;
      min-height: $map-height-min-sm;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  min-height: 160px;

  .search-input button,
  .search-input input {
    height: 48px;
  }

  [class*=' col-'] {
    min-height: 140px;
    margin: 10px;
  }
}
/**********************************************/
@media #{$mobile} {
  .geolink-map {
    height: $map-height;
    min-height: $map-height-min-xs;

    .map-wrapper {
      height: $map-height;
      min-height: $map-height-min-xs;
    }
  }
}
@media #{$tablet} {
  .geolink-map {
    height: $map-height;
    min-height: $map-height-min-sm;

    .map-wrapper {
      height: $map-height;
      min-height: $map-height-min-sm;
    }
  }
}
