$map-height: 500px;
$search-border-radius: 4px;
#network-page{
  padding-top: 0;
}
.geolink-map {
  @extend .clearfix;
  width: 100%;

  .map-wrapper {
    height: $map-height;
    padding: 0;

    iframe {
      width: 100%;
      height: $map-height;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  background-color: $fn-ltgrey;
  padding-top: 30px;
  padding-bottom: 100px;

  .search-input button,
  .search-input input {
    height: 48px;
  }

  .search-input input {
    background-color: white;
  }

  .checkbox label {
    padding-left: 0;
  }
  .emergency-numbers{
    text-transform: uppercase;
    p{
      font-size: $fn-landing-body-default-size;
      font-weight: $fn-medium-weight;
    }
    .emergency,
    .emergency a{
      color: $fn-red;

    }
    .non-emergency,
    .non-emergency a
    {
      color: $fn-ltblue;
    }
  }

  hr {
    border-color: $fn-grey;
    border-width: 2px;
  }

  .key-labels{
    span{
      display:inline-block;
      float:left;
      width: 25%;
      text-align: center;
      font-size: $fn-label-default-size;
      padding-bottom: 5px;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
    &.traffic{
      span{
        width: 50%;
      }
    }
  }
  .weather-legend,
  .coverage-legend{
    img{
      width: 100%;
      height: 23px;
    }
  }
  .traffic-legend{
    @extend .clearfix;
    padding: 6px 0;
    div{
      width: 32%;
      float:left;
      height: 10px;
      margin: 0 1%;
      &:first-child{
        margin-left: 0;
        background: #008740;
      }
      &:nth-child(2) {
        background: #EB9F02;
      }
      &:last-child{
        margin-right: 0;
        background: #D0011B;
      }
    }
  }
}
/**********************************************/
@media #{$mobile} {
  .geolink-map {
    .geolink-controls {
    }
  }
}

@media #{$tablet, $desktop} {
  .geolink-map {
    .geolink-controls {

    }
  }
}
