$map-height: 500px;
$search-border-radius: 4px;

#network-page {
  padding-top: 0;

  .hidden-iframe {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0 none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .map-placeholder {
    height: $map-height;
    width: 100%;
    padding: 0;
    background-color: white;
    background-image: url('/images/map-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$desktop} {
      background-size: contain;
    }

    p {
      position: absolute;
      margin-top: $map-height/2 - 18px;
      width: 100%;
      text-align: center;
      background: none;
    }
  }
}

.geolink-map {
  @extend .clearfix;
  width: 100%;

  .map-wrapper {
    height: $map-height;
    padding: 0;

    iframe {
      width: 100%;
      height: $map-height;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  background-color: $fn-ltgrey;
  padding-bottom: 100px;
  border-top: 1px solid $fn-grey;

  [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;

    &.no-gutters {
      padding: 0;
    }
  }

  .as-h5 {
    margin-top: 30px;
  }

  form {
    margin-top: 0;
  }

  .search-input {
    &.input-group {
      padding-top: 0;
    }

    button,
    input {
      height: 48px;
    }

    input {
      background-color: white;
    }
  }

  .checkbox {
    padding-bottom: 1.5rem;
    margin-top: 2px;

    label {
      padding-left: 0;
      width: auto;
    }
  }

  hr {
    border-color: $fn-grey;
    border-width: 1px;
    margin-bottom: 0;
  }

  .key-labels {
    display: block;
    width: 100%;

    span.as-label {
      display: inline-block;
      float: left;
      width: 25%;
      padding-bottom: 10px;
      font-weight: $fn-normal-weight;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }

  .legend-gradient {
    img {
      width: 100%;
      height: 21px;
      border-radius: 11px;
    }
  }

  .network-contact-info {
    p {
      font-size: 16px;
    }

    .icon-phone-number:before {
      margin: 0 5px;
      font-size: 16px;
    }

    @media #{$tablet} {
      float: right;
      margin-top: 0;
      line-height: 1.11;
    }

    @media #{$desktop} {
      margin-top: 30px;
    }
  }

  .traffic-legend-wrapper {
    @extend .clearfix;

    .traffic-legend {
      @extend .clearfix;
      padding: 6px 0;
    }

    .key-labels span.as-label,
    .traffic-legend div {
      width: 32%;
      margin-right: 2%;
      float: left;
      text-align: left;

      &:last-child {
        margin-right: 0;
      }
    }

    .traffic-legend div {
      height: 10px;

      &:first-child {
        background: $fn-green;
      }

      &:nth-child(2) {
        background: $fn-yellow;
      }

      &:last-child {
        background: $fn-alert-red;
      }
    }

    .hazards-legend {
      margin-top: 15px;

      span.as-label {
        font-weight: $fn-normal-weight;
        width: 50%;
        float: left;
      }

      i {
        display: inline-block;
        font-size: 2rem;

        &.construction {
          color: $fn-yellow;
        }

        &.incident {
          color: $fn-alert-red;
        }
      }
    }
  }
}
/**********************************************/
@media #{$mobile} {
  .geolink-controls {
    .network-contact-info {
      margin: 20px 0;
    }
  }
}
@media #{$tablet} {
  .geolink-controls {
    padding: auto 0;

    .map-layers {
      padding-left: 0;

      h2 {
        padding-left: 40px;
      }

      fieldset {
        padding-left: 40px;
        border-left: 1px solid $fn-grey;
      }
    }

    .traffic-legend-wrapper {
      .traffic-bars {
        width: 60%;
        float: left;
        padding-right: 15px;
      }

      .hazards-legend {
        width: 40%;
        float: left;
        padding-left: 15px;
        margin-top: 0;
      }
    }
  }
}
@media #{$desktop} {
  .geolink-controls {
    .map-layers {
      fieldset {
        border-left: 1px solid $fn-grey;
        border-right: 1px solid $fn-grey;
        margin: 0 -40px;
        padding-left: 40px;
      }

      h2 {
        padding-left: 0;
      }
    }

    .traffic-legend-wrapper {
      .traffic-bars {
        width: 100%;
      }

      .hazards-legend {
        margin-top: 15px;

        span {
          width: 50%;
          float: left;
        }
      }
    }
  }
}
