$map-height: 500px;
$search-border-radius: 4px;
#network-page{
  padding-top: 0;
}
.geolink-map {
  @extend .clearfix;
  width: 100%;

  .map-wrapper {
    height: $map-height;
    padding: 0;

    iframe {
      width: 100%;
      height: $map-height;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  background-color: $fn-ltgrey;
  padding-top: 30px;
  padding-bottom: 100px;

  .search-input button,
  .search-input input {
    height: 48px;
  }

  .search-input input {
    background-color: white;
  }

  .checkbox label {
    padding-left: 0;
  }
  .emergency-numbers{
    text-transform: uppercase;
    p{
      font-size: $fn-landing-body-default-size;
      font-weight: $fn-medium-weight;
    }
    .emergency,
    .emergency a{
      color: $fn-red;

    }
    .non-emergency,
    .non-emergency a
    {
      color: $fn-ltblue;
    }
  }

  hr {
    border-color: $fn-grey;
    border-width: 2px;
  }

  .key-labels{
    span{
      display:inline-block;
      float:left;
      width: 25%;
      text-align: center;
      font-size: $fn-label-default-size;
      padding-bottom: 5px;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
    &.traffic{
      span{
        width: 50%;
      }
    }
  }
  .weather-legend,
  .coverage-legend{
    img{
      width: 100%;
      height: 23px;
    }
  }
  .traffic-legend-wrapper{
    @extend .clearfix;
  }
  .traffic-legend{
    @extend .clearfix;
    padding: 6px 0;
    div{
      width: 32%;
      float:left;
      height: 10px;
      margin: 0 1%;
      &:first-child{
        margin-left: 0;
        background: $fn-green;
      }
      &:nth-child(2) {
        background: $fn-yellow;
      }
      &:last-child{
        margin-right: 0;
        background: $fn-map-red;
      }
    }
  }
  .hazards-legend{
    span{
      display: block;
      font-size: $fn-label-default-size;
    }
    i{
      &.construction{
        color: $fn-yellow;
      }
      &.incident{
        color: $fn-map-red;
      }
    }
  }
}
/**********************************************/
@media #{$mobile} {
  .geolink-map {
    .geolink-controls {
      [class*='col-']{
        margin-bottom: 45px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .emergency-numbers{
        p{
          width: 100%;
          float:left;
        }
      }
      .coverage-layers{
        border-bottom: 2px solid $fn-grey;
      }
      .hazards-legend{
        margin-top: 15px;
        span{
          width: 50%;
          float: left;
        }
      }
    }
  }
}

@media #{$tablet}{
  .geolink-map {
    .geolink-controls {
      [class*='col-']{
        margin-bottom: 30px;
      }
      .report-coverage-issue{
        border-top: 1px solid $fn-grey;
        border-bottom: 1px solid $fn-grey;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .emergency-numbers{
        p{
          width: 50%;
          float:left;
        }
      }
      .coverage-layers{
        border-left: 1px solid $fn-grey;
        border-right: 0;
        padding-left: 20px;
        margin: 0 -15px;
      }

      .traffic-bars{
        width: 60%;
        float: left;
        padding-right: 15px;
      }
      .hazards-legend{
        width:40%;
        float: left;
        padding-left: 15px;
        span{
          width: 50%;
          float: left;
        }
      }
    }
  }
}

@media #{$desktop} {
  .geolink-map {
    .geolink-controls {
      [class*='col-']{
        margin-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
      }
      .emergency-numbers{
        p{
          width: 100%;
          float:left;
        }
      }
      .coverage-layers{
        border-bottom: 0;
        border-left: 1px solid $fn-grey;
        border-right: 1px solid $fn-grey;
        margin: 0 -40px;
        padding-left: 40px;
      }
      .traffic-bars{
        width: 100%;
      }
      .hazards-legend{
        margin-top: 15px;
        span{
          width: 50%;
          float: left;
        }
      }
    }
  }
}
