$map-height: 500px;
$search-border-radius: 4px;
#network-page{
  padding-top: 0;
}
.geolink-map {
  @extend .clearfix;
  width: 100%;

  .map-wrapper {
    height: $map-height;
    padding: 0;

    iframe {
      width: 100%;
      height: $map-height;
      border: none;

      body {
        margin: 0 !important;
      }
    }
  }
}

.geolink-controls {
  @extend .clearfix;
  background-color: $fn-ltgrey;
  margin-bottom: 20px;

  .search-input button,
  .search-input input {
    height: 48px;
  }

  .search-input input {
    background-color: white;
  }

  .checkbox label {
    padding-left: 0;
  }

  [class*=' col-'] {
    padding: 0;
    background-color: $fn-ltgrey;

    article,
    form {
      margin: 20px 0;
      padding: 0 40px;
    }
  }

  p.as-link {
    margin: 0;
    text-transform: uppercase;
  }

  hr {
    border-color: $fn-grey;
    border-width: 2px;
  }
}
/**********************************************/
@media #{$mobile} {
  .geolink-map {
    .geolink-controls {
      [class*=' col-'] {
        article,
        form {
          border-bottom: 2px solid $fn-grey;
          margin: 0 40px;
          padding: 20px 0 ;
        }

        article:last-child {
          border: none;
        }
      }
    }
  }
}
@media #{$tablet, $desktop} {
  .geolink-map {
    .geolink-controls {
      [class*=' col-'] {
        article,
        form {
          min-height: 200px;
          border-right: 2px solid $fn-grey;
          margin: 20px 0;
          padding: 0 40px;
        }

        article:last-child {
          border: none;
        }
      }
    }
  }
}
