$fn-mobile-item-height: 60px;

.fnnav {
  @extend .clearfix;
  border-top: 5px solid $fn-yellow;

  &__mainbar {
    background: $fn-white;
    color: $fn-dkgrey;
    z-index: 100;

    &.open + .pageMask {
      display: block;
    }
  }

  &__main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    background: $fn-dkgrey;
    padding-bottom: 30px;
    overflow-y: auto;
    transition: left $fn-animation-duration ease;
  }
}

.mainnav-item {
  clear: both;
  padding: 0 30px;
  border-width: 0;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  background: $fn-white;

  > span,
  > a {
    display: block;
    height: $fn-mobile-item-height;
    line-height: $fn-mobile-item-height;
    font-weight: $fn-medium-weight;
    color: $fn-dkgrey;
    border-bottom: 1px solid $fn-grey;
    text-transform: uppercase;
    text-decoration: none;

    i {
      display: inline-block;
      text-decoration: none;
      margin-right: 10px;
      vertical-align: middle;
      font-size: 1.4rem;
    }
  }

  &#hdr-incident-uplift {
    > a {
      border-top: 1px solid $mobile-border-grey;
    }
  }

  &#hdr-network {
    > a {
      border-bottom: 0 none;
    }
  }

  &.expanded {
    background: $focus-darkbg;

    > a {
      border-bottom: 1px solid $mobile-border-grey;
    }
  }

  .btnSubmenu {
    width: $fn-mobile-item-height;
    height: $fn-mobile-item-height;
    float: right;
    background: none;
    border: 0 none;
    padding: 0 15px;
    color: $fn-dkgrey;
    transition: all $fn-animation-duration ease;

    &:before {
      display: inline-block;
      content: '\66';
      font-family: $icon-font;
      text-transform: none;
      transform: rotate(0deg);
      transition: transform $fn-animation-duration ease;
    }

    &[aria-expanded=true]:before {
      transform: rotate(-180deg);
    }
  }

  &:last-child {
    a {
      border-bottom: 0 none;
    }
  }

  .header-submenu > ul,
  > ul {
    max-height: 500px;
    overflow: hidden;
    padding: 0 30px;
    transition: max-height $fn-animation-duration ease;

    a {
      display: block;
      height: $fn-mobile-item-height;
      line-height: $fn-mobile-item-height;
      color: $fn-dkgrey;
      letter-spacing: 0.5px;
      padding-right: 10px;
      text-decoration: none;

      i {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        font-size: 1.4rem;
        vertical-align: sub;

        &.icon-phone-number {
          margin-right: 5px;
        }
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid $mobile-border-grey;
    }
  }

  &.yellow {
    background: $fn-yellow;
    color: $fn-dkgrey;

     > ul a,
    .btnSubmenu:before,
    > a {
      color: $fn-dkgrey;
    }

    > a {
      height: 70px;
      text-transform: none;
      padding: 5px 0;
      border-bottom: 1px solid $mobile-border-yellow;
    }

    .btnSubmenu {
      margin: 5px 0;

      &[aria-expanded=false] + a {
        border-bottom: 0;
      }
    }
  }

  &.grey {
    background: $fn-dkgrey;
    border: 0;

     > ul a,
    .btnSubmenu,
    > a {
      color: $fn-white;
    }

     > ul,
    > a {
      border-bottom: 1px solid $mobile-border-dkgrey;
    }

    &.logout {
      > a {
        border: 0;
      }
    }
  }
}

//profile-block
.multi-line-item {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.4;
  height: 60px;
  width: 100%;
  overflow-y: hidden;

  > div.profile-display {
    display: block;
    position: relative;
    padding-left: 30px;

    i {
      position: absolute;
      top: 0;
      left: -4px;
      z-index: 2;
    }
  }
}

.pageMask {
  position: fixed;
  top: 5px;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  z-index: 70;
  display: none;
}

/* mobile */
@media only screen and (min-width : 0px) {
  $fn-primary-nav-height: 60px;

  .fnnav {
    border-bottom: 1px solid $fn-grey;
  }

  .fnnav__utility {
    display: none;
  }

  .fnnav__mainbar {
    height: $fn-primary-nav-height;

    &.open {
      .fnnav__main {
        left: 0;
        visibility:visible;
        .btnSubmenu{
          display: inline-block;
        }
      }
    }

    > .container {
      width: 100%;
      padding: 0;
    }
  }

  .fnnav__main {
    display: block;
    top: 65px;
    left: -100vw;
    height: calc(100vh - 60px);
    visibility: hidden;
    .btnSubmenu{
      display: none;
    }
  }

  .desktop-iconItem {
    display: none;
  }

  #pse-admin-nav {
    > li:last-child {
      border-bottom: 1px solid $mobile-border-grey;
    }
  }
}
/*Tablet*/
@media only screen and (min-width : 768px) {
  $fn-primary-nav-height: 98px;

  .fnnav {
    border-bottom: 1px solid $fn-grey;
  }

  .fnnav__utility {
    display: none;
  }

  .fnnav__mainbar {
    height: $fn-primary-nav-height;

    > .container {
      width: 100%;
      padding: 0;
    }
  }

  .fnnav__main {
    height: calc(100vh - 98px);
    top: 103px;
    left: -505px;
    max-width: 505px;
    visibility: hidden;
    .btnSubmenu{
      display: none;
    }
  }

  .desktop-iconItem {
    display: none;
  }
}
/* Desktop */
@media only screen and (min-width : 992px) {
  $fn-primary-nav-height: 94px;

  .pageMask {
    display: none;
  }

  .fnnav {
    border-bottom: 5px solid $fn-ltblue;
  }

  .fnnav__utility {
    display: block;
  }

  .fnnav__mainbar {
    height: $fn-primary-nav-height;

    > .container {
      width: 970px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .fnnav__header {
    display: inline-block;
    float: left;
    width: 340px;
  }

  .fnnav__main {
    position: static;
    top: auto;
    left: auto;
    float: right;
    width: 580px;
    max-width: 580px;
    height: $fn-primary-nav-height;
    padding: 0;
    text-align: right;
    background: $fn-white;
    text-align: right;
    border-top: 0 none;
    visibility: visible;
    overflow-y: visible;

    .mainnav-item {
      clear: none;
      padding: 0;

      &:not(.desktop-textlink) {
        display: none;
      }
    }

    .desktop-iconItem {
      display: inline-block;
      background: $fn-white;
      vertical-align: top;

      > button {
        display: block;
        background: $fn-white;
        border: 0;
        width: 60px;
        line-height: $fn-primary-nav-height;
        border-left: 1px solid $fn-grey;
        border-radius: 0;
        height: $fn-primary-nav-height;
        text-align: center;
        color: $fn-dkgrey;
        padding: 0;

        &.active,
        &:active,
        &:focus,
        &:hover {
          outline: none;
          text-decoration: none;
          background: $fn-ltblue;
          color: $fn-white;
          border-radius: 0;
        }
      }

      &:last-child {
        > button {
          border-right: 1px solid $fn-grey;
        }
      }

      .desktop-profile-display {
        background: $fn-ltblue;

        &:hover {
          background: $fn-ltblue;
        }

        > a {
          height: 70px;
          text-transform: none;

          i {
            margin-right: 5px;
          }

          &:active,
          &:focus,
          &:hover {
            background: $fn-ltblue;
          }
        }

        .profile-display {
          color: $fn-white;
          padding-left: 23px;
        }
      }
      .walkthru-toggle{
        background: none;
        line-height: 48px;
        border: 0;
      }
    }

    .desktop-textlink {
      display: inline-block;

      > button {
        display: none;
      }

      > a {
        font-size: $fn-landing-page-text-desktop;
        font-weight: $fn-medium-weight;
        border-bottom: none;
        height: $fn-primary-nav-height;
        line-height: $fn-primary-nav-height;
        color: $fn-dkgrey;
        padding: 0 24px;
        min-width: 124px;
        text-align: center;

        &:hover {
          font-weight: $fn-bold-weight;
          color: $fn-ltblue;
        }

        &:focus {
          @include focus();
          border-radius: 8px;
        }

        &:hover:focus {
          box-shadow: none;
        }

        &.active {
          position: relative;
          font-weight: $fn-bold-weight;
          color: $fn-ltblue;

          &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $fn-ltblue;
          }
        }
        > i.icon-external-site {

          &:before {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  #linkBtn-admin[aria-expanded='true'] + .header-submenu {
    display: flex;
  }

  .mainnav-item {
    &.expanded {
      background: $fn-white;
    }

    &#hdr-incident-uplift {
      > a {
        border-top: 0 none;
      }
    }

    .header-submenu {
      position: absolute;
      top: 99px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 101;
      transition: none;
      border: 0;
      border-top: 5px solid $fn-ltblue;
      background: $fn-ltgrey;
      text-align: center;
      padding: 30px calc( ((100% - 970px)/ 2) + 162px) 30px 30px;
      justify-content: flex-end;
      box-shadow: 0 3px 2px 0 rgba(130,130,130,0.5);
      display: none;
      flex-wrap: wrap;

      &:focus {
        outline: 2px solid #036;
      }

      > ul {
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: left;
        padding: 0 0 0 5.4rem;

        &:not(:last-child) {
          border-right: 1px solid $fn-grey;
        }

        > strong {
          font-size: $fn-landing-page-text-desktop;
          font-weight: $fn-medium-weight;
          margin-bottom: 1rem;
          padding-left: 2px;
        }

        > li:not(:last-child) {
          border-bottom: 0 none;
        }

        a {
          height: auto;
          line-height: 2.4;
          position: relative;
          color: $fn-ltblue;
          padding-left: 2px;
          min-height: 36px;

          &:visited {
            color: $fn-ltblue;
          }

          &:focus {
            @include focus();
            border-radius: 4px;
          }

          &:active,
          &:active:focus,
          &:hover {
            text-decoration: underline;
            box-shadow: none !important;
          }
        }
      }
    }
  }

  #pse-admin-nav {
    > li:last-child {
      border-bottom: 0 none;
    }
  }

  //external link icon
  .header-submenu a,
  .dropdown .dropdown-menu > div > li > a {
    i.icon-external-site {
      display: inline-block;
      vertical-align: sub;
      visibility: hidden;
      margin-left: 5px;
      line-height: 1;

      &:before {
        font-size: 1.4rem;
      }
    }

    &:focus,
    &:active,
    &:active:focus,
    &:hover {
      i.icon-external-site {
        visibility: visible;
      }
    }
  }
}
@media only screen and (min-width : 1200px) {
  .fnnav__mainbar {
    > .container {
      width: 1170px;
    }
  }

  .mainnav-item {
    .header-submenu {
      padding: 30px calc( ((100% - 1170px)/ 2) + 162px) 30px 30px;

    }
  }
}
@import "header-brand";
