.fnnav__brand {
  display: inline-block;
  z-index:100;
  position: relative;
  background: $fn-white;
  > a {
    display: block;
    width: 100%;
    text-align: center;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }
}

@media #{$mobile} {
  .fnnav__brand {
    width: calc(100% - 49px);
    height: 49px;
    > a {
      margin: 16px auto;
      max-width: 220px;
    }
  }
}

@media #{$tablet} {
  .fnnav__brand {
  width: calc(100% - 73px);
  height: 98px;
    > a {
      margin: 24px auto 0;
      max-width: 440px;
    }
  }
}
@media #{$desktop} {
  .fnnav__brand {
    width: 100%;
    height: 94px;
    > a {
      margin: 24px auto;
      text-align: left;
    }
  }
}
