$fn-mobile-item-height: 60px;

.fnnav {
    @extend .clearfix;

    &__mainbar {
        background: $fn-white;
        color: $fn-dkgrey;
        border-top: 5px solid $fn-black;
        position: relative;
        z-index:100;
        &.open + .pageMask{
          display: block;
        }
    }

    &__brand {
        display: inline-block;

        > a {
            display: block;
            height: 100%;
            border: 2px solid $fn-white;

            &:focus {
                @include focus();
            }
        }

        img {
            vertical-align: middle;
            width: 100%;
            max-width: 100%;
        }
    }

    &__main {
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 110;
        border-top: 1px solid $fn-grey;
        width: 100vw;
        height: 100vh;
        max-width: 505px;
        overflow-y: scroll;
        background: $fn-dkgrey;
        padding-bottom: 30px;
        transition: left $fn-animation-duration ease;
    }
}

.pageMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 96;
    display: none;
}

.mainnav-item {
    clear: both;
    padding: 0 30px;
    border-width: 0;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    background: $fn-white;
    > a,
    > span {
        display: block;
        height: $fn-mobile-item-height;
        line-height: $fn-mobile-item-height;
        font-weight: $fn-medium-weight;
        color: $fn-ltblue;
        border-bottom: 1px solid $fn-grey;
        text-transform: uppercase;
        text-decoration: none;
        i{
          display: inline-block;
          text-decoration: none;
          margin-right: 10px;
        }
    }

    .btnSubmenu {
        width: $fn-mobile-item-height;
        height: $fn-mobile-item-height;
        float: right;
        background: none;
        border: 0 none;
        padding: 0 15px;
        color: $fn-ltblue;
        transition: all $fn-animation-duration ease;

        &:before {
            display: inline-block;
            content: '\66';
            font-family: $icon-font;
            text-transform: none;
            transform: rotate(0deg);
            transition: transform $fn-animation-duration ease;
        }
        &[aria-expanded=true]:before{
          transform: rotate(-180deg);
        }
    }

    &:last-child {
        a {
            border-bottom: 0 none;
        }
    }

    > ul {
        max-height: 500px;
        overflow: hidden;
        transition: max-height $fn-animation-duration ease;

        > li {
            padding-left: 15px;
        }

        a {
            display: block;
            height: $fn-mobile-item-height;
            line-height: $fn-mobile-item-height;
            color: $fn-ltblue;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding-right: 10px;
            padding-left: 10px;
            text-decoration: none;
            i{
              display: inline-block;
              margin-right: 10px;
              text-decoration: none;
            }
        }
        > li:not(:last-child){
          border-bottom: 1px solid $fn-grey;
        }
    }
    &.blue{
      background: $fn-blue;
      color: $fn-white;
      > a,
      > ul a,
      .btnSubmenu:before
       {
        color: $fn-white;
      }
      .btnSubmenu[aria-expanded=false] + a{
        border-bottom: 0;
      }
    }
    &.pse-selector{
      background: $fn-dkgrey;
      border:0;
      span{
        color: $fn-white;
      }
    }
}

/* mobile */
@media only screen and (min-width : 0px) {
    $fn-primary-nav-height: 60px;

    .fnnav__utility {
        display: none;
    }

    .fnnav__brand {
        width: calc(100vw - 51px);

        > a {
            width: 250px;
            margin: 10px 0 10px 7%;
        }
    }

    .fnnav__mainbar {
        height: $fn-primary-nav-height;
        min-width: 410px;
        border: 0;
        &.open{
          .fnnav__main{
            left: 0;
          }
        }
    }

    .navbar-toggle {
        width: 49px;
        height: $fn-primary-nav-height;
    }

    .fnnav__main {
        display: block;
        top: $fn-primary-nav-height;
        left: -100vw;
    }
}

/*Tablet*/
@media only screen and (min-width : 768px) {
    $fn-primary-nav-height: 98px;

    .fnnav__utility {
        display: none;
    }

    .fnnav__mainbar {
        height: $fn-primary-nav-height;
        border-top: 0;

        > .container {
            width: 100%;
        }
    }

    .fnnav__brand {
        width: calc(100% - 146px);

        > a {
            width: 430px;
            margin: 16px auto;
        }
    }

    .navbar-toggle {
        width: 72px;
        height: $fn-primary-nav-height;
        display: block;
    }

    .fnnav__main {
        display: block;
        top: $fn-primary-nav-height;
        left: -505px;
        .pse-selector{
            border-bottom: 1px solid $fn-grey;
        }
    }
}
/* Desktop */
@media only screen and (min-width : 992px) {
    $fn-primary-nav-height: 94px;

    .fnnav__utility {
        display: block;
    }

    .fnnav__mainbar {
        height: $fn-primary-nav-height;

        > .container {
            width: 970px;
        }
    }

    .fnnav__main,
    .navbar-toggle {
        display: none;
    }

    .fnnav__brand {
        width: 440px;
    }
}
@media only screen and (min-width : 1200px) {
    .fnnav__mainbar {
        > .container {
            width: 1170px;
        }
    }
}
@import "pse-selector";
@import "utility-nav";
@import "weather-widget";
