.fnnav__brand {
  display: inline-block;

  > a {
    display: block;
    width: 100%;
    text-align: center;
    &:focus {
      @include focus();
    }
  }

  img {
    vertical-align: middle;
    width: 100%;
    max-width: 330px;
  }
}

@media #{$mobile} {
  .fnnav__brand {
    width: calc(100% - 98px);
    height: 49px;
    > a {
      margin: 10px auto;
    }
  }
}

@media #{$tablet} {
  .fnnav__brand {
  width: calc(100% - 146px);
  height: 98px;
    > a {
      margin: 27px auto;
    }
  }
}
@media #{$desktop} {
  .fnnav__brand {
    width: 100%;
    height: 94px;
    > a {
      margin: 27px auto;
      text-align: left;
    }
  }
}
