.fnnav__brand {
  display: inline-block;
  z-index: 100;
  position: relative;
  background: $fn-white;

  > a,
  > .logo-container {
    display: block;
    width: 100%;
    text-align: center;

    &:focus{
      @include focus();
      border-radius: 0px;
    }
  }

  img {
    vertical-align: middle;
    width: 100%;
  }
}
@media #{$mobile} {
  .fnnav__brand {
    width: calc(100% - 98px);
    height: 49px;

    > a,
    > .logo-container {
      margin: 16px auto;
      max-width: 220px;
    }
    #session-timeout &{
      width: 100%;
    }
  }
}
@media #{$tablet} {
  .fnnav__brand {
    width: calc(100% - 144px);
    height: 98px;

    > a,
    > .logo-container {
      margin: 24px auto 0;
      max-width: 440px;
    }
    #session-timeout &{
      width: 100%;
    }
  }
}
@media #{$desktop} {
  .fnnav__brand {
    width: 100%;
    height: 94px;

    > a,
    > .logo-container {
      margin: 24px auto;
      text-align: left;
    }
  }
}
