.heroNav{
  margin:1em 0;
  ul{
    list-style: none;
  }
  li{
    width: 20%;
    border: 1px solid $fn-ltgrey;
    float:left;
    color: #fff;
    background: $fn-orange;
    height: 80px;
    padding: .5em 1em;
    font-weight: 300;
    position: relative;
    span{
      position: absolute;
      bottom: 10px;
      width: 130px;
      line-height: 20px;
      padding: 0 1em 0 0;
    }
  }
}
