.HeroGallery{
  height: 65vw;
  max-height: 400px;
  background: #000;
  color: white;
  text-align: center;
  .carousel{
    overflow: visible;
    .carousel-inner{
      white-space: nowrap;
    }
    .item{
      width: 100%;
      height: 100%;
      margin: 0;
      border: 0 none;
    }
  }
  .hero-slide{
    width: 100%;
    height: 100%;
    padding-top: 48px;
    display: inline-block;
  }
  h2{
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 32px;
    small{
      font-size: 16px;
      font-weight: 300;
      display:block;
      color: white
    }
  }
  .slideCaption{
      position: absolute;
      bottom: 25%;
      left: 15%;
      right: 15%;
      text-align: left;
  }
  .slide1{
    background-size: cover;
    background-position: top right;
    background-image: url(../assets/images/fireman.png);
    background-repeat: no-repeat;
  }
  .slide2{
    background: #0a4672;
    background: -moz-linear-gradient(top, #0a4672 0%, #106db0 50%);
    background: -webkit-linear-gradient(top, #0a4672 0%,#106db0 50%);
    background: linear-gradient(to bottom, #0a4672 0%,#106db0 50%);
  }
}
