.modal-dialog{
  margin: 0;
}
.modal-content{
  border-radius: 0;
  height: 100vh;
  border: 0 none;
  background: #287EB6;
  color: white;
}
.modal-header{
  @extend .clearfix;
  border-bottom: 0 none;
  padding: 8px 15px 0 15px;
  height: 42px;
  .close{
    opacity: 1;
    float: left;
    margin: 0;
    line-height: 42px;
  }
}
