.max-container {
    max-width:970px;
}

.imagebox-plans-and-devices {
    height: 310px;
    max-width:310px;
    width: 100%;
    padding: 24px;
    background-size: 310px 310px !important;
    background-repeat: no-repeat;
    background-position: center;
}

.imagebox-plans-and-devices.type-view-solutions {
    background: url(/images/ViewSolutions.png);    
}

.imagebox-plans-and-devices.type-rate-plans {
    background: url(/images/RatePlans.png);    
}

.imagebox-plans-and-devices.type-shop-devices {
    background: url(/images/ShopDevices.png);    
}

.image-plans-and-devices {
    border: 1px solid #000000;
    max-width:100%;
    max-height: 300px;
    min-height: 48px;
}
.plans-and-devices-button {
	border: 2px solid #FFFFFF;
	border-radius: 100px;
	color: #FFFFFF !important;
    background-color: transparent !important;
	font-family: Roboto !important;
	font-size: 14px !important;
	font-weight: bold !important;
    background: transparent;
    margin: auto;
    text-align: center;
}


.btn.plans-and-devices-button:hover, .btn.plans-and-devices-button:focus, .btn.plans-and-devices-button:active {
	border: 2px solid #FFFFFF;
	border-radius: 100px;
	background-color: #FFFFFF !important;
    color: #333333 !important;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.plans-and-devices-menu-button {
    padding-top:35px;    
}
.plans-and-devices-title {
	color: #FFFFFF !important;
	font-family: Roboto;
	font-size: 28px;
	font-weight: bold;
}
.plans-and-devices-p {
	color: #FFFFFF !important;
	font-family: Roboto;
	font-size: 18px;
    line-height: 22px;
	font-weight: normal;
}
.plans-and-devices-spacing {
    padding-bottom:10px;
}