.imagebox{
    > h3 { 
        color: $fn-white;
        font-size: $fn-h3-default-size;
        font-weight: $fn-bold-weight;
    }
    > p { 
        color: $fn-white;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: $fn-medium-weight;        
        padding-bottom:3rem;    
    }
    &.rate-plans{ 
        background: url(/images/RatePlans.png);    
    }
    &.view-solutions{ 
        background: url(/images/ViewSolutions.png);    
    }
    &.shop-devices{ 
        background: url(/images/ShopDevices.png);    
    }
    > a.pad-button {
        border: 2px solid $fn-white;
        border-radius: 100px;
        color: $fn-white;
        background-color: transparent;
        font-size: $fn-button-default-size;
        font-weight: $fn-bold-weight;
        background: transparent;
        margin: auto;
        text-align: center;        
    }
    > a.pad-button:active,
    > a.pad-button:hover,
    > a.pad-button:focus {
        border: 2px solid $fn-white;
        border-radius: 100px;
        background-color: $fn-white;
        color: $fn-dkgrey;
        font-size: $fn-button-default-size;
        font-weight: $fn-bold-weight;
        text-align: center;
    }
}

/** Media queries for change of display with different breakpoints **/
@media (min-width: 0px) AND (max-width: 450px) {
    .max-container {
        max-width:100%;
    }
    .imagebox{
        height: 250px;
        max-width:100%;
        min-width:280px;
        width: 100%;
        padding: 1.5rem;
        background-size: 100% auto !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (min-width: 451px) AND (max-width: 767px) {
    .max-container {
        max-width:100%;
    }
    .imagebox{
        height: 333px;
        max-width:100%;
        min-width:380px;
        width: 100%;
        padding: 2.4rem;
        background-size: 100% auto !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (min-width: 769px) AND (max-width: 991px) {
    .max-container {
        max-width:750px;
    }
    .imagebox{
        height: 333px;
        max-width:100%;
        min-width:380px;
        width: 100%;
        padding: 2.8rem;
        background-size: 100% auto !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (min-width: 992px) AND (max-width: 1199px) {
    .max-container {
        max-width:970px;
    }
    .imagebox{
        height: 333px;
        max-width:310px;
        width: 100%;
        padding: 3.2rem;
        background-size: 350px 350px !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (min-width: 1200px) {
    .max-container {
        max-width:1170px;
    }
    .imagebox{
        height: 380px;
        max-width:380px;
        width: 100%;
        padding: 4.0rem;
        background-size: 400px 400px !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (min-width: 320px) AND (max-width: 992px) {
    .device-row {
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
