
.product-row {
    padding: 55px 0 60px;
    &:nth-child(even) {
        background: $fn-ltbluegrey;
    }
    .product-container {
        width: 180px;
        height: 270px;
        position: relative;
        background-color: $fn-white;
        color: #4A4A4A;
        display: inline-block;
        margin: 0 10px;
        padding: 10px;
    }
    .btn {
        margin-top: 30px;
    }
}

.section-copy {
    font-size: 18px;
    line-height: 30px;
    .btn {
        margin: 20px 0;
    }
}

@media #{$mobile} {
    .product-row .product-container {
        display: block;
        margin: 0 auto 20px auto;
    }
}
