/*appearance as part of mobile nav*/

@media only screen and (min-width: 0px) {
    .pse-selector-btn {
        .dropdown {
            &.open {
                .dropdown-menu {
                    left: 0;
                    top: 0;
                }
            }
        }
        .btn-group {
            display: block;
            position: static;
        }
        p {
            display: block;
            width: 100%;
            height: 60px;
            padding: 0;
            margin:0;
            background: $fn-dkgrey;
            color: $fn-white;
            font-size: $fn-label-default-size;
            font-weight: $fn-medium-weight;
            line-height: 4.3;
            text-align: left;
            border-radius: 0;
            border: 0;
        }
        .dropdown-toggle {
            display: block;
            width: 100%;
            height: 60px;
            padding: 0;
            background: $fn-dkgrey;
            color: $fn-white;
            font-size: $fn-label-default-size;
            font-weight: $fn-medium-weight;
            line-height: 4.3;
            text-align: left;
            border-radius: 0;
            border: 0;
            &:after {
                content: '\67';
                position: absolute;
                right: 18px;
                top: 0;
                font-family: $icon-font;
                text-transform: none;
            }
            &:focus,
            &:hover {
                text-decoration: none;
                color: $fn-white;
                background: $fn-dkgrey;
            }
        }
        .dropdown-menu {
            position: absolute;
            display: block;
            background: $fn-dkgrey;
            padding: 0 1px;
            width: 100%;
            height: 100vh;
            max-width: 100%;
            overflow-y: scroll;
            top: 0;
            left: 100%;
            transition: all $fn-animation-duration ease;
            li {
                position: relative;
                width: 100%;
                background: $fn-dkgrey;
                border-bottom: 1px solid $fn-grey;
                &:focus,
                &:hover {
                    background: none;
                    text-decoration: none;
                }
                a {
                    display: block;
                    width: 100%;
                    color: $fn-white;
                    line-height: 60px;
                    height: 60px;
                    font-weight: $fn-normal-weight;
                    border: 0;
                    &:focus,
                    &:hover {
                        text-decoration: none;
                        // background: $fn-grey;
                        color: $fn-dkgrey;
                        border: 0;
                    }
                }
            }
        }
    }
}


/*Tablet*/

@media only screen and (min-width: 768px) {
    .pse-selector-btn {
        .dropdown-menu {
            max-width: 505px;
            left: 505px;
        }
    }
}


/*appearance as part of header top bar */

@media only screen and (min-width: 992px) {
    .pse-selector-btn {
        .btn-group {
            display: inline-block;
        }
        .dropdown {
            position: relative;
            width: 250px;
            &.open {
                .dropdown-toggle {
                    background: $fn-white;
                    color: $fn-dkgrey;
                }
                .dropdown-menu {
                    left: auto;
                    top: 100%;
                }
            }
        }
        &:focus,
        &:hover {
            .dropdown-toggle {
                color: $fn-dkgrey;
                background: $fn-white;
            }
        }
        p {
            line-height: 3.4;
            padding: 0 20px 0 20px;
            text-align: center;
        }
        .dropdown-toggle {
            position: relative;
            line-height: 3.4;
            padding: 0 40px 0 20px;
            text-decoration: none;
            &:after {
                content: '';
                position: absolute;
                right: 1em;
                top: 1.15em;
                border: solid $fn-white;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                transition: transform $fn-animation-duration ease;
            }
            &:hover {
                color: $fn-dkgrey;
                background: $fn-white;
                &:after {
                    border: solid $fn-dkgrey;
                    border-width: 0 2px 2px 0;
                }
            }
            &[aria-expanded=true] {
                color: $fn-dkgrey;
                background: $fn-white;
                &:after {
                    content: '';
                    position: absolute;
                    right: 1em;
                    top: 1.5em;
                    border: solid $fn-dkgrey;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(225deg);
                }
            }
        }
        .dropdown-menu {
            z-index: 1000;
            background: $fn-white;
            border: 1px solid $fn-grey;
            border-radius: 0;
            display: none;
            padding: 0;
            min-width: 250px;
            width: 100%;
            height: auto;
            max-height: 316px;
            overflow-y: scroll;
            left: auto;
            top: auto;
            li {
                background: $fn-white;
                display: table;
                width: 100%;
                a {
                    display: table-cell;
                    vertical-align: middle;
                    color: $fn-dkgrey;
                    padding: 0 40px 0 20px;
                    font-size: $fn-label-default-size;
                    font-weight: $fn-medium-weight;
                    height: 48px;
                    line-height: 1.4;
                    border-bottom: 1px solid $fn-grey;
                    width: 100%;
                    &:focus,
                    &:hover {
                        color: $fn-dkgrey;
                        background: $fn-ltgrey;
                    }
                }
            }
        }
    }
}
