#purchasing-info {

  .purchase-options-list {
    @extend .clearfix;

    li {
      font-size: $fn-body-default-size;
      float: left;
      width: 100%;
      margin-bottom: 30px;

      strong {
        display: inline-block;
        width: 35%;
      }
    }
  }
}
