#purchasing-info {

  h2 {
    font-size: 36px;
    font-weight: $fn-normal-weight;
    margin: 30px 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $fn-grey;
  }

  .purchase-options-list {
    @extend .clearfix;

    li {
      font-size: $fn-content-page-text-desktop;
      width: 100%;
      margin-bottom: 30px;

      a, span {
        font-weight: $fn-normal-weight;
      }

      strong {
        display: inline-block;
        font-weight: $fn-medium-weight;
      }
    }
  }
}

@media #{$mobile} {
  #purchasing-info {
    .purchase-options-list {
      strong {
        width: 30%;
      }
    }
  }
}

@media #{$tablet, $desktop} {
  #purchasing-info {
    .purchase-options-list {
      strong {
        width: 20%;
      }
    }
  }
}
