.purchasing-info {
  .purchasing-info-headline {
    padding-top: 6rem;
  }

  .purchasing-info-hr {
    margin-bottom: 0;
  }

  .purchase-options-list {
    @extend .clearfix;

    .purchasing-options-list-item {
      font-size: $fn-content-page-text-desktop;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid $fn-grey;

      &:last-of-type {
        border: 0;
      }

      .purchasing-options-non-link {
        font-weight: $fn-normal-weight;
      }

      .purchasing-options-strong {
        display: inline-block;
        font-weight: $fn-medium-weight;
        vertical-align: top;
        width: 30%;
      }

      .purchasing-options-link {
        display: inline-block;
        word-break: break-all;
        width: 70%;
      }
    }
  }
}

@media #{$tablet} {
  .purchasing-info {
    .purchase-options-list {
      .purchasing-options-list-item {
        .purchasing-options-strong {
          width: 15%;
        }

        .purchasing-options-link {
          width: 85%;
        }
      }
    }
  }
}

@media #{$desktop} {
  .purchasing-info {
    .purchase-options-list {
      .purchasing-options-list-item {
        .purchasing-options-strong {
          width: 15%;
        }

        .purchasing-options-link {
          width: 85%;
        }
      }
    }
  }
}
