#purchasing-info {

  h2 {
    font-weight: $fn-normal-weight;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid $fn-dkgrey;
  }

  .purchase-options-list {
    @extend .clearfix;

    li {
      font-size: $fn-content-page-text-desktop;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid $fn-grey;

      &:last-of-type {
        border: 0;
      }

      span {
        font-weight: $fn-normal-weight;
      }

      strong {
        display: inline-block;
        font-weight: $fn-medium-weight;
      }
    }
  }
}

@media #{$mobile} {
  #purchasing-info {
    margin-left: 5px;

    .purchase-options-list {
      strong {
        width: 130px;
      }
    }
  }
}

@media #{$tablet} {
  #purchasing-info {
    margin-left: 0px;

    .purchase-options-list {
      strong {
        width: 130px;
      }
    }
  }
}

@media #{$desktop} {
  #purchasing-info {
    .purchase-options-list {
      strong {
        width: 140px;
      }
    }
  }
}
