#purchasing-info {

  h2 {
    font-size: 36px;
    font-weight: $fn-normal-weight;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $fn-grey;
  }

  .purchase-options-list {
    @extend .clearfix;

    li {
      font-size: $fn-body-default-size;
      width: 100%;
      margin-bottom: 30px;

      a, span {
        font-weight: $fn-normal-weight;
      }

      strong {
        display: inline-block;
        font-weight: $fn-medium-weight;
        width: 35%;
      }
    }
  }
}
