.purchasing-info {
  h2 {
    padding-top: 6rem;
  }

  hr {
    margin-bottom: 0;
  }

  .purchase-options-list {
    @extend .clearfix;

    li {
      font-size: $fn-content-page-text-desktop;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid $fn-grey;

      &:last-of-type {
        border: 0;
      }

      strong {
        display: inline-block;
        font-weight: $fn-medium-weight;
        vertical-align: top;
        width: 30%;
      }

      a {
        display: inline-block;
        word-break: break-all;
        width: 70%;
      }

      i {
        padding-left: 10px;
        font-size: $fn-small-text-desktop;
        vertical-align: -1px;
      }
    }
  }
}

@media #{$tablet} {
  .purchasing-info {
    .purchase-options-list {
      li {
        strong {
          width: 15%;
        }

        a {
          width: 85%;
        }
      }
    }
  }
}

@media #{$desktop} {
  .purchasing-info {
    .purchase-options-list {
      li {
        strong {
          width: 15%;
        }

        a {
          width: 85%;
        }
      }
    }
  }
}
