#QuickSearch {
    padding: 0 15px 60px;
    .control-label {
        font-size: 24px;
        font-weight: 300;
    }
    .form-control {
        border-radius: 0;
        height: 36px;
    }
    .form-group {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 21px;
        font-weight: 300;
        margin: 0;
    }
    .input-group-btn {
        button {
            border-left: 0 none;
            margin: 0;
            text-align: center;
            width: 42px;
            background: #f3f3f3;
            height: 36px;
            i {
                font-size: 18px;
                margin: 0;
                color: #666;
            }
        }
    }
    #browseByCategory {
        li {
            line-height: 36px;
            a,
            a:active,
            a:visited {
                color: white;
                &:after {
                    content: " \00BB";
                }
            }
        }
    }
}
