
.average-ratings-col{
  float: left;
  text-align: center;
}

.overall-ratings-col{
  width: 100%;
  max-width: 500px;
  float: right;
}

.doughnut-track{
  fill: transparent;
  stroke: rgba(183,183,183,1);
  stroke-width: 26;
}
.doughnut-indicator {
  fill: transparent;
  stroke: rgba(16,116,185,1);
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

.doughnut-endpoint {
  fill: rgba(16,116,185,1);
}

.doughnut {
  border-radius: 50%;
  display: block;
  margin: 0 0 10px 0;
}

.doughnut-text{
  font-family: 'Roboto';
  fill: rgba(233,158,39,1);
  font-weight: 500; 
  letter-spacing: -7px;
  text-anchor: middle;
  font-size:65px
}


.horizontal-bar-chart {
  .bar {
    background: rgba(16,116,185,1);
  }

}
 
.Charts {
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-end;
  padding: 50px;
  // height: 25em;
  
  &.horizontal {
    display: block;
  }
  
  &.horizontal &--serie {
    display: block;
    margin: 0 0 30px 0;
    border: 0;
    
    label {
      position: relative;
      top: auto;
      right: auto;
      left: 0;
      bottom: auto;
      padding: 0 0 10px 0;
    }
  }
  
  &--serie {
    height: 100%;
    margin: 0 30px 0 0;
    display: inline-block;
    flex: 1;
    display: flex;
    align-items: flex-end;
    transform-origin: 0 100%;
    animation: slideUp .6s;
    position: relative;
    border-bottom: 1px solid #c2c2c2;
    
    &.stacked {
      display: block;
    }
    
    label {     
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      font-family: Helvetica, sans-serif;
      font-size: 10px;
      text-align: center;
      color: #808080;
    }
  }
  
  &.horizontal &--item {
    display: block;
    border-radius: 5px 17px 17px 5px;
    margin: 0 0 10px 0;
    height: 22px;
    label {
      position: absolute;
      left: -20px;
      top: .3em;
    }
    
    b {
      position: absolute;
      right: -20px;
      top: .3em;
    }
  }
  
  &--item {
    background-color:rgba(16,116,185,1);;
    display: inline-block;
    margin: 0 5px 0 0;
    flex: 1;
    transition: height 1s ease-out, width 1s ease-out;
    position: relative;
    text-align: center;
    border-radius: 2px 2px 0 0;
    
    &.layered {
      position: absolute;
      left: 5%;
      right: 5%;
      bottom: 0;
      margin: 0;
      
      b {
        position: absolute;
        right: 0;
      }
    }
    
    &.stacked {
      position: relative;
      display: block;
      border-radius: 0;
    }
    
    b {
      position: relative;
      font-family: Helvetica, sans-serif;
      font-size: 10px;
      top: -20px;
      color: #43A19E;
    }
  }
}

.Legend {
  &--color {
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    width: 16px;
    height: 16px;
  }
  
  &--label {
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 0 0 5px;
  }
}

@keyframes slideUp {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}