.ratings-chart {
  position: relative;
  max-width: 850px;
  margin: auto;

  .average-ratings-col {
    text-align: center;
    margin-bottom: 30px;
    vertical-align: middle;
  }

  .overall-ratings-col {
    .zero-reviews {
      position: absolute;
      right: 0;
      top: 40%;
      margin-right: 15px;
      color: $fn-dark;
      font-size: $fn-h3-desktop;
      text-align: center;
    }
  }
}

.doughnut {
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}

.doughnut-text {
  fill: #EB9F02;
  font-weight: $fn-medium-weight;
  letter-spacing: -6px;
  text-anchor: middle;
}

.doughnut-track {
  fill: transparent;
  stroke: rgba(183, 183, 183, 1);
  stroke-width: 26;
}

.doughnut-indicator {
  fill: transparent;
  stroke: rgba(16, 116, 185, 1);
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray 0.3s ease;
}

.doughnut-endpoint {
  fill: rgba(16, 116, 185, 1);
}

.total-reviews {
  margin: 0 10px 10px;

  .ratings-container {
    margin: 0;

    .ratings-number {
      display: none;
    }
  }
}

.horizontal-bar-chart {
  display: block;
  padding: 10px 60px;

  .bar-wrapper {
    position: relative;

    label.ratings-container {
      position: absolute;
      width: 50px;
      left: -50px;
      top: 0;
      line-height: 1;

      .ratings-number {
        color: $fn-dkgrey;
        font-size: $fn-content-page-text-desktop;
        font-weight: $fn-normal-weight;
        padding-left: 8px;
      }

      .ratings-star {
        color: $fn-mdgrey;
      }
    }

    .bar {
      background-color: rgba(16, 116, 185, 1);
      position: relative;
      text-align: center;
      display: block;
      border-radius: 5px 17px 17px 5px;
      margin: 0 0 10px;
      height: 22px;

      .bar-value {
        color: $fn-dkgrey;
        font-size: $fn-content-page-text-desktop;
        line-height: 1.3;
        position: absolute;
        left: 100%;
        padding-left: 10px;
      }
    }
  }

}
/*Tablet*/
@media #{$tablet} {
  .ratings-chart {
    min-height: 200px;

    .average-ratings-col {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .horizontal-bar-chart {
    .bar-wrapper {
      label {
        .ratings-number {
          font-size: $fn-content-page-text-desktop;
          line-height: 1.3;
        }
      }

      .bar {
        height: 22px;
        margin-bottom: 10px;

        .bar-value {
          font-size: $fn-content-page-text-desktop;
          line-height: 1.3;
        }
      }
    }
  }
}
/* Desktop */
@media #{$desktop}{
  .ratings-chart {
    min-height: 250px;
    margin-bottom: 0;
  }

  .horizontal-bar-chart {
    .bar-wrapper {
      label {
        .ratings-number {
          line-height: 1.5;
        }
      }

      .bar {
        height: 28px;
        margin-bottom: 15px;

        .bar-value {
          line-height: 1.5;
        }
      }
    }
  }
}
