
.average-ratings-col{
  float: left;
  text-align: center;
}

.overall-ratings-col{
  width: 100%;
  max-width: 500px;
  float: right;
}

.doughnut-track{
  fill: transparent;
  stroke: rgba(183,183,183,1);
  stroke-width: 26;
}
.doughnut-indicator {
  fill: transparent;
  stroke: rgba(16,116,185,1);
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

.doughnut-endpoint {
  fill: rgba(16,116,185,1);
}

.doughnut {
  border-radius: 50%;
  display: block;
  margin: 0 0 10px 0;
}

.doughnut-text{
  font-family: 'Roboto';
  fill: rgba(233,158,39,1);
  font-weight: 500; 
  letter-spacing: -7px;
  text-anchor: middle;
  font-size:65px
}


.horizontal-bar-chart {
    display: block;
    padding: 10px 60px;
    .bar-wrapper{
      position: relative;
      label {
          position: absolute;
          height: 100%;
          width: 45px;
          left: -45px;
          top: .3em;
          img{
            display: inline-block;
          }
      }
      .bar{
          background-color: rgba(16, 116, 185, 1);
          position: relative;
          text-align: center;
          display: block;
          border-radius: 5px 17px 17px 5px;
          margin: 0 0 10px 0;
          height: 22px;
          b {
              position: relative;
              color: #43A19E;
              font-family: Helvetica, sans-serif;
              font-size: 10px;
              position: absolute;
              right: -20px;
              top: .3em;
          }
      }
    }
}
