.ratings-chart {
    position: relative;
    width: 100%;
    max-width: 850px;
    margin: auto;
    .average-ratings-col {
        text-align: center;
        margin-bottom: 40px;
    }
    .overall-ratings-col {
        width: 100%;
    }
}

.doughnut {
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}

.doughnut-text {
    font-family: 'Roboto';
    fill: #EB9F02;
    font-weight: 500;
    letter-spacing: -12px;
    text-anchor: middle;
}

.doughnut-track {
    fill: transparent;
    stroke: rgba(183, 183, 183, 1);
    stroke-width: 26;
}

.doughnut-indicator {
    fill: transparent;
    stroke: rgba(16, 116, 185, 1);
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
}

.doughnut-endpoint {
    fill: rgba(16, 116, 185, 1);
}

.ratings-star {
    color: $fn-mdgrey;
}

.total-reviews {
    .ratings-container {
        display: inline-block;
        margin-right: 5px;
        .ratings-number {
            display: none;
        }
        .ratings-stars {
            vertical-align: middle;
        }
        .ratings-star {
            font-size: 2rem;
            line-height: 20px;
        }
    }
    span {
        font-size: 16px;
    }
}

.horizontal-bar-chart {
    display: block;
    padding: 10px 60px;
    .bar-wrapper {
        position: relative;
        label {
            position: absolute;
            height: 22px;
            width: 50px;
            left: -50px;
            top: 0;
            .ratings-number {
                color: $focus-lightbg;
                font-family: Roboto;
                font-size: 17px;
                line-height: 22px;
                display: inline-block;
                position: relative;
                padding-left: 30px;
            }
            .ratings-star {
                font-size: 22px;
                line-height: 0px;
                /* margin-right: 10px; */
                position: absolute;
                left: 0;
                top: 11px;
            }
        }
        .bar {
            background-color: rgba(16, 116, 185, 1);
            position: relative;
            text-align: center;
            display: block;
            border-radius: 5px 17px 17px 5px;
            margin: 0 0 10px 0;
            height: 22px;
            .bar-value {
                color: #4A4A4A;
                font-family: Roboto;
                font-size: 17px;
                line-height: 22px;
                position: absolute;
                left: 100%;
                padding-left: 10px;
            }
        }
    }
}


/*Tablet*/

@media only screen and (min-width: 768px) {
    .ratings-chart {
        min-height: 200px;
        .average-ratings-col {
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            margin-bottom: 0px;
        }
        .overall-ratings-col {
            padding-left: 205px;
        }
    }
    .horizontal-bar-chart {
        .bar-wrapper {
            label {
                .ratings-number {
                    font-size: 17px;
                    line-height: 22px;
                }
                .ratings-star {
                    top: 10px;
                }
            }
            .bar {
                height: 22px;
                margin-bottom: 10px;
                .bar-value {
                    font-size: 17px;
                    line-height: 22px;
                }
            }
        }
    }
}


/* Desktop */

@media only screen and (min-width: 992px) {
    .ratings-chart {
        min-height: 250px;
         margin-bottom: 0px;
        .overall-ratings-col {
            padding-left: 260px;
        }
    }
    .horizontal-bar-chart {
        .bar-wrapper {
            label {
                .ratings-number {
                    line-height: 28px;
                }
                .ratings-star {
                    top: 15px;
                }
            }
            .bar {
                height: 28px;
                margin-bottom: 15px;
                .bar-value {
                    line-height: 28px;
                }
            }
        }
    }
}
