/* review wrapper */
.reviews {}
.review {
    margin-bottom: 30px;
    .review_info {
        .review_rating {
            display: inline;
        }
        .review_authoredBy {
            display: inline;
            font-weight: 500;
        }
    }
    .review_comment {}
    .review_commentReplies {
        a {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
        }
    }
}
