.gallery-container {
  padding: 60px 0 0;

  .scrollable-region {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    padding: 0;
  }

  .slide-container {
    position: relative;
    display: inline-block;
    margin: 0 15px 60px;
    width: 100%;

    &:first-child {
      margin-left: 15px;

      @media #{$tablet} {
        margin-left: calc((100% - 750px) / 2);
      }
      @media #{$desktop} {
        margin-left: calc((100% - 970px) / 2);
      }
      @media #{$wide} {
        margin-left: calc((100% - 1170px) / 2);
      }
    }

    .slide-img {
      height: 440px;
      min-width: 200px;
      border: 1px solid $fn-grey;
    }

    .slide-caption {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
      line-height: 2rem;
      margin: 15px 0;
    }
  }
}
