.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 60px 0px 30px 0px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slide-container {
  position: relative;
  margin: 0px 15px;
}

.slide-img {
  height: 440px;
  margin-bottom: 10px;
}

.slide-caption {
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
