.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 60px 0px 30px 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px dashed blue;
}

.slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0px 15px;
  border: 1px dashed red;
}

.slide-img {
  max-height: 440px;
  // max-width: 440px;
  margin-bottom: 10px;
  border: 1px dashed green;
}

.slide-caption {
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
