.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 600px;
  margin: 0px 60px 0px 60px;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px dashed blue;
}

.slide-container {
  position: relative;
  max-height: 480px;
  border: 1px dashed red;

}

.slide-figure {
  max-height: 480px;
  margin: 0px 42px 42px 0px;
  border: 1px dashed green;

  .slide-img {
    max-height: 440px;
    max-width: 440px;
    border: 1px dashed yellow;
  }
  .slide-caption {
    height: 18.5px;
    padding: 0px 0px 0px 24.62px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
