.gallery-container {
  padding: 60px 0 0;

  .scrollable-region {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    padding: 0;
  }

  .slide-container {
    display: inline-block;
    margin-bottom: 60px;
    padding: 0 15px;

    &:first-child {

      @media #{$tablet} {
        padding-left: calc((100% - 750px) / 2 + 15px);
      }
      @media #{$desktop} {
        padding-left: calc((100% - 970px) / 2 + 15px);
      }
      @media #{$wide} {
        padding-left: calc((100% - 1170px) / 2 + 15px);
      }
    }

    &:last-child {

      @media #{$tablet} {
        padding-right: calc((100% - 750px) / 2 + 15px);
      }
      @media #{$desktop} {
        padding-right: calc((100% - 970px) / 2 + 15px);
      }
      @media #{$wide} {
        padding-right: calc((100% - 1170px) / 2 + 15px);
      }
    }

    figure{
      position: relative;
    }

    .slide-img {
      height: 440px;
      max-height: 440px;
      width: auto;
      max-width:100%;
      min-width: 240px;
      border: 1px solid $fn-grey;
      margin-bottom: 20px;
    }

    &.tablet .slide-img{
      height: auto;
      max-width: 440px;
    }

    .slide-caption {
      position: absolute;
      width: 100%;
      top: 430px;
      display: block;
      line-height: 2rem;
      margin: 15px 0;
    }
  }
}
