.gallery-container {
  padding: 60px 0 0;

  .scrollable-region {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    padding: 0;
  }

  .slide-container {
    position: relative;
    display: inline-block;
    padding: 0 15px 60px;

    &:first-child {
      padding-left: 15px;

      @media #{$tablet} {
        padding-left: calc((100% - 750px) / 2 + 15px);
      }
      @media #{$desktop} {
        padding-left: calc((100% - 970px) / 2 + 15px);
      }
      @media #{$wide} {
        padding-left: calc((100% - 1170px) / 2 + 15px);
      }
    }

    &:last-child {
      padding-right: 15px;

      @media #{$tablet} {
        padding-right: calc((100% - 750px) / 2 + 15px);
      }
      @media #{$desktop} {
        padding-right: calc((100% - 970px) / 2 + 15px);
      }
      @media #{$wide} {
        padding-right: calc((100% - 1170px) / 2 + 15px);
      }
    }

    .slide-img {
      height: 440px;
      min-width: 200px;
      border: 1px solid $fn-grey;
    }

    .slide-caption {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
      line-height: 2rem;
      margin: 15px 0;
    }
  }
}
