.search-form {
  .search-input.input-group {
    padding: 10px 0 0;
    width: 100%;

    .search-bar {
      display: flex;

      button {
        height: 48px;
        width: 48px;

        [class^="icon-"]:before {
          line-height: 3;
        }
      }

      input.form-control {
        padding-right: 35px !important;
        font-weight: $fn-medium-weight;

        //hide pseudo-element for clear on IE
        &::-ms-clear {
          display: none;
        }
      }

      .clear-btn {
        position: absolute;
        right: 47px;
        background-color: transparent;
        z-index: 30;
        border-radius: 0;

        .icon-close {
          font-size: 14px;
          color: $fn-dkgrey;
        }
      }

      .search-btn {
        background-color: white;
        border-color: $input-outline;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .icon-search:before {
          color: $fn-dkgrey;
        }
      }

      .clear-btn,
      .search-btn {
        &:hover,
        &:active,
        &:focus {
          border: 1px solid $input-outline;
          box-shadow: none;
          z-index: 30;

          .icon-close,
          .icon-search:before {
            color: white;
          }
        }

        &:hover {
          background-color: $fn-ltblue;
        }

        &:active,
        &:focus {
          background-color: $fn-blue;
        }
      }
    }
  }
}
