.segmented-button{
  width: 100%;
  display: flex;
  align-items:stretch;
  margin: 15px 0;

  > button{
    width: 33%;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
    color: #aaa;
    background: white;
    border: 1px solid #aaa;
    &:focus{outline: none !important;box-shadow: none;color: #aaa;}
    &:active{box-shadow: none;color: #aaa;}
    &[isActive ='true'], &.active{
      background: $fn-grey;
      color: $fn-dark;
      cursor: default;
      box-shadow: none;
      &:hover{
        background: $fn-grey;
      }
    }
    &:hover{
      background: #f5f5f5;
    }
  }
  > button:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0 none;
  }
  > button:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0 none;
  }

}
