.react-select-box-container {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: left;
    border: 1px solid $input-outline;
    .react-select-box {
        padding: 15px 0;
        display: inline-block;
        cursor: pointer;
        border: none;
        width: 100%;
        text-align: left;
        background-color: transparent;
        &:focus {
            outline: 0;
        }
        &:after {
            content: ' ';
            position: absolute;
            z-index: 1;
            top: 20px;
            right: 13px;
            border-top: 6px solid $fn-dkgrey;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
        .react-select-box-label,
        .react-select-box-option {
            line-height: 16px;
            color: $fn-dkgrey;
        }
        .react-select-box-label {
            padding: 0 40px 0 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $fn-dkgrey;
        }
        .react-select-box-options a {
            text-decoration: none;
        }
    }

    .react-select-box-clear {
        position: absolute;
        top: 15px;
        right: 0;
        width: 35px;
        height: 20px;
        background-color: #fff;
        text-indent: -9999em;
        z-index: 3;
        border: none;
        &:after {
            content: '×';
            position: absolute;
            top: 0px;
            left: 10px;
            z-index: 1;
            font-size: 16px;
            color: $fn-dkgrey;
            line-height: 1;
            width: 15px;
            height: 15px;
            text-indent: 0;
            text-align: center;
        }
    }
}

.react-select-box-click-outside-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.react-select-box-hidden {
    display: none;
}
.react-select-box-options {
    margin: 2px 0 0;
    position: absolute;
    padding: 10px 0;
    width: 240px;
    top: 100%;
    left: 0;
    z-index: 4;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    .react-select-box-option {
        color: $fn-dkgrey;
        padding: 10px 20px;
        margin: 0;
        cursor: pointer;
        display: block;
        line-height: 0.8;
        text-decoration: none;
        text-transform: none;
    }
    .react-select-box-option-focused,
    .react-select-box-option:focus {
        color: $fn-dkgrey;
        outline: 0;
        background-color: $fn-grey;
    }
    .react-select-box-option-selected {
        color: $fn-blue;
    }
}
.react-select-box-multi {
    .react-select-box-option {
        padding-left: 42px;
        position: relative;
    }
    .react-select-box-option:before {
        content: ' ';
        position: absolute;
        text-align: center;
        left: 20px;
        top: 9px;
        height: 12px;
        width: 12px;
        border: 1px solid $fn-dkgrey;
    }
    .react-select-box-option-selected:before {
        content: '✓';
    }
}

.react-select-box-close {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding: 5px 0;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.react-select-box-native {
    position: absolute;
    left: -99999em;
}
