.sortable-table {
  position: relative;

  th {
    padding: 0;
  }

  td {
    padding: 5px 5px;
  }

  p {
    margin: 0;
  }

  .sortable-table-row {
    vertical-align: bottom;
  }
  // table {
  //   tbody {
  //     .sortable-table-row {
  //       td {
  //         background-color: green;
  //         display: flex;
  //         flex-direction: row;
  //         align-items: baseline;
  //       }
  //     }
  //   }
  // }

  .sortable-table-row {
    background-color: $fn-white;
    th {
      background-color: $fn-white;
    }
    td {
      position: relative;
      button {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }

  .sort-name {
    position: relative;

    .icon-arrowdown, .icon-arrowup{
        position: absolute;
        right: -25px;
        top: 6px;
    }
    .icon-arrowdown{
        border-top-color: $table-sort-row-highlight;
    }
    .icon-arrowup{
        border-bottom-color: $table-sort-row-highlight;
    }
  }

  .sort-button {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 15px 35px 15px 20px;
    border-bottom: 5px solid transparent;

    &:hover, &.active{
        border-bottom: 5px solid $table-sort-row-highlight;
    }
  }
}
