.ratingsSummary{
  margin-bottom: 30px;

  .ratingsChart{
    > li{
      font-size: 13px;
      line-height: 32px;
      .ratings-bar{
          vertical-align: middle;
        display: inline-block;
        height: 20px;
        text-align: right;
        padding: 0 10px;
        background-color: $fn-grey;}
    }
  }
}

.app-rating{
  display: inline-block;
  float: right;
  line-height:24px;
}
.star-rating{
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 92px;
  height: 24px;
  padding: 2px 0 0 0;
  line-height:32px;
  background-image: url('../assets/svg/RatingStar.svg');
  background-position: 0 2px;
  background-size: 18px 18px;
  background-repeat: repeat-x;
  div{
    overflow: hidden;
    vertical-align: middle;
    height: 24px;line-height:24px;
    background-image: url('../assets/svg/RatingStarGold.svg');
    background-position: 0 0;
    background-size: 18px 18px;
    background-repeat: repeat-x;
    &.zero-star{
      display: none;
    }
    &.one-star{
      width: 18px;
    }
    &.two-star{
      width: 36px;
    }
    &.three-star{
      width: 54px;
    }
    &.four-star{
      width: 72px;
    }
    &.five-star{
      width: 100%;
    }
  }
}
