.card-wrapper {
  cursor: pointer;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.card-container {
  position: relative;
  background-color: $fn-white;
  color: $focus-lightbg;
  padding: 5%;
  height: 335px;

  .card-badge {
    position: absolute;
    top: 1rem;
    left: 1rem;

    img {
      height: 2.8rem;
    }
  }

  .card-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      padding: 10%;
    }
  }

  .card-info {
    height: 110px;
    font-size: 1.6rem;
    margin: 0.5rem 1rem 0 0;
    white-space: nowrap;
    max-width: 100%;
  }

  .card-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-bottom: 10px;
    font-weight: $fn-normal-weight;
    font-size: 2rem;
  }

  .card-publisher {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: $fn-normal-weight;
    font-size: 1.6rem;
  }

  .card-rating {
    display: inline-block;
    text-align: left;
    min-height: 18px;
    font-size: 1.6rem;
    color: $fn-dkgrey;
  }

  .card-lower-meta {
    position: absolute;
    bottom: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    font-weight: $fn-normal-weight;
  }

  .card-platform {
    display: inline-block;
    color: $fn-dkgrey;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
  }
}
