@media #{$tablet} {
    .card-container {
        width: 215px;
        height: 325px;
        .card-badge{
            top: 2rem;
            left: 1.5rem;
            img {
                height: 2.8rem;
            }
        }

        .card-logo {
            img {
                width: 70%;
                top: 15%; // ~50px of 325px;
                left: 15%; // ~35px of 215pxpx;
            }
        }

        .card-info{
            // @include paragraph-text();
            font-size: 2rem;
            margin: 0 1.5rem;
        }
        .card-publisher{
            font-size: 1.4rem;
        }
        .card-rating{
            font-size: 1.6rem;
            bottom: 1.5rem;
            left: 1.5rem;
            color: $fn-dkgrey;
            .ratings-star {
                height: 1.3rem;
            }
        }
        
        .card-platform{
            color: $fn-dkgrey;
            bottom: 1.6rem;
            right: 2rem;
            font-size: 1.6rem;
        }
    }
}