@media (max-width: $screen-xs) {
  .card-container {
    .ratings-stars {
      .ratings-star {
        display: block;
      }

      .ratings-star:nth-child(1n+2) {
        display: none;
      }

      .ratings-star.icon-star-o {
        display: none;
      }
    }
  }
}
