.card-wrapper {
  cursor: pointer;

  a {
    &:focus,
    &:hover {
      color: $fn-dkgrey;
    }
  }
}

.card-container {
  position: relative;
  background-color: $fn-white;
  color: $focus-lightbg;
  padding: 5%;
  height: 335px;

  .card-badge {
    position: absolute;
    top: 1rem;
    left: 1rem;

    img {
      height: 2.8rem;
    }
  }

  .card-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      padding: 10%;
    }
  }

  .card-info {
    height: 110px;
    font-size: 1.6rem;
    margin: 0.5rem 1rem 0 0;
    white-space: nowrap;
    max-width: 100%;
  }

  .card-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-bottom: 10px;
    font-weight: $fn-normal-weight;
    font-size: 2rem;
  }

  .card-publisher {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: $fn-normal-weight;
    font-size: 1.6rem;
  }

  .card-rating {
    .ratings-container,
    .ratings-number {
      font-size: 1.6rem;
    }

    .ratings-container .ratings-stars {
      vertical-align: middle;

      .ratings-star:before {
        vertical-align: top;
      }
    }
  }

  .card-lower-meta {
    position: absolute;
    bottom: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    font-weight: $fn-normal-weight;
  }

  .card-platform {
    display: inline-block;
    color: $fn-dkgrey;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
  }
  &.mdm_failed {
    border: 2px solid $fn-alert-red;
  }
  &.mdm_repushed {
    border: 2px solid $fn-ltblue;
  }
}
