@media (max-width: $screen-xs) {
  .card-container {
    .card-lower-meta {
      display: block;
      position: relative;
      bottom: auto;

      .card-platform,
      .card-rating {
        display: block;
        right: auto;
        width: 100%;
      }
    }

    .ratings-container {
      width: 100%;

      .ratings-number {
        float: left;
      }

      .ratings-stars {
        .ratings-star {
          display: block;
        }

        .ratings-star:nth-child(1n+2) {
          display: none;
        }

        .ratings-star.icon-star-o {
          display: none;
        }
      }
    }
  }
}
