@media #{$tablet} {
  .card-container {
    height: 335px;

    .card-info {
      height: 110px;
    }

    .card-rating {
      font-size: 1.6rem;
    }

    .card-name {
      font-size: 2rem;
    }

    .card-platform {
      font-size: 1.6rem;
    }
  }
}
