@media #{$desktop} {
  .card-container {
    width: 100%;
    height: 375px;

    .card-badge {
      top: 1rem;
      left: 1rem;

      img {
        height: 2.8rem;
      }
    }

    .card-name {
      font-size: 2rem;
    }

    .card-info {
      font-size: 2rem;
    }

    .card-rating {
      font-size: 1.6rem;
      color: $fn-dkgrey;
    }

    .card-platform {
      font-size: 1.6rem;
    }
  }
}
