@media (max-width: $screen-xs) {
  .card-container {
    .ratings-container {
      min-width: 30px;

      .ratings-number {
        float: left;
      }

      .ratings-stars {
        .ratings-star {
          display: block;
        }

        .ratings-star:nth-child(1n+2) {
          display: none;
        }

        .ratings-star.icon-star-o {
          display: none;
        }
      }
    }
  }
}
