.card-wrapper {
    text-align: center;
}

.card-focus{
    display: inline-block;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.card-container {
    width: 100px;
    height: 180px;
    position: relative;
    background-color: white;
    color: #4A4A4A;
    text-align: left;

    .card-badge {
        position: absolute;
        top: 0.7rem;
        left: 0.5rem;

        img {
            height: 2.0rem;
        }
    }

    .card-logo {
        height: auto;
        width: 85px;
        margin: 1rem auto 0;

        img {
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .card-info {
        // @include paragraph-text();
        font-size: 1.6rem;
        margin: 0.5rem 1rem 0;
    }

    .card-rating {
        position: absolute;
        bottom: 0.5rem;
        left: 1.0rem;

        .ratings-stars {
            vertical-align: text-bottom;
        }

        .ratings-star {
            height: 1rem;
        }
    }

    .card-platform {
        position: absolute;
        bottom: 0.5rem;
        right: 0.7rem;
        size: 1.4rem;
    }
}

@import "summary-card-lg";
@import "summary-card-md";
