.card-wrapper {
    text-align: center;
}

.card-focus{
    display: inline-block;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.card-container {
    width: 100px;
    height: 180px;
    position: relative;
    background-color: white;
    color: #4A4A4A;
    text-align: left;

    .card-badge {
        position: absolute;
        top: 0.7rem;
        left: 0.5rem;

        img {
            height: 2.0rem;
        }
    }

    .card-logo {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin: 0;
        img {
            width: 60%;
            height: auto;
            position: absolute;
            top: 20%; // ~30px of 160px;
            left: 20%; // 20px of 100px;
        }
    }

    .card-info {
        font-size: 1.6rem;
        margin: 0 1rem;
    }

    .card-rating {
        position: absolute;
        bottom: 0.5rem;
        left: 1.0rem;

        .ratings-stars {
            vertical-align: text-bottom;
        }

        .ratings-star {
            height: 1rem;
        }
    }

    .card-platform {
        position: absolute;
        bottom: 0.5rem;
        right: 0.7rem;
        size: 1.4rem;
    }
}

@import "summary-card-lg";
@import "summary-card-md";
