$toggle-width: 38px;
$toggle-on-offset: 19px;
$toggle-height: 12px;
$toggle-circle-diameter: 20px;
$toggle-vertical-offset: 4px;

$toggle-light-grey: $fn-ltgrey;
$toggle-light-medium-grey: $fn-grey;
$toggle-dark-medium-grey: #BDBDBD;
$toggle-dark-grey: #9B9B9B;

.checkbox-as-toggle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: $toggle-circle-diameter;

  *,
  *:after,
  *:before {
    transition: 0.25s ease-in-out;
  }

  .checkbox-label {
    display: block;
    background: transparent;
    height: 24px;
    position: relative;
    width: 100%;
    line-height: $toggle-circle-diameter;

    &:focus {
      @include focus();
    }

    span {
      display: block;
      position: absolute;
      z-index: 0;
      left: 0px;
      line-height: 2rem;
      font-size: $fn-label-desktop;
    }

    span.pill {
      background: $toggle-dark-grey;
      box-shadow: 0 0 0 2px $toggle-dark-grey;
      height: $toggle-height;
      width: $toggle-width;
      border-radius: $toggle-height;
      line-height: $toggle-circle-diameter;
      left: auto;
      right: 0px;
      top: $toggle-vertical-offset;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      right: $toggle-on-offset;
      border-radius: $toggle-circle-diameter;
      height: $toggle-circle-diameter;
      width: $toggle-circle-diameter;
      background: white;
      box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px $toggle-dark-medium-grey;
    }
  }

  .checkbox {
    position: absolute;
    left: -5000px;

    &:checked {
      + .checkbox-label {
        span.pill {
          background: $fn-ltblue;
          box-shadow: 0 0 0 2px $fn-ltblue;
        }

        &:after {
          right: 0;
          box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px $fn-blue;
          background: $fn-blue;
        }
      }
    }
  }

  &.disabled {
    span.pill {
      background: $toggle-light-medium-grey;
      box-shadow: 0 0 0 2px $toggle-light-medium-grey;
    }

    .checkbox-label:after {
      background: $toggle-dark-medium-grey;
    }
  }
}
