.truncate-comment-container {
  display: flow;
  position: relative;

  button {
    text-decoration: none !important;
    border: 0 !important;
  }
}

.comment-text-container {
  display: inline;
}

.hidden-comment-text {
  height: 100%;
}
