.truncate-container {
  display: block;
  position: relative;
  word-wrap: break-word;
  margin-top: 10px;

  .truncate-contents {
    p {
      margin: 0;

      ul, ol {
        list-style: disc;
        margin: 10px 0 10px 50px;
        line-height: 1.75;
      }
    }
  }
}
