.truncate-comment-container {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 10px 0 0 0;

  .truncate-button {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $fn-ltblue;
    margin: 20px 0 0 5px;
    text-decoration: none !important;
    border: 0 !important;

    &:after {
      font-family: $icon-font;
      content: '\68';
    }
    &[aria-expanded='false'] {
      &:after {
        font-family: $icon-font;
        content: '\66';
      }
    }
  }

  p {
    margin: 0;
  }
}
