.truncate-comment-container {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 10px 0 0 0;

  .truncate-button {
    position: relative;
    font-weight: $fn-bold-weight;
    font-size: $fn-button-default-size;
    line-height: 1.25;
    color: $fn-ltblue;
    margin: 20px 0 0 0;
    text-decoration: none !important;
    border: 0 !important;

    &:focus {
      @include focus();
    }
    &:after {
      font-family: $icon-font;
      content: '\68';
      font-size: 10px;
      padding: 0 0 0 5px;
    }
    &[aria-expanded='false'] {
      &:after {
        font-family: $icon-font;
        content: '\66';
        font-size: 10px;
        padding: 0 0 0 5px;
      }
    }
  }

  p {
    margin: 0;
  }
}
