.fnnav__utility {
    background: $fn-dkgrey;
    height: 48px;
    color: white;
    text-align: right;

    .dropdown-group > ul {
        display: inline-block;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        margin: 0;
        > li {
            display: inline-block;
            vertical-align: top;

            &:not(:first-child) {
                border-left: 1px solid #fff;
            }
            // in the case there is only one associated PSE a span replaces the dropdown toggle
            > span{
              display: inline-block;
              padding: 0 30px;
              text-transform: uppercase;
              line-height:48px;
              font-weight: $fn-medium-weight;
            }
        }
    }

    .dropdown-toggle {
        height: 48px;
        border-radius: 0;
        background: transparent;
        color: white;
        border: 2px solid transparent;
        margin: 0;

        &.active {
            background: white;
            color: $fn-dkgrey;
        }

        &.active,
        &:active,
        &:visited {
            text-decoration: none;
        }

        &:focus {
            @include focus();
            background: transparent;
            color: inherit;
        }

        &:hover,
        &[aria-expanded=true] {
            color: $fn-dkgrey;
            background: white;
        }
    }
}
