.pad-padding {
    position: absolute;
	top:0;
}
.pad-text {
	color:#fff;
}
.pad-header-spacing {
    padding-top:20px;
    padding-bottom:20px;
}

.pad-box {
	padding-top: 75%;
	background-size: 100% !important;
    position:relative;

    &.view-solutions{ 
        background: url(/images/ViewSolutions.png);
        background-position: center bottom !important;
    }
    &.rate-plans{ 
        background: url(/images/RatePlans.png);
        background-position: center bottom !important;
    }
    &.shop-devices{ 
        background: url(/images/ShopDevices.png);    
        background-position: center top !important;
    }    
}

.imagebox{
    > h3 { 
        color: $fn-white;
        font-size: $fn-h3-default-size;
        font-weight: $fn-bold-weight;
    }
    > p { 
        color: $fn-white;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: $fn-medium-weight;        
        padding-bottom:3rem;    
    }
    > a.pad-button {
        border: 2px solid $fn-white;
        border-radius: 100px;
        color: $fn-white;
        background-color: transparent;
        font-size: $fn-button-default-size;
        font-weight: $fn-bold-weight;
        background: transparent;
        margin: auto;
        text-align: center;        
    }
    > a.pad-button:active,
    > a.pad-button:hover,
    > a.pad-button:focus {
        border: 2px solid $fn-white;
        border-radius: 100px;
        background-color: $fn-white;
        color: $fn-dkgrey;
        font-size: $fn-button-default-size;
        font-weight: $fn-bold-weight;
        text-align: center;
    }
}

