html,body{
  height: 100vh;
}
body {
  background: #f3f3f3;
  font-family: $roboto;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

a {
  color: $fn-blue;
  text-decoration: none;
  &:hover, &.active {
    color: $fn-blue;
    text-decoration: underline;
  }
  &.learnMore{
    display: block;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: underline;
  }
  &.shopLink{
    font-size: 13px;
  }
}
//icon display
i{
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

main{
  background: #f3f3f3;
  padding-bottom: 30px;
  &.fixedHeader{
    background: white;
    padding-top: 48px;
    min-height: 500px;
  }
}
