body {
  background: #fafafa;
  margin: 0;
}

i {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  font-size: $fn-content-page-text-desktop;
}

main {
  background: #fff;

  &:focus {
    @include focus();
  }
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
