body {
  background: #fafafa;
  margin: 0;

  *:focus {
    @include focus();
  }
}

i {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  font-size: $fn-content-page-text-desktop;
}

main {
  background: #fff;

  > article {
    padding-top: 30px;
  }
}

.content-wrapper {
    min-height: 635px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

form p {
  font-size: $fn-label-desktop;
}
