body {
  background: #fafafa;
  margin: 0;

  *:focus {
    @include focus();
  }
}

i {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  font-size: $fn-content-page-text-desktop;
}

main {
  background: #fff;

  > article {
    padding-top: 30px;
  }
}

.content-wrapper {
    min-height: 635px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

form p {
  font-size: $fn-label-desktop;
}

form button.form-submit {
  margin: 3rem 0 6rem;
}

.certified-app-label {
  color: $fn-certified-grey;
  font-size: 1.4rem;
  font-weight: $fn-normal-weight;

  i:before {
    color: $fn-certified-blue;
    font-size: 1.6rem;
    padding-right: 5px;
    text-decoration: none !important;
  }
}

hr {
  border-color: $fn-grey;
}

h1 + hr,
h2 + hr {
  border-color: $fn-header-hr-grey;
}

.form-group {

  input {
    //hide pseudo-element for clear on IE
    &::-ms-clear {
      display: none;
    }

    &.form-control:not(:last-child) {
      padding: 6px 6px 6px 12px;
      border-right: 0;
    }
  }

  .has-icon {
    position: relative;
    input {
      padding-left: 35px !important;
    }
    .prefix-icon {
      position: absolute;
      left: 14px;
      top: 16px;
      font-size: $fn-label-desktop;
      color: $fn-ltblue;
      z-index: 2;
    }
  }

  &.has-error {
    input.form-control {
      border-right: 1px solid $fn-red;
    }
  }

  .clear-btn,
  .submit-btn {
    @extend .btn;
    height: 48px;
    width: 48px;

    [class^="icon-"]:before {
      line-height: 3;
    }

    &:hover {
      background: $fn-ltblue;
      border: 1px solid $fn-ltblue;
    }

    &:focus,
    &:active {
      background: $fn-blue;
      border: 1px solid $fn-blue;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      outline: none;

      .icon-close,
      .icon-search:before {
        color: $fn-white;
      }
    }

    &:hover {
      background-color: $fn-ltblue;
    }

    &:active,
    &:focus {
      background-color: $fn-blue;
    }
  }

  .clear-btn {
    border-radius: 0;
    border-top: 1px solid $input-outline;
    border-bottom: 1px solid $input-outline;
    border-left: 0 none;

    .icon-close {
      font-size: 14px;
      color: $fn-dkgrey;
    }
  }

  .submit-btn {
    display: table-cell;
    border-color: $input-outline;
    border-left: 1px solid $input-outline;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }


}

.search-form {
  input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
