body {
  background: #fafafa;
  margin: 0;

  &.show-focus-styles {
    *:focus {
      @include focus();
    }
  }
}

i {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  font-size: $fn-content-page-text-desktop;
}

main {
  background: #fff;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
