body {
  background: $brand-white;
  margin: 0;

  main {
    background: $brand-white;

    > article {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

i {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  font-size: $brand-content-page-text-desktop;

  &[class^="icon-"] {
    display: inline-block;
  }
}

.content-wrapper {
  min-height: 635px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

// spinning reload icon
.icon-reload {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
  margin-right: 5px;
  font-size: 3.6rem;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
