a.skipnav{
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
  &:focus,
  &:active{
    position:relative;
    display: inline-block;
    left: auto;
    top: auto;
    height: auto;
    width:auto;
    overflow:auto;
    margin: 2px;
    padding:5px;
    border-radius: 8px;
    border:1px solid $fn-blue;
    text-align:center;
    z-index:999;
    color: $fn-black;
  }
}
.back-to-top {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 2.8rem;
  left: 1em;
  width: 48px;
  height: 48px;
  line-height: 2.8;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: 75;
  display: inline-block;
  text-decoration: none;
  color: $fn-dkgrey;
  background: white;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 4px 2px 0 rgba(0,0,0,0.05);
  opacity: 1.0;
  visibility: visible;
  transition: visibility 0s, opacity 0.3s ease-in;

  i {
    color: $fn-dkgrey;
  }

  &:focus {
    border-color: $focus-lightbg;
    text-decoration: none;
  }

  &:active,
  &:hover {
    background: $fn-blue;
    text-decoration: none;

    i {
      color: white;
    }
  }

  &.faded {
    visibility: hidden;
    opacity: 0;
  }
}

.push-button {
  i:before {
    padding-right: 5px;
  }
}

.filters-button {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  background: none;
  font-size: $fn-button-desktop;
  font-weight: $fn-medium-weight;
  color: $fn-ltblue;
  text-transform: uppercase;
  border: none;
  padding: 0 10px;
  text-decoration: none;

  i {
    font-size: 10px;
    padding-left: 5px;
  }

  &:focus {
    @include focus();
  }

  span {
    &:hover,
    &:active,
    &:active:focus {
      text-decoration: underline;
    }
  }

  &:hover,
  &:active,
  &:active:focus {
    background: transparent;
    color: $fn-dkgrey;
    font-weight: $fn-bold-weight;
    box-shadow: none !important;
  }
}

.navbar-toggle {
  position: absolute;
  top: 5px;
  left: 0;
  margin: 0;
  float: left;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  border-left: 1px solid $fn-grey;
  border-right: 1px solid $fn-grey;
  text-align: center;
  background: $fn-white;
  z-index: 100;

  &:focus {
    @include focus();
  }

  &:active,
  &:active:focus {
    box-shadow: none !important;
  }

  &[aria-expanded=true] {
    background: $fn-yellow;
    border-left: 1px solid $fn-yellow;
    border-right: 1px solid $fn-yellow;
    color: $fn-white;

    .icon-bar {
      background: $fn-white;
      opacity: 1;
      transform: rotate(45deg) translate(-4px, -14px);
      margin-left: 10px;

      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(2px, 10px);
      }
    }
  }

  .icon-bar {
    background: $fn-dkgrey;
    height: 3px;
    margin: 4px auto;
    position: relative;
    display: block;
    z-index: 1;
    transform-origin: 4px 0;
    transition:
      transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0 0;
    }

    &:nth-last-child(2) {
      transform-origin: 0 100%;
    }
  }
}

/* XS */
@media only screen and (min-width : 320px) {
  $fn-primary-nav-height: 60px;

  .back-to-top {
    left: 1em;
    right: auto;
  }

  .navbar-toggle {
    width: 49px;
    height: $fn-primary-nav-height;

    &[aria-expanded=true] .icon-bar {
      margin-left: -2px;
    }
  }
}

/*Tablet*/
@media only screen and (min-width : 768px) {
  $fn-primary-nav-height: 98px;
  .navbar-toggle {
    width: 72px;
    height: $fn-primary-nav-height;
    display: block;

    &[aria-expanded=true] .icon-bar {
      margin-left: 10px;
    }
  }
}

/* Desktop */
@media only screen and (min-width : 992px) {
  .back-to-top {
    left: auto;
    right: 2em;
  }

  .navbar-toggle {
    display: none;
  }
}
