a {
  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.back-to-top {
  margin: 0;
  position: fixed;
  bottom: 2em;
  left: 1em;
  width: 48px;
  height: 48px;
  line-height: 2.9;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: 75;
  display: none;
  text-decoration: none;
  color: $fn-dkgrey;
  background: white;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 4px 2px 0 rgba(0,0,0,0.05);

  i {
    color: $fn-dkgrey;
  }
  &:focus{
    border-color: $focus-lightbg;
    text-decoration: none;
  }
  &:active,
  &:hover {
    background: $fn-blue;
    text-decoration: none;
    i {
      color: white;
    }
  }
}
/* XS */
@media only screen and (min-width : 320px) {
  .back-to-top{
    left: 1em;
    right: auto;
  }
}

/* MD */
@media only screen and (min-width : 992px) {
  .back-to-top{
    left: auto;
    right: 2em;
  }
}
