.push-button {
  i:before {
    padding-right: 5px;
  }
}

.navbar-toggle {
  position: absolute;
  top: 5px;
  left: 0;
  margin: 0;
  float: left;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  border-left: 1px solid $fn-grey;
  border-right: 1px solid $fn-grey;
  text-align: center;
  background: $fn-white;
  z-index: 101;

  &:focus {
    @include focus();
  }

  &:active,
  &:active:focus {
    box-shadow: none !important;
  }

  &[aria-expanded=true] {
    background: $fn-yellow;
    border-left: 1px solid $fn-yellow;
    border-right: 1px solid $fn-yellow;
    color: $fn-white;

    .icon-bar {
      background: $fn-white;
      opacity: 1;
      transform: rotate(45deg) translate(-4px, -14px);
      margin-left: 10px;

      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(2px, 10px);
      }
    }
  }

  .icon-bar {
    background: $fn-dkgrey;
    height: 3px;
    margin: 4px auto;
    position: relative;
    display: block;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0 0;
    }

    &:nth-last-child(2) {
      transform-origin: 0 100%;
    }
  }
}
/* XS */
@media only screen and (min-width : 320px) {
  $fn-primary-nav-height: 60px;

  .navbar-toggle {
    width: 49px;
    height: $fn-primary-nav-height;

    &[aria-expanded=true] .icon-bar {
      margin-left: -2px;
    }
  }
}
/*Tablet*/
@media only screen and (min-width : 768px) {
  $fn-primary-nav-height: 98px;

  .navbar-toggle {
    width: 72px;
    height: $fn-primary-nav-height;
    display: block;

    &[aria-expanded=true] .icon-bar {
      margin-left: 10px;
    }
  }
}
/* Desktop */
@media only screen and (min-width : 992px) {
  .navbar-toggle {
    display: none;
  }
}
