a {
  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.back-to-top {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 2.8rem;
  left: 1em;
  width: 48px;
  height: 48px;
  line-height: 2.8;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: 75;
  display: inline-block;
  text-decoration: none;
  color: $fn-dkgrey;
  background: white;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 4px 2px 0 rgba(0,0,0,0.05);
  opacity: 1.0;
  visibility: visible;
  transition: visibility 0s, opacity 0.3s ease-in;

  i {
    color: $fn-dkgrey;
  }

  &:focus {
    border-color: $focus-lightbg;
    text-decoration: none;
  }

  &:active,
  &:hover {
    background: $fn-blue;
    text-decoration: none;

    i {
      color: white;
    }
  }

  &.faded {
    visibility: hidden;
    opacity: 0;
  }
}

.reset-filters-button {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  background: none;
  font-size: $fn-button-desktop;
  font-weight: $fn-medium-weight;
  color: $fn-ltblue;
  text-transform: uppercase;
  margin-top: 1rem;
  border: none;
  padding: 0 15px;

  &:focus {
    @include focus();
  }

  &:hover,
  &:active,
  &:active:focus {
    background: transparent;
    color: $fn-dkgrey;
    font-weight: $fn-bold-weight;
    text-decoration: underline;
    box-shadow: none !important;
  }
}

/* PSE disabled button differs from lib. */
button {
  &[aria-disabled="true"],
  &[disabled] {
    background-color: $fn-grey !important;
    color: $fn-mdgrey !important;
    border: 1px solid $fn-grey !important;
    pointer-events: none;
  }
}
/* XS */
@media only screen and (min-width : 320px) {
  .back-to-top {
    left: 1em;
    right: auto;
  }
}
/* MD */
@media only screen and (min-width : 992px) {
  .back-to-top {
    left: auto;
    right: 2em;
  }
}
