select{
  &.fn-select{
    position: relative;
    display: block;
    line-height: 42px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border-color: #ccc;
    padding: 0 .75em;
    font-size: 14px;
    font-weight: 500;
    background: $fn-ltgrey url(../assets/svg/DownArrow.svg) no-repeat;
    background-size: 14px 14px;
    background-position: 96% 48%;
  }
}


form {
    h5 {
      padding-bottom: 10px;
      font-weight: bold;
    }

    label {
      font-weight: bold;
    }

    .hint {
      color: $hint-color;
      font-weight: normal;
    }

    .success {
      color: $fn-blue;
    }

    p {
      text-transform: none;
    }

    /*** special panel borders ***/
    .panel-group {
      border-bottom: 0;
      border-top: 0;
    }
    .panel-heading {
      border-bottom: 1px solid $fn-grey!important;
    }
    .panel {
      border: 0;
      padding: 0 20px 0 20px;
    }
    .panel-collapse.collapse.in {
      border: 0;
      border-bottom: 1px solid $fn-grey!important;
    }

    /*** form elements ***/
    .form-input {
        padding-bottom: 10px;

        input:not([type="radio"],[type="checkbox"]),
        textarea {
            border: 1px solid $input-outline;
            width: 100%;
            margin-top: 8px;
        }

        label:not(.radio-label, .checkbox-label) {
            width: 100%;
            text-transform: uppercase;
        }
        .hint {
          text-transform: none;
        }

        .checkbox-label,
        .radio-label {
            font-size: 13px;
            margin-right: 15px;
            input {
                margin: 5px 5px 5px 0;
            }
        }
        .radio-label {
            font-weight: normal;
        }

        .file-placeholder div input {
          opacity:0;
        }

        &.app-package-placeholder {
          div,
          input,
          img {
            height: 70px;
            width: 245px;
          }
        }

        &.icon-placeholder {
          div,
          input,
          img {
            height: 100px;
            width: 100px;
          }
        }

        &.screenshot-placeholder {
          float: left!important;
          margin: 10px 20px 20px 0;
          div,
          input,
          img {
            width: 74px;
            height: 120px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
    }

    .form-field-review {
      div {
        padding-top: 7px;
        border-bottom: 1px solid $fn-grey;
        label {
            font-weight: normal;
        }
        p {
          font-weight: bold;
        }
      }
    }


    .btn,
    .fn-primary,
    .fn-secondary {
        margin: 10px 20px 10px 0;
        width: 48%;
    }
    .btn:last-child,
    .fn-primary:last-child,
    .fn-secondary:last-child {
        margin-right: 0;
    }
}
