.checkbox {
  label {
    font-weight: $fn-medium-weight;
  }

  &.disabled {
    label {
      color: $fn-disabledgrey;
    }
  }
}

.as-label,
label {
  font-size: $fn-label-default-size;
  font-weight: $fn-medium-weight;
  line-height: 2;
}

.form-group-title {
  font-size: $fn-label-default-size;
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: $fn-bold-weight;
  line-height: 2;
}

.form-group .msgBlock.error-list {
  margin: 5px 0 10px;
}

.form-group .control-label {
    text-transform: none;
}

.required-asterisks{
  color: $fn-red;
}

/* Remove native caret from select menu in IE */
select::-ms-expand {
  display: none;
}

/* Remove blue highlight from select menu in IE */
select::-ms-value {
  background: transparent;
  color: $fn-black;
}

/* Remove dotted outline from select menu in Firefox */
@-moz-document url-prefix() {
  select,
  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent;
    text-shadow: 0 0 0 #000 !important;
  }
}
