.checkbox {
  label {
    font-weight: $fn-medium-weight;
  }

  &.disabled {
    label {
      color: $fn-disabledgrey;
    }
  }
}

label,
.as-label,
.form-group-title {
  font-size: $fn-label-default-size;
  font-weight: $fn-medium-weight;
  line-height: 2;
}

.form-group-title {
  text-transform: uppercase;
}

.form-group .msgBlock.error-list {
  margin: 5px 0 10px;
}

.form-group .control-label {
    text-transform: none;
}

.required-asterisks{
  color: $fn-red;
}