.checkbox {
  label {
    font-weight: $fn-medium-weight;
  }

  &.disabled {
    label {
      color: $fn-disabledgrey;
    }
  }
}

.as-label,
.form-group-title,
label {
  font-size: $fn-label-default-size;
  font-weight: $fn-medium-weight;
  line-height: 2;
}

.form-group-title {
  text-transform: uppercase;
}

.form-group .msgBlock.error-list {
  margin: 5px 0 10px;
}

.form-group .control-label {
    text-transform: none;
}

.required-asterisks{
  color: $fn-alert-red;
}

.form-control {
    line-height: 48px;
    height: 48px;
}

select {
  &.form-control {

    line-height: 48px;
    height: 48px;
  }
}

/****** ERROR STATE ******/
.form-group.has-error {
  .control-label {
    color: $fn-alert-red !important;
  }

  .form-control {
    border-color: $fn-alert-red !important;
  }
}

.form-group {
  .msgBlock.error-list {
    margin:  0 0 .6rem 0;
    padding-left: 10px;
  }
}

.error {
  color: $fn-alert-red !important;
}


/* Remove native caret from select menu in IE */
select::-ms-expand {
  display: none;
}

/* Remove blue highlight from select menu in IE */
select::-ms-value {
  background: transparent;
  color: $fn-black;
}

/* Remove dotted outline from select menu in Firefox */
@-moz-document url-prefix() {
  select,
  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent;
    text-shadow: 0 0 0 #000 !important;
  }
}
