body{
  -ms-overflow-style: scrollbar;
}
.isIE{
  @media #{$desktop} {
    .geolink-controls {
      .map-search,
      .map-layers,
      .map-network-legend{
        flex-basis: 26% !important;
      }
    }
  }
}
