.joyride {
  &-beacon {
    &__inner {
      animation: none;
      background: #fff;
      border: 1px solid $joyride-color;
      opacity: 1;
      z-index: 111;
    }
  }

  &-tooltip {
    &__header {
      font-weight: $fn-medium-weight;
    }

    &__main {
      font-size: $joyride-tooltip-font-size;
      padding-bottom: 5px;
      color: #000;
      line-height: 1.4;

      p {
        font-size: $joyride-tooltip-font-size;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }

      ol {
        list-style: decimal;
        margin-left: 15px;

        li {
          line-height: 1.4;
          margin-bottom: 5px;
        }
      }
    }

    &__footer {
      @extend .clearfix;
      text-align: left;

      .joyride-tooltip__button--primary {
        float: right;
      }
    }

    &__button {
      &--primary {
        height: 48px;
        border-radius: 24px;
        min-width: 65px;
        padding: 0 30px;
        font-size: 14px;
        text-transform: uppercase;

        &:active,
        &:active:focus,
        &:focus,
        &:hover {
          box-shadow: inset 0 0 16px 0 rgba(50, 50, 50, 0.5);
        }

        &:focus {
          outline: 0;
          box-shadow: 1px 1px 0 0 $fn-white, 1px -1px 0 0 $fn-white, -1px 1px 0 0 $fn-white, -1px -1px 0 0 $fn-white, 0 0 10px 0 rgba(0, 0, 0, 0.70);
        }
      }

      &--secondary {
        color: $joyride-back-button-color;
        margin-right: 10px;
        height: 48px;
        border-radius: 24px;
        min-width: 65px;
        padding: 0 12px;
        font-size: 14px;
        text-transform: uppercase;
        border: 2px solid $joyride-back-button-color;
        color: $joyride-back-button-color;
        height: 48px;
        border-radius: 24px;
        min-width: 65px;
        padding: 0 30px;
        text-transform: uppercase;

        &:active,
        &:active:focus,
        &:focus,
        &:hover {
          background: $joyride-back-button-color;
          color: $fn-white;
          border-color: $fn-white;
          box-shadow: inset 0 0 16px 0 rgba(50, 50, 50, 0.5);
        }

        &:focus {
          outline: 0;
          box-shadow: 1px 1px 0 0 $fn-white, 1px -1px 0 0 $fn-white, -1px 1px 0 0 $fn-white, -1px -1px 0 0 $fn-white, 0 0 10px 0 rgba(0, 0, 0, 0.70);
          color: $fn-blue;
          border-color: $fn-blue;
          background: transparent;
        }
      }

      &--skip {
        color: $fn-dkblue;
        float: left;
        margin-right: 10px;
        height: 48px;
        text-transform: uppercase;

        &:focus,
        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

#tour-intro-modal {
  border-radius: 4px;

  .modal {
    &-content {
      padding: 45px 30px;
      border-radius: 4px;
    }

    &-header {
      border-bottom: $joyride-header-border-width solid $joyride-header-border-color;
      color: $joyride-header-color;
      padding: 0;
      margin-bottom: 30px;

      h1 {
        font-size: $joyride-header-font-size;
        font-weight: $fn-medium-weight;
        text-align: left;
        margin-bottom: 15px;
      }

      .fn-modal-close {
        right: 23px;
      }
    }

    &-body {
      text-align: left;
      font-size: 14px;
      padding: 0 0 80px;

      p {
        font-size: $joyride-tooltip-font-size;
        text-align: left;
        margin-bottom: 14px;
      }

      ul {
        list-style: disc;
        margin-left: 15px;

        li {
          font-size: $joyride-tooltip-font-size;
          line-height: 1.6;
          margin-bottom: 5px;

          i:before {
            font-size: 16px;
            vertical-align: baseline;
          }
        }
      }
    }

    &-footer {
      @extend .clearfix;
      border: 0 none;
      padding: 0;
    }
  }
}
@media #{$tablet, $desktop} {
  #tour-intro-modal {
    .modal {
      &-content {
        padding: 45px 60px;
      }
      &-header {
        .fn-modal-close {
          top: 30px;
          right: 60px;
        }
      }
    }
  }
}
