@mixin card-hover($horizontal: 0px, $vertical: 2px, $blur: 2px, $spread: 0px, $color: rgba(182, 182, 182, 0.90)) {
   @-webkit-keyframes card-hover-motion{
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: $vertical $horizontal $blur $spread $color;
    }

    100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0 $color;
    }
  }
  @keyframes card-hover-motion {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: $vertical $horizontal $blur $spread $color;
    }

    100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0 $color;
    }
  }

  &:hover {
    -webkit-animation: card-hover-motion 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: card-hover-motion 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: card-hover-motion 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@mixin after-link() {
  &:after {
    content: '›';
    font-size: 1.9rem;
    padding-left: 5px;
  }
}
