.modal-backdrop {
  display: none;

  &.in {
    opacity: 0.8;
    display: block;
  }
}

.modal {
  &.in {
    display: block;
  }

  .modal-dialog {
    width: 90%;
    max-width: 980px;
    margin: auto;

    .modal-content {
      border-radius: 0;
      margin-top: 15%;
      padding: 60px 100px;
      text-align: center;

      h1 {
        margin-bottom: 30px;
      }

      .btn {
        margin: 60px 10px 0;
      }

      .close-modal {
        position: absolute;
        top: 32px;
        right: 25px;
        margin: 0;

        //TODO add special hover and focus styling to this button
        &:focus {
          color: $fn-black;
        }
      }
    }
  }
}
@media #{$mobile} {
  .modal {
    .modal-dialog {
      .modal-content {
        padding: 20px 30px;

        h1 {
          margin-bottom: 20px;
          font-size: $fn-h2-desktop;
        }

        .fn-primary,
        .fn-secondary {
          margin-top: 20px;
        }
      }
    }
  }
}
@media #{$tablet} {
  .modal {
    .modal-dialog {
      .modal-content {
        padding: 30px 50px;

        h1 {
          margin-bottom: 20px;
        }

        .fn-primary,
        .fn-secondary {
          margin-top: 40px;
        }
      }
    }
  }
}
