@media print {
  * {
    transition: none !important;
  }

  .content-page {
    padding-top: 100px;
  }

  article,
  body {
    background: white !important;
    box-shadow: inset 0 0 0 1000px #000;
  }

  article a[href^="#"]:after {
    content: "";
  }

  .comment-display,
  .comment-form-section,
  .comment-list-section,
  .faq-filters,
  .geolink-widget,
  .glossary-filters,
  .side-nav,
  .toolbar,
  .breadcrumb-wrapper,
  aside.side-nav-wrapper,
  footer,
  header,
  .back-to-top {
    display: none !important;
  }
  .content-page .col-sm-offset-1 {
    margin-left: 0;
  }
  .content-page > section {
    padding-bottom: 30px;
  }

  img {
    max-width: 100% !important;
  }

  img{
    page-break-inside: avoid;
  }

  .breadcrumb-nav {
    float: none !important;
    display: block;
  }

  .video-embed-field-responsive-video {
    margin: 0 !important;
    padding: 0 !important;

    iframe {
      display: none !important;
    }
  }

  .separator {
    h2 {
      background: white !important;
    }
  }
}
