table {
  width: 98%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 30px;

  caption {
    font-size: $fn-h4-desktop;
    font-weight: $fn-bold-weight;
    text-transform: uppercase;
    letter-spacing: 2.65px;

    p {
      font-size: $fn-h4-desktop;
    }

    strong {
      font-weight: $fn-bold-weight;
    }
  }

  th {
    padding: 13px 26px;
    background: $table-header-bg;
    color: white;
    font-weight: $fn-bold-weight;
    text-transform: uppercase;
    vertical-align: middle;
  }

  tr:nth-child(even) {
    background: $fn-ltgrey;
  }

  td {
    padding: 13px 26px;
    font-weight: $fn-normal-weight;
    border: 1px solid $fn-grey;
  }
}
