.has-transition {
  opacity: 1.0;
  transition: height 500ms 0ms, opacity 500ms 500ms;

  &.transition-in {

  }

  &.transition-out {
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0.0;
    height: 0px;
    display: none;
  }
}
