body {
  font-size: 1.4rem;
}

caption,
p.disclaimer {
  font-size: $fn-small-text-desktop;
}

caption {
  padding-bottom: 5px;
  color: $fn-dkgrey;
}

a,
.as-link {
  color: $active-link-color;
  text-decoration: none;
  font-weight: $fn-medium-weight;
  &.hover,
  &:hover {
    color: $active-link-color;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &.visited,
  &:visited {
    color: $inactive-link-color;
  }
}

.as-link {
  border: none;
  background: transparent;

  &.active,
  &:active,
  &:active:focus {
    color: $inactive-link-color;
    box-shadow: none;
  }

  &:focus {
    color: $inactive-link-color;
    text-decoration: underline;
  }
}
//color variations
.green {
  color: $fn-green;
}

.red {
  color: $fn-red;
}

.yellow {
  color: $fn-yellow;
}

.blue {
  color: $fn-blue;
}

.ltblue {
  color: $fn-ltblue;
}
//style variations
strong {
  font-weight: $fn-bold-weight;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 1.5rem;
}

.monospace {
  font-family: monospace;
}

h5, .as-h5 {
  font-size: $fn-h5-desktop;
  font-weight: $fn-medium-weight;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
}
