body {
  font-size: 1.4rem;
}

caption,
p.disclaimer {
  font-size: $fn-small-text-desktop;
}

caption {
  padding-bottom: 5px;
  color: $fn-dkgrey;
}

//color variations
.green {
  color: $fn-green;
}

.red {
  color: $fn-red;
}

.yellow {
  color: $fn-yellow;
}

.blue {
  color: $fn-blue;
}

.ltblue {
  color: $fn-ltblue;
}

//style variations
strong {
  font-weight: $fn-bold-weight;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 1.5rem;
}

.monospace {
  font-family: monospace;
}
