@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,500italic,300italic,400italic,700italic);

//Font vars
$roboto: 'Roboto', 'Helvetica-Neue', sans-serif;

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #eee;
  font-size: 1.755em;
  font-weight: 300;
  margin: 0 0 15px;
  padding: 0;
}
h2 {
  font-size: 1.2em;
  font-weight: 500;
}

h3 {
  border-bottom: 1px solid #eee;
  font-size: 1.75em;
  font-weight: 300;
}


h4 {
  font-size: 1.5em;
  margin-bottom: 0;
}
p{margin-bottom: 1em;}

//text coloring
.blue{color: $fn-blue}
.red{color: $fn-red}

a.link-app{
  color: #000;
  &:hover, &:active, &.active{color: $fn-blue;}
  &:active,&.active{font-weight: bold}
}

$icon-font: "FirstNet-icons";
@font-face {
  font-family: "FirstNet-icons";
  src:url("../assets/fonts/FirstNet-icons.eot");
  src:url("../assets/fonts/FirstNet-icons.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/FirstNet-icons.woff") format("woff"),
    url("../assets/fonts/FirstNet-icons.ttf") format("truetype"),
    url("../assets/fonts/FirstNet-icons.svg#FirstNet-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "FirstNet-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -webkit-baseline-middle;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "FirstNet-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\61";
}
.icon-certificate:before {
  content: "\62";
}
.icon-checkcricle:before {
  content: "\63";
}
.icon-checkcriclegrey:before {
  content: "\64";
}
.icon-checksq:before {
  content: "\65";
}
.icon-crossout:before {
  content: "\66";
}
.icon-downarrow:before {
  content: "\67";
}
.icon-download:before {
  content: "\68";
}
.icon-edit:before {
  content: "\69";
}
.icon-graph:before {
  content: "\6a";
}
.icon-hamburger:before {
  content: "\6b";
}
.icon-information:before {
  content: "\6c";
}
.icon-lock:before {
  content: "\6d";
}
.icon-pictureicon:before {
  content: "\6e";
}
.icon-playbutton:before {
  content: "\6f";
}
.icon-profile:before {
  content: "\70";
}
.icon-ratingstar:before {
  content: "\71";
}
.icon-rightarrow:before {
  content: "\72";
}
.icon-search:before {
  content: "\73";
}
.icon-share:before {
  content: "\75";
}
.icon-uparrow:before {
  content: "\76";
}
.icon-upload:before {
  content: "\77";
}
.icon-video:before {
  content: "\78";
}
.icon-warning:before {
  content: "\79";
}
.icon-leftarrow:before {
  content: "\7a";
}
