p {
  font-size: $fn-body-default-size;
  margin-bottom: 1.5rem;
  line-height: 1.6;

  &.intro {
    font-size: $fn-intro-default-size;
  }
}

caption,
p.disclaimer {
  font-size: $fn-small-text-default-size;
}

caption {
  padding-bottom: 5px;
  color: $fn-dkgrey;
}

.as-link,
a {
  color: $active-link-color;
  text-decoration: none;
  font-weight: $fn-medium-weight;

  &.hover,
  &:hover {
    color: $active-link-color;
    text-decoration: underline;
  }

  &.active,
  &:active {
    color: $inactive-link-color;
    text-decoration: underline;
  }

  &.visited,
  &:visited {
    color: $inactive-link-color;
  }

  &.focus,
  &:focus {
    @include focus();
  }
}
//color variations
.green {
  color: $fn-green;
}

.red {
  color: $fn-red;
}

.yellow {
  color: $fn-yellow;
}

.blue {
  color: $fn-blue;
}

.ltblue {
  color: $fn-ltblue;
}
//style variations
strong {
  font-weight: $fn-bold-weight;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 1.5rem;
}

.monospace {
  font-family: monospace;
}
$icon-font: 'FirstNet-icons';
@font-face {
  font-family: 'FirstNet-icons';
  src: url('/fonts/FirstNet-icons.eot');
  src: url('/fonts/FirstNet-icons.eot?#iefix') format('embedded-opentype'), url('/fonts/FirstNet-icons.woff') format('woff'), url('/fonts/FirstNet-icons.ttf') format('truetype'), url('/fonts/FirstNet-icons.svg#FirstNet-icons') format('svg');
  font-weight: $fn-normal-weight;
  font-size: 2.0rem;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'FirstNet-icons' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: $fn-normal-weight !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -webkit-baseline-middle;
}

[class*=' icon-']:before,
[class^='icon-']:before {
  font-family: 'FirstNet-icons' !important;
  font-size: 1.8rem;
  vertical-align: text-top;
  font-style: normal !important;
  font-weight: $fn-normal-weight !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
