body {
  font-size: 1.4rem;
}

p {
  font-size: $fn-body-default-size;
  margin-bottom: 1.5rem;
  line-height: 1.6;

  &.intro {
    font-size: $fn-intro-default-size;
  }
}

caption,
p.disclaimer {
  font-size: $fn-small-text-default-size;
}

caption {
  padding-bottom: 5px;
  color: $fn-dkgrey;
}

.as-link,
a {
  color: $active-link-color;
  text-decoration: none;
  font-weight: $fn-medium-weight;

  &.hover,
  &:hover {
    color: $active-link-color;
    text-decoration: underline;
  }

  &.active,
  &:active {
    color: $inactive-link-color;
    text-decoration: underline;
  }

  &.visited,
  &:visited {
    color: $inactive-link-color;
  }

  &.focus,
  &:focus {
    @include focus();
  }
}
//color variations
.green {
  color: $fn-green;
}

.red {
  color: $fn-red;
}

.yellow {
  color: $fn-yellow;
}

.blue {
  color: $fn-blue;
}

.ltblue {
  color: $fn-ltblue;
}
//style variations
strong {
  font-weight: $fn-bold-weight;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 1.5rem;
}

.monospace {
  font-family: monospace;
}

h5, .as-h5 {
  font-size: $fn-h5-default-size;
  font-weight: $fn-medium-weight;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
}
