@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.woff') format('woff'), url('/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto-Regular.woff2') format('woff2'), url('/fonts/Roboto-Regular.woff') format('woff'), url('/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Roboto-Medium.woff2') format('woff2'), url('/fonts/Roboto-Medium.woff') format('woff'), url('/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.woff') format('woff'), url('/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
}
$roboto: 'Roboto', 'Helvetica-Neue', sans-serif;

html {
  font-family: $roboto;
  font-size: 62.5% !important; //sets rem to base 10 instead of base 16
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-bottom: 1.6rem;
  line-height: 1.6;
  &:focus {
    @include focus();
  }
}

.as-h1,
h1 {
  font-size: $fn-h1-default-size;
  font-weight: $fn-normal-weight;
  line-height: 1.2; //58 leading
}

.as-h2,
h2 {
  font-size: $fn-h2-default-size;
  font-weight: $fn-normal-weight;
  line-height: 1.12; //40 leading
}

.as-h3,
h3 {
  font-size: $fn-h3-default-size;
  font-weight: $fn-normal-weight;
  line-height: 1.07; //30 leading
}

.as-h4,
h4 {
  font-size: $fn-h4-default-size;
  font-weight: $fn-medium-weight;
  text-transform: uppercase;
  letter-spacing: 2.65px;
}

p {
  font-size: $fn-body-default-size;
  margin-bottom: 1.5rem;
  line-height: 1.6;

  &.intro {
    font-size: $fn-intro-default-size;
  }
}

caption,
p.disclaimer {
  font-size: $fn-small-text-default-size;
}

caption {
  padding-bottom: 5px;
  color: $fn-dkgrey;
}

.as-link,
a {
  color: $active-link-color;
  text-decoration: none;
  font-weight: $fn-medium-weight;

  &.hover,
  &:hover {
    color: $active-link-color;
    text-decoration: underline;
  }

  &.active,
  &:active {
    color: $inactive-link-color;
    text-decoration: underline;
  }

  &.visited,
  &:visited {
    color: $inactive-link-color;
  }

  &.focus,
  &:focus {
    @include focus();
  }
}
//color variations
.green {
  color: $fn-green;
}

.red {
  color: $fn-red;
}

.yellow {
  color: $fn-yellow;
}

.blue {
  color: $fn-blue;
}

.ltblue {
  color: $fn-ltblue;
}
//style variations
strong {
  font-weight: $fn-bold-weight;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 1.5rem;
}

.monospace {
  font-family: monospace;
}
$icon-font: 'FirstNet-icons';
@font-face {
  font-family: 'FirstNet-icons';
  src: url('/fonts/FirstNet-icons.eot');
  src: url('/fonts/FirstNet-icons.eot?#iefix') format('embedded-opentype'), url('/fonts/FirstNet-icons.woff') format('woff'), url('/fonts/FirstNet-icons.ttf') format('truetype'), url('/fonts/FirstNet-icons.svg#FirstNet-icons') format('svg');
  font-weight: $fn-normal-weight;
  font-size: 2.0rem;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'FirstNet-icons' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: $fn-normal-weight !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -webkit-baseline-middle;
}

[class*=' icon-']:before,
[class^='icon-']:before {
  font-family: 'FirstNet-icons' !important;
  font-size: 1.8rem;
  vertical-align: text-top;
  font-style: normal !important;
  font-weight: $fn-normal-weight !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.icon-help:before {
  content: '\61';
}

.icon-profile:before {
  content: '\62';
}

.icon-search:before {
  content: '\63';
}

.icon-print:before {
  content: '\64';
}

.icon-comment:before {
  content: '\65';
}

.icon-arrowDown:before {
  content: '\66';
}

.icon-arrowRight:before {
  content: '\67';
}

.icon-arrowUp:before {
  content: '\68';
}

.icon-arrowLeft:before {
  content: '\69';
}

.icon-logout:before {
  content: '\6a';
}

.icon-email:before {
  content: '\6b';
}

.icon-checkmark:before {
  content: "\6c";
}

.icon-close:before {
  content: "\6d";
}

.icon-file:before {
  content: '\6e';
}

.icon-pencil:before {
  content: "\6f";
}

.icon-trash:before {
  content: "\70";
}

.icon-circle-x:before {
  content: "\71";
  transform: rotate(45deg);
  display: inline-block;
}

.icon-facebook:before {
  content: "\72";
}

.icon-twitter:before {
  content: "\73";
}

.icon-tumblr:before {
  content: "\74";
}

.icon-youtube:before {
  content: "\75";
}

.icon-linkedin:before {
  content: "\76";
}
