section.placeholder{
  border: 2px dashed #ccc;
  text-align: center;
  min-height: 250px;
  width: 100%;
  &-long{
    min-height: 850px;
    border: 1px solid #ccc;
  }
  h2{
    margin-top: 60px;
  }
  &.alert-dropdown{
    height: 48px;
    min-height: auto;
    background: $fn-grey;
    line-height: 48px;
  }
  &.geolink{}
  &.news-feed{}
  &.mp-links{border:0 none;}
}

$device: "screen and (max-width: #{$screen-sm-max})";
$desktop: "screen and (min-width: #{$screen-sm-max})";
$mobile:  "screen and (max-width: #{$screen-xs-max})";
$tablet:  "screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$normal:  "screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$wide:    "screen and (min-width: #{$screen-lg-min})";

/*
@media only screen and (min-width : 0px) {
}
@media only screen and (min-width : 992px) {
}
@media only screen and (min-width : 1200px) {

}
*/
