//global colors
$fn-dark: #000;
$fn-blue: #0072bc;
$fn-ltblue: #3bb2ff;
$fn-red: #e34b25;
$fn-orange: #ff7a29;
$fn-yellow: #fcb31c;

$fn-green: #44a064;
$fn-dark: #000;
$fn-dkgrey: #4a4a4a;
$fn-grey: #e1e1e1;
$fn-ltgrey: #fafafa;

//form colors
$input-outline: #a6a6a6;
$hint-color: #a6a6a6;
